# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

*.log
*.iws
bin/
bundles/idesktop_bundles/
bundles/require_bundles/
bundles/bundle_cache/
release/bin/
release/bundles/
release/Configuration/
release/jre_64/
release/Resources/
release/Templates/
release/WorkEnvironment/
release/iDesktop.jar
out/
Assistant/target/
Controls/target/
Core/target/
DataConversion/target/
DataEditor/target/
DataProcess/target/
DataTopology/target/
DataView/target/
Frame/target/
iDesktop/target/
LayoutEditor/target/
LayoutView/target/
LBSClient/target/
MapEditor/target/
MapView/target/
NetServices/target/
RealspaceEditor/target/
RealspaceEffect/target/
RealspaceView/target/
SpatialAnalyst/target/
TabularView/target/
Process/target/
.metadata/
.recommenders/
/Configuration/SuperMap.Desktop.RecentFile.xml
/Core/bin/com.supermap.analyst.addressmatching.jar
/Core/bin/com.supermap.analyst.navigation.jar
/Core/bin/com.supermap.analyst.networkanalyst.jar
/Core/bin/com.supermap.analyst.spatialanalyst.jar
/Core/bin/com.supermap.analyst.spatialstatistics.jar
/Core/bin/com.supermap.analyst.terrainanalyst.jar
/Core/bin/com.supermap.analyst.trafficanalyst.jar
/Core/bin/com.supermap.chart.conversion.jar
/Core/bin/com.supermap.chart.jar
/Core/bin/com.supermap.data.conversion.jar
/Core/bin/com.supermap.data.jar
/Core/bin/com.supermap.data.topology.jar
/Core/bin/com.supermap.layout.jar
/Core/bin/com.supermap.license.jar
/Core/bin/com.supermap.mapping.jar
/Core/bin/com.supermap.realspace.jar
/Core/bin/com.supermap.realspace.networkanalyst.jar
/Core/bin/com.supermap.realspace.spatialanalyst.jar
/Core/bin/com.supermap.tilestorage.jar
/Core/bin/com.supermap.ui.controls.jar
/Core/bin/com.supermap.data.processing.jar
/Configuration/UserConfig.config
/Configuration/Products.xml
/Configuration/URL.config
/log
/Templates/Projection/Projection.xml
