# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

bin/
Bin/
.metadata/
.recommenders/
/Configuration/SuperMap.Desktop.RecentFile.xml
/MapView/.settings/org.sonar.ide.eclipse.core.prefs
org.sonar.ide.eclipse.core.prefs
/Assistant/.settings/org.sonar.ide.eclipse.core.prefs
/Controls/.settings/org.sonar.ide.eclipse.core.prefs
/Core/.settings/org.sonar.ide.eclipse.core.prefs
/DataConversion/.settings/org.sonar.ide.eclipse.core.prefs
/DataEditor/.settings/org.sonar.ide.eclipse.core.prefs
/DataProcess/.settings/org.sonar.ide.eclipse.core.prefs
/DataTopology/.settings/org.sonar.ide.eclipse.core.prefs
/DataView/.settings/org.sonar.ide.eclipse.core.prefs
/Frame/.settings/org.sonar.ide.eclipse.core.prefs
/iDesktop/.settings/org.sonar.ide.eclipse.core.prefs
/LayoutEditor/.settings/org.sonar.ide.eclipse.core.prefs
/MapEditor/.settings/org.sonar.ide.eclipse.core.prefs
/RealspaceEditor/.settings/org.sonar.ide.eclipse.core.prefs
/RealspaceView/.settings/org.sonar.ide.eclipse.core.prefs
/SpatialAnalyst/.settings/org.sonar.ide.eclipse.core.prefs
/TabularView/.settings/org.sonar.ide.eclipse.core.prefs
/.sonar
/Core/lib/com.supermap.analyst.addressmatching.jar
/Core/lib/com.supermap.analyst.navigation.jar
/Core/lib/com.supermap.analyst.networkanalyst.jar
/Core/lib/com.supermap.analyst.spatialanalyst.jar
/Core/lib/com.supermap.analyst.spatialstatistics.jar
/Core/lib/com.supermap.analyst.terrainanalyst.jar
/Core/lib/com.supermap.analyst.trafficanalyst.jar
/Core/lib/com.supermap.chart.convertion.jar
/Core/lib/com.supermap.chart.jar
/Core/lib/com.supermap.data.conversion.jar
/Core/lib/com.supermap.data.jar
/Core/lib/com.supermap.data.topology.jar
/Core/lib/com.supermap.layout.jar
/Core/lib/com.supermap.license.jar
/Core/lib/com.supermap.mapping.jar
/Core/lib/com.supermap.realspace.jar
/Core/lib/com.supermap.realspace.networkanalyst.jar
/Core/lib/com.supermap.realspace.spatialanalyst.jar
/Core/lib/com.supermap.tilestorage.jar
/Core/lib/com.supermap.ui.controls.jar
/Core/lib/com.supermap.data.processing.jar
/Configuration/UserConfig.config
/Configuration/Products.xml
/Configuration/URL.config
/log