#sidebar
  width: sidebar-width
  float: left
  padding-bottom: 40px
  opacity: 0.8
  margin-left: sidebar-width * -1
  display: none
  @media mq-normal
    display: block

.sidebar-title
  margin-top: 10px
  padding: 5px 0
  font-family: font-title
  font-weight: bold
  color: color-link
  display: inline-block
  line-height: 1

.sidebar-link
  font-family: font-title
  display: block
  color: color-default
  text-decoration: none
  padding: 7px 0
  line-height: 1
  position: relative
  width: 100%
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  &.current
    color: color-link
  &:hover
    color: color-link-hover
    
.sidebar-subtitle
  margin-top: 5px
  padding-left 20px 5px
  font-size 15px
  color: #000
  display: inline-block
  line-height: 1em
  font-weight normal
  outline 0
  &:hover
    background-color #F5F5F5
