layout: index
description: SuperMap iDesktop Cross 9D is a cross-platform desktop GIS software, which is a new generation of open source GIS desktop products.
subtitle: SuperMap iDesktop Cross 9D
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bell-o
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/index.html' target='_self') Getting Start
      p.intro-feature-desc SuperMap iDesktop Cross is a cross-platform, open source desktop GIS software that can be run on Windows and Linux systems, and the GIS data is displayed in a cross-platform environment.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/DataProcess/TopoProcess.html') Data Processing And Analysis
      p.intro-feature-desc SuperMap iDesktop Cross provides abundant vector and delete data processing and spatial analysis function, and also provides professional spatial statistical analysis function.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-map-marker
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/Map/ThematicMap.html') Mapping
      p.intro-feature-desc The SuperMap iDesktop Cross supports the production of multiple types of thematic maps, while providing rich symbolic resources for users to make beautiful maps.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-sitemap
      h3.intro-feature-title
        a.intro-feature-title-a Model Builder
      p.intro-feature-desc The Model Builder has a rich collection of data processing and data analysis modeling capabilities. Users can design a visual Model that can be continuously executed according to the requirements of the Model, and realize the continuous operation of unattended and one-click.