layout: index
description: SuperMap iDesktop Cross 9D is a new SuperMap GIS Desktop product which is open-source and supports cross-platform.
subtitle: SuperMap iDesktop Cross 9D
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bell-o
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/index.html' target='_self') Getting started
      p.intro-feature-desc SuperMap iDesktop Cross 9D is a GIS application and development platform system which can run on Windows or Linux, it achieves the display of GIS data in different envorinments.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title
        a.intro-feature-title-a Data processing and analysis
      p.intro-feature-desc Aboundant features have been provided to process and analyze vector or raster data, including: topological processing, SQL query, projection, raster query, buffer analysis and so on, also the object drawing and object edit is supported.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-map-marker
      h3.intro-feature-title
        a.intro-feature-title-a Mapping
      p.intro-feature-desc Providing aboudant symbol resource and many kinds of creations for thematic map, which can make user create more beautiful maps.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-sitemap
      h3.intro-feature-title
        a.intro-feature-title-a Visual Modeling
      p.intro-feature-desc The feature combines data processing and data analysis modeling, users can design visual model that can be executed continuously.