<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="DataEditor Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.DataEditor" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
            <group id="Datasource" index="1" label="数据源" visible="true">
                <buttonDropdown id="New" image="../Resources/DataEditor/Menu/File/NewDatasource.png" index="1" label="新建数据源" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="1" label="文件型..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型（UDB）数据源" screenTipImage="" shortcutKey="[Ctrl]+[N]" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="2" label="数据库型..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="3" label="内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
            </group>
        </frameMenu>
        <frameMenu formClass="" id="Dataset" index="10" label="数据集" visible="true">
            <group id="DatasetOperate" index="0" label="新建数据集" visible="true">
                <button checkState="false" image="" index="0" label="新建数据集..." onAction="CtrlActionNewDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="2" label="删除数据集..." onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="3" label="关闭数据集" onAction="CtrlActionCloseDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <!--<button checkState="false" image="" index="4" label="查找数据集..." onAction="CtrlActionSearchDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
            </group>
            <group id="Vector" index="2" label="矢量" visible="true">
                <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/AddtoRow.htm" image="../Resources/DataEditor/Menu/Dataset/DatasetAppendRow.png" index="1" label="追加行" onAction="CtrlActionDatasetAppendRow" screenTip="实现把一个或几个数据集中的记录（行）追加到另一个数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/AddtoList.htm" image="../Resources/DataEditor/Menu/Dataset/DatasetAppendColumn.png" index="2" label="追加列" onAction="CtrlActionDatasetAppendColumn" screenTip="用源数据集的属性表的字段（列）更新目标数据集的属性表字段，添加其所不具备的字段及对应的属性值。" screenTipImage="" shortcutKey="" visible="true"/>-->
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" image="../Resources/DataEditor/Menu/Dataset/CreateSpatialIndex.png" index="3" label="重建空间索引..." onAction="CtrlActionCreateSpatialIndex" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" shortcutKey="" visible="true"/>
                <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/FieldIndex.htm" image="" index="4" label="字段索引" onAction="CtrlActionFieldIndexManager" screenTip="为数据集中的一个或者多个字段创建索引，有助于快速查找和排序数据。" screenTipImage="" shortcutKey="" visible="true"/>-->
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/FieldIndex.htm" image="../Resources/DataEditor/Menu/Dataset/RebuildBounds.png" index="5" label="重新计算范围" onAction="CtrlActionRebuildBounds" screenTip="重新计算数据集范围。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Raster" index="4" label="栅格" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/PyromidManagement.htm" image="../Resources/DataEditor/Menu/Dataset/Pyramid.png" index="4" label="影像金字塔..." onAction="CtrlActionPyramid" screenTip="打开影像金字塔管理窗口，为影像数据集和栅格数据集创建影像金字塔或者删除已创建的影像金字塔。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
        <frameMenu formClass="" id="DataProcess" index="12" label="数据处理" visible="true">
            <group id="TransformationGroup" index="0" label="配准" visible="true">
                <buttonDropdown id="TransformationDropdown" image="" index="0" label="配准" visible="true">
                    <group id="TransformationGroup" index="0" label="配准" visible="true">
                        <button checkState="false" customProperty="" helpURL="Features\DataProcessing\RegistrationewRegistration.htm" image="../Resources/Assistance/Menu/DataProcess/Transformation.png" index="1" label="新建配准" onAction="CtrlActionNewTransformationForm" screenTip="新建一个配准窗口，对单个配准数据集进行配准。" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Registration\BatchRegistration.htm" image="" index="2" label="批量配准" onAction="CtrlActionBatchTransformation" screenTip="利用配准信息文件，对多个数据集进行批量配准。" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
            </group>
        </frameMenu>
        <!--<frameMenu formClass="" id="Tool" index="20" label="工具" visible="true">
          <group id="data" index="3" label="数据" visible="true">
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\DataManagement\ContractionDS.htm" image="../Resources/DataEditor/Icon/Datasource/Operation/CompactDatasource.png" index="0" label="紧缩数据源" onAction="CtrlActionCompactDatasource" screenTip="对文件型（UDB）数据源进行压缩，使其减少数据量、减少占用的磁盘空间。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </frameMenu>-->
        <frameMenu formClass="SuperMap.Desktop.FormTransformation" id="TransformationPara" index="501" label="配准" visible="true">
            <group id="marketset" index="0" label="控制点设置" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/pointting.htm" image="../Resources/DataEditor/Transformation/menuBar/addPoint.png" index="0" label="刺点" onAction="CtrlActionTransformationAddPoint" screenTip="刺点工具用来帮助用户在配准图层和参考图层上选择合适的控制点。" screenTipImage="" shortcutKey="[S]" visible="true"/>
            </group>
            <group id="Browse" index="1" label="浏览" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/Visualization/BrowseMap/ZoomInOut.htm" image="../Resources/MapView/Icon/Map/Browse/Zoomin.png" index="0" label="放大地图" onAction="CtrlActionTransformationZoomIn" screenTip="放大地图（Z）" screenTipImage="" shortcutKey="[Z]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Visualization/BrowseMap/ZoomInOut.htm" image="../Resources/MapView/Icon/Map/Browse/Zoomout.png" index="1" label="缩小地图" onAction="CtrlActionTransformationZoomOut" screenTip="缩小地图" screenTipImage="" shortcutKey="[X]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Visualization/BrowseMap/EntireView.htm" image="../Resources/MapView/Icon/Map/Browse/Entire.png" index="2" label="全幅显示" onAction="CtrlActionTransformationViewEntire" screenTip="全幅显示地图(F6)" screenTipImage="" shortcutKey="F6" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Visualization/BrowseMap/Pan.htm" image="../Resources/MapView/Icon/Map/Browse/Pan.png" index="11" label="漫游" onAction="CtrlActionTransformationPan" screenTip="在地图窗口中漫游浏览地图或者实时漫游浏览地图。" screenTipImage="" shortcutKey="[A]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Visualization/BrowseMap/Pan.htm" image="../Resources/MapView/Icon/Map/Browse/PanSyn.png" index="12" label="实时漫游" onAction="CtrlActionTransformationPan2" screenTip="在地图窗口中漫游浏览地图或者实时漫游浏览地图。" screenTipImage="" shortcutKey="" visible="true"/>
                <!--<box customProperty="" id="TargetBackcolor" index="3" label="" layoutStyle="Horizontal" visible="true">
                    <label index="0" label="配准窗口背景色:" visible="true" width="0"/>
                    <colorButton checkState="false" image="../Resources/Assistance/Icon/Transformation.BackColor.png"
                                 index="1" isShowTransparentColor="false" label=""
                                 onAction="CtrlActionTransformTargetWindowBackcolor"
                                 screenTip="设置配准窗口的背景颜色。" screenTipImage="" visible="true"/>
                </box>
                <box customProperty="" id="ReferenceBackcolor" index="4" label="" layoutStyle="Horizontal"
                     visible="true">
                    <label index="1" label="参考窗口背景色:" visible="true" width="0"/>
                    <colorButton checkState="false" image="../Resources/Assistance/Icon/Transformation.BackColor.png"
                                 index="3" isShowTransparentColor="false" label=""
                                 onAction="CtrlActionTransformReferenceWindowBackcolor" screenTip="设置参考窗口的背景颜色。"
                                 screenTipImage="" visible="true"/>
                </box>-->
            </group>
            <group id="BindMap" index="3" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/pointting.htm" image="../Resources/Assistance/Icon/Transformation/BindMap.png" index="2" label="关联浏览" onAction="CtrlActionOriginalReferenceLinkage" screenTip="配准地图和参考地图联动操作。" screenTipImage="" shortcutKey="[L]" visible="true"/>
            </group>
            <group id="Import" index="4" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/importGCP.htm" image="../Resources/DataEditor/Transformation/menuBar/import.png" index="5" label="导入" onAction="CtrlActionTransformInput" screenTip="用来导入控制信息文件（*.drfu）。" screenTipImage="" shortcutKey="Alt+I" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/exportGCP.htm" image="../Resources/DataEditor/Transformation/menuBar/export.png" index="6" label="导出" onAction="CtrlActionTransformOutput" screenTip="用来将当前控制点列表中的所有控制点信息导出。" screenTipImage="" shortcutKey="Alt+O" visible="true"/>
            </group>
            <!--算法选择方式需实现 <group id="computeMode" index="4" label="算法" visible="true">
                 <box customProperty="" id="ItemBox" index="2" label="" layoutStyle="Vertical" visible="true">
                     <label index="0" label="配准算法:" visible="true" width="0"/>
                     <comboBox customProperty="" dropDownStyle="DropDownList"
                               helpURL="Features/DataProcessing/Registration/ChooseRegistrationMode.htm"
                               id="TransformMode" image="" index="1" label="" onAction="CtrlActionTransformMode"
                               screenTip="设置进行配准时的算法，提供了线性配准、二次多项式配准、矩形配准和偏移配准四种算法。" screenTipImage="" visible="true"
                               width="150"/>
                 </box>
             </group>-->
            <!--重采样<group id="GridParam" index="5" label="栅格/影像参数" visible="true">
                <box customProperty="" id="ItemBoxCheck" index="0" label="ItemBox" layoutStyle="Horizontal"
                     visible="true">
                    <checkBox checkState="false" customProperty=""
                              helpURL="Features/DataProcessing/Registration/rasterparagroup.htm" index="0"
                              label="配准结果重采样" onAction="CtrlActionTransformIsResample"
                              screenTip="是否对结果进行重采样。" screenTipImage="" visible="true" width="0"/>
                </box>
                <box customProperty="" id="Mode" index="1" label="" layoutStyle="Horizontal" visible="true">
                    <label index="0" label="模式:" visible="true" width="0"/>
                    <comboBox customProperty="" dropDownStyle="DropDownList"
                              helpURL="Features/DataProcessing/Registration/resamplemode.htm" id="ResampleMode" image=""
                              index="1" label="" onAction="CtrlActionTransformResampleMode"
                              screenTip="重采样模式。" screenTipImage="" visible="true" width="100"/>
                </box>
                <box customProperty="" id="cellSize" index="2" label="" layoutStyle="Horizontal" visible="true">
                    <label index="0" label="像素:" visible="true" width="0"/>
                    <textBox customProperty="" helpURL="Features/DataProcessing/Registration/resamplemode.htm" index="1"
                             onAction="CtrlActionTransformCellsize" readOnly="false"
                             screenTip="重采样像素大小。" screenTipImage="" text="" visible="true" width="100"/>
                </box>
            </group>-->
            <group id="Conputer" index="7" label="运算" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/calculateError.htm" image="../Resources/DataEditor/Transformation/menuBar/calculate.png" index="0" label="计算误差" onAction="CtrlActionComputeError" screenTip="计算控制点列表中所有控制点的误差，包括 X 残差、Y 残差以及均方根误差。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/PerformRegistration.htm" image="../Resources/DataEditor/Transformation/menuBar/transform.png" index="1" label="配准" onAction="CtrlActionTransform" screenTip="执行配准操作。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar id="main" index="0" label="标准" rowIndex="0" visible="true">
            <!--<button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Datasource/New.png" index="5" label="新建数据源" onAction="CtrlActionDatasourceNewFile" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
            <buttonDropdown id="New" image="../Resources/DataEditor/Toolbar/Home/Datasource/New.png" index="5" label="新建数据源" onAction="CtrlActionDatasourceNewFile" visible="true">
                <group id="" index="" label="" visible="">
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="1" label="文件型..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型（UDB）数据源" screenTipImage="" shortcutKey="[Ctrl]+[N]" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="2" label="数据库型..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="3" label="内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
            </buttonDropdown>
            <separator index="6"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Cut.png" index="7" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Copy.png" index="8" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Paste.png" index="9" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Delete.png" index="10" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <separator index="11"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Undo.png" index="12" label="撤销" onAction="CtrlActionUndo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Redo.png" index="13" label="重做" onAction="CtrlActionRedo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <separator index="14"/>
        </toolbar>
        <toolbar formClass="SuperMap.Desktop.FormTransformation" id="FormTransformation" index="1" label="配准" rowIndex="0" visible="true">
            <button checkState="false" image="../Resources/DataEditor/Transformation/toolbar/addPoint.png" index="0" label="刺点" onAction="CtrlActionTransformationAddPoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Transformation/toolbar/delete.png" index="1" label="删除点" onAction="CtrlActionTransformationDeletePoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Transformation/toolbar/addData.png" index="2"
                    label="添加图层" onAction="CtrlActionTransformationAddLayer" screenTip="添加数据集或地图到当前窗口中。"
                    screenTipImage="" shortcutKey="" visible="true"/>
            <separator index="2"/>
            <button checkState="false" image="../Resources/MapView/Toolbar/MapOperator/ZoomIn.png" index="3" label="放大地图" onAction="CtrlActionTransformationZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapView/Toolbar/MapOperator/ZoomOut.png" index="4" label="缩小地图" onAction="CtrlActionTransformationZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapView/Toolbar/MapOperator/MapPan.png" index="5" label="漫游地图" onAction="CtrlActionTransformationPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapView/Toolbar/MapOperator/MapViewEntire.png" index="6" label="全幅显示" onAction="CtrlActionTransformationViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <separator index="7"/>
            <!-->配准算法<!-->
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/importGCP.htm" image="../Resources/DataEditor/Transformation/toolbar/import.png" index="8" label="导入" onAction="CtrlActionTransformInput" screenTip="用来导入控制信息文件（*.drfu）。" screenTipImage="" shortcutKey="Alt+I" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/exportGCP.htm" image="../Resources/DataEditor/Transformation/toolbar/export.png" index="9" label="导出" onAction="CtrlActionTransformOutput" screenTip="用来将当前控制点列表中的所有控制点信息导出。" screenTipImage="" shortcutKey="Alt+O" visible="true"/>
            <separator index="10"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/calculateError.htm" image="../Resources/DataEditor/Transformation/toolbar/calculate.png" index="11" label="计算误差" onAction="SuperMap.Desktop.CtrlActionComputeError" screenTip="计算控制点列表中所有控制点的误差，包括 X 残差、Y 残差以及均方根误差。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Registration/PerformRegistration.htm" image="../Resources/DataEditor/Transformation/toolbar/transformation.png" index="12" label="配准" onAction="CtrlActionTransform" screenTip="执行配准操作。" screenTipImage="" shortcutKey="" visible="true"/>
            <!-->刺点颜色<!-->
        </toolbar>
    </toolbars>
    <dockbars/>
    <contextMenus>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasources" index="1" label="工作空间管理器_数据源集合">
            <group id="CreateDatasource" index="1" label="新建数据源" visible="true">
                <button checkState="false" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="0" label="新建文件型数据源..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型数据源" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="新建数据库型数据源..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="2" label="新建内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource" index="2" label="工作空间管理器_数据源">
            <group id="DatasetOperate" index="0" label="新建数据集" visible="true">
                <button checkState="false" image="" index="0" label="新建数据集..." onAction="CtrlActionNewDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="2" label="删除数据集..." onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <!--<group id="DatasourceOperate1" index="2" label="数据源操作" visible="true">
              <button checkState="false" image="" index="5" label="复制数据源..." onAction="CtrlActionLoadDatasourceStruct" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" image="../Resources/DataEditor/Menu/Datasource/CompactDatasource.png" index="6" label="紧缩数据源..." onAction="CtrlActionActiveCompactDatasource" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>-->
        </contextMenu>
        <!--<contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGroup" index="66" label="海图_数据集分组">
          <group id="DatasetChart" index="0" label="删除分组" visible="true">
            <button checkState="false" image="" index="3" label="删除分组" onAction="CtrlActionDelDatasetGroup" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </contextMenu>-->
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector" index="3" label="工作空间管理器_矢量数据集">
            <group id="CopyDatasets" index="3" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="ReBuildSpaticalIndex" index="4" label="" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" image="../Resources/DataEditor/Menu/Dataset/SpatialIndex.png" index="3" label="重建空间索引..." onAction="CtrlActionCreateSpatialIndex" screenTip="打开空间索引管理对话框，对数据集的空间索引进行查看、创建和修改。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="5" label="" visible="true">
                <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/RebuildBounds.png" index="0" label="重新计算范围" onAction="CtrlActionRebuildBounds" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular" index="4" label="工作空间管理器_属性数据集">
            <group id="CopyDatasets" index="1" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group customProperty="" id="Operate Dataset" index="4" label="数据集操作" visible="true">
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGrid" index="5" label="工作空间管理器_栅格数据集">
            <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate pyramid" index="3" label="影像金字塔" visible="true">
                <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="2" label="重新计算极值" onAction="CtrlActionCalculateExtremum" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="6" label="数据集操作" visible="true">
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImage" index="6" label="工作空间管理器_影像数据集">
            <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate pyramid" index="4" label="影像金字塔" visible="true">
                <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="5" label="数据集操作" visible="true">
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImageCollection" index="11" label="工作空间管理器_影像数据集集合">
            <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate pyramid" index="4" label="影像金字塔" visible="true">
                <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="5" label="数据集操作" visible="true">
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTopology" index="24" label="图层管理器_拓扑数据集">
            <group id="Operate Dataset" index="3" label="数据集操作" visible="true">
                <button checkState="false" image="" index="0" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="1" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDataset" index="7" label="工作空间管理器_多种数据集">
            <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
                <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="3" label="数据集操作" visible="true">
                <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormTransformation.TransformationItemsContextMenu" index="35" label="配准窗口_控制点">
            <group id="Center" index="0" label="定位选中点" visible="true">
                <button checkState="false" image="" index="0" label="定位选中点" onAction="CtrlActionCenterOriginal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DeleteSelect" index="1" label="删除" visible="true">
                <button checkState="false" image="" index="0" label="删除" onAction="CtrlActionDeleteTransformItems" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Input" index="2" label="导入/导出配准信息" visible="true">
                <button checkState="false" image="" index="0" label="导出配准信息..." onAction="CtrlActionTransformOutput" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="0" label="导入配准信息..." onAction="CtrlActionTransformInput" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormTransformation.TransformationMapsContextMenu" index="36" label="配准窗口_地图">
            <group id="group1" index="0" label="刺点" visible="true">
                <button checkState="false" image="../Resources/Assistance/Icon/Transformation/AddMarket.png" index="0" label="刺点" onAction="CtrlActionTransformationAddPoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="group0" index="1" label="浏览配准窗口" visible="true">
                <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Zoomin.png" index="0" label="放大地图" onAction="CtrlActionTransformationZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Zoomout.png" index="1" label="缩小地图" onAction="CtrlActionTransformationZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Pan.png" index="3" label="漫游地图" onAction="CtrlActionTransformationPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Entire.png" index="4" label="全幅显示" onAction="CtrlActionTransformationViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="group2" index="2" label="关联浏览" visible="true">
                <button checkState="true" image="" index="0" label="关联浏览" onAction="SuperMap.Desktop.CtrlActionOriginalReferenceLinkage" screenTip="参考地图和配准地图联动操作。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="group3" index="3" label="地图属性" visible="true">
                <button checkState="true" image="../Resources/MapView/Toolbar/MapOperator/Property.png" index="0" label="地图属性" onAction="CtrlActionMapProperty" screenTip="打开地图属性设置面板" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>
    <statusbars>
        <statusbar formClass="com.supermap.desktop.FormTransformation" id="FormTransformation" visible="true">
            <label index="1" label="鼠标位置：" visible="true" width="120"/>
            <textBox index="2" readOnly="true" screenTip="" screenTipImage="" text="经度：***，纬度：***" visible="true" width="0"/>
            <textBox index="3" readOnly="true" screenTip="" screenTipImage="" text="坐标系：GCS_WGS_1984" visible="true" width="0"/>
            <label index="4" label="中心点：" visible="true" width="0"/>
            <textBox index="5" onAction="CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>
            <textBox index="6" onAction="CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>
            <label index="7" label="比例尺：" visible="true" width="0"/>
            <textBox index="8" text="1:5000" visible="true"/>
            <!--<comboBox customProperty="" helpURL="" id="Scale" image="" index="9" label="" onAction="CtrlActionMapScale"-->
            <!--screenTip="" screenTipImage="" visible="true" width="180">-->
            <!--<item customProperty="" image="" index="0" label="1:5,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:10,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:25,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:50,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:100,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:250,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:500,000"/>-->
            <!--<item customProperty="" image="" index="0" label="1:1,000,000"/>-->
            <!--</comboBox>-->
        </statusbar>
    </statusbars>
</plugin>
