<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="MapEditor Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.MapEditor" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/MapEditor/SuperMap.Desktop.MapEditor.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="SuperMap.Desktop.FormMap" id="MapOperation" index="100" label="地图" visible="true">
      <group id="Theme" image="" index="2" label="" visible="true">
        <button checkState="false" customProperty="1" helpURL="" image="../Resources/MapEditor/Toolbar/GeometryEditor/CADStyle.png" index="2" label="CAD风格..." onAction="CtrlActionCADStyle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
    <frameMenu formClass="SuperMap.Desktop.FormMap" id="MapDraw" index="105" label="对象操作" visible="true">
      <group id="Editor" index="1" label="地图编辑" visible="true">
        <buttonDropdown id="MapEdit" image="" index="3" label="地图编辑" visible="true">
          <group id="" index="1" label="" visible="">
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Cut.png" index="7" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Copy.png" index="8" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Paste.png" index="9" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Delete.png" index="10" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Undo.png" index="12" label="撤销" onAction="CtrlActionUndo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Redo.png" index="13" label="重做" onAction="CtrlActionRedo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
      <group id="GeometryCreate" index="3" label="对象绘制" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Point.png" index="1" label="点" onAction="CtrlActionCreatePoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="直线" onAction="CtrlActionCreatePolyline" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Line.png" index="1" label="直线" onAction="CtrlActionCreateLine" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="折线" onAction="CtrlActionCreatePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallel.png" index="7" label="平行线" onAction="CtrlActionCreateParallel" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="3" label="曲线" onAction="CtrlActionCreateBSpline" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="2" label="B样条曲线" onAction="CtrlActionCreateBSpline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Cardinal.png" index="4" label="Cardinal曲线" onAction="CtrlActionCreateCardinal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Curve.png" index="5" label="贝兹曲线" onAction="CtrlActionCreateCurve" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/FreePolyline.png" index="6" label="自由曲线" onAction="CtrlActionCreateFreePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="4" label="弧线" onAction="CtrlActionCreateEllipseArc" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Arc3P.png" index="3" label="三点弧" onAction="CtrlActionCreateArc3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="6" label="椭圆弧" onAction="CtrlActionCreateEllipseArc" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="5" label="多边形" onAction="CtrlActionCreatePolygon" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rectangle.png" index="8" label="矩形" onAction="CtrlActionCreateRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RoundRectangle.png" index="9" label="圆角矩形" onAction="CtrlActionCreateRoundRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="10" label="多边形" onAction="CtrlActionCreatePolygon" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallelogram.png" index="11" label="平行四边形" onAction="CtrlActionCreateParallelogram" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="6" label="椭圆" onAction="CtrlActionCreateEllipse" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle.png" index="12" label="圆心圆" onAction="CtrlActionCreateCircle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle2P.png" index="13" label="二点圆" onAction="CtrlActionCreateCircle2P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle3P.png" index="13" label="三点圆" onAction="CtrlActionCreateCircle3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Pie.png" index="14" label="扇形" onAction="CtrlActionCreatePie" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="15" label="椭圆" onAction="CtrlActionCreateEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ObliqueEllipse.png" index="16" label="斜椭圆" onAction="CtrlActionCreateObliqueEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
	  <group id="GeometryEdit" index="4" visible="true">
		<buttonDropdown id="GeometryCompute" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" label="面运算" visible="true">
          <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="1" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="2" label="分解" onAction="CtrlActionDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/protecteddecompose.png" index="2" label="保护性分解" onAction="CtrlActionProtectedDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象，但是保留二维面对象的岛洞关系。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/intersect.png" index="2" label="求交" onAction="CtrlActionIntersect" screenTip="将多个对象求交，保留其重合区域，其余部分则删除。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="2" label="合并" onAction="CtrlActionUnion" screenTip="将多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/XOR.png" index="2" label="异或" onAction="CtrlActionXOR" screenTip="将多个对象异或，重合部分去除，其余部分合并成一个对象。" screenTipImage="" shortcutKey="" visible="true"/>				
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/erase.png" index="2" label="擦除" onAction="CtrlActionErase" screenTip="选择一个擦除面擦除其他对象。" screenTipImage="" shortcutKey="" visible="true"/>
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/HolePolygon.png" index="2" label="岛洞多边形" onAction="CtrlActionHoleyRegion" screenTip="对多个对象重合区域进行处理，最终生成一个岛洞多边形。" screenTipImage="" shortcutKey="" visible="true"/>
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/SplitByGeometry.png" index="2" label="选择对象分割" onAction="CtrlActionSplitByGeometry" screenTip="选择一个线对象或面对象，将被分割对象进行分割。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
		</buttonDropdown>
		<buttonDropdown id="VertexEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" label="线运算" visible="true">
		  <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Explode.png" index="2" label="炸碎" onAction="CtrlActionExplode" screenTip="将选中的线对象分解为只有两个节点的线段。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineExtend.png" index="3" label="延伸" onAction="CtrlActionLineExtend" screenTip="将不相交的线对象进行延伸，从而将选中的线对象延伸到指定对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineTrim.png" index="4" label="修剪" onAction="CtrlActionLineTrim" screenTip="将选中的修剪对象在与基线相交处修剪。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" index="5" label="首尾连接线" onAction="CtrlActionJointLineDirection" screenTip="将多个简单线对象连接成一个线对象，保持线方向，首尾相连。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" index="6" label="临近点连接线" onAction="CtrlActionJointLineNear" screenTip="将多个简单线对象连接成一个线对象，不保持线方向，邻近点相连。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="NodeEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/AddNode.png" label="节点操作" visible="true">
		  <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/AddNode.png" label="添加节点" onAction="CtrlActionAddNode" screenTip="为可编辑图层中选中的几何对象添加节点。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ModifyNode.png" label="编辑节点" onAction="CtrlActionModifyNode" screenTip="对可编辑图层中选中的几何对象进行添加、删除、移动等编辑操作。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="GeometryConvert" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToPoint.png" label="类型转换" visible="true">
		  <group>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToPoint.png" label="线转点" onAction="CtrlActionLineToPoint" screenTip="将选中的线对象转换成点对象，并保存到点数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToRegion.png" label="线转面" onAction="CtrlActionLineToRegion" screenTip="将选中的线对象转换成面对象，并保存到面数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RegionExtractBorder.png" label="面提取边界线" onAction="CtrlActionRegionExtractBorder" screenTip="提取选中的面对象边线，并保存到线数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RegionExtractCenter.png" label="面提取中心线" onAction="CtrlActionRegionExtractCenter" screenTip="提取单个图层中选中的面对象中心线，并保存为线数据集。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="cartograph" image="../Resources/MapEditor/Toolbar/GeometryEditor/Offset.png" label="制图综合" visible="true">
		  <group>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rotate.png" label="旋转" onAction="CtrlActionRotate" screenTip="在图层可编辑状态下，将对象旋转一定角度。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Mirror.png" label="镜像" onAction="CtrlActionMirror" screenTip="在当前地图窗口中绘制临时线段，对当前可编辑图层中已选中的对象执行镜像操作。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Offset.png" label="距离缩放" onAction="CtrlActionOffset" screenTip="将选中对象以等距方式进行缩放。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Resize.png" label="比例缩放" onAction="CtrlActionResize" screenTip="将选中对象按一定比例进行缩放。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Smooth.png" label="光滑" onAction="CtrlActionSmooth" screenTip="对选中的可编辑图层中的线对象或面对象的边界进行平滑处理。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Resample.png" label="重采样" onAction="CtrlActionResample" screenTip="对选中的可编辑图层中的线对象或面对象进行重采样处理，去掉对象上冗余的节点。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Reverse.png" label="改变方向" onAction="CtrlActionReverse" screenTip="改变当前可编辑图层中选中的线或面对象的节点方向。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/GeometryCopy.png" label="定位复制" onAction="CtrlActionGeometryCopy" screenTip="将选中的几何对象复制到指定的位置。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
	  </group>
    </frameMenu>
  </frameMenus>
  <toolbars>
    <toolbar formClass="SuperMap.Desktop.FormMap" id="GeometryCreate" index="2" label="对象绘制" rowIndex="0" visible="true">
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Point.png" index="1" label="点" onAction="CtrlActionCreatePoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="直线" onAction="CtrlActionCreatePolyline" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Line.png" index="1" label="直线" onAction="CtrlActionCreateLine" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="折线" onAction="CtrlActionCreatePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallel.png" index="7" label="平行线" onAction="CtrlActionCreateParallel" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="3" label="曲线" onAction="CtrlActionCreateBSpline" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="2" label="B样条曲线" onAction="CtrlActionCreateBSpline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Cardinal.png" index="4" label="Cardinal曲线" onAction="CtrlActionCreateCardinal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Curve.png" index="5" label="贝兹曲线" onAction="CtrlActionCreateCurve" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/FreePolyline.png" index="6" label="自由曲线" onAction="CtrlActionCreateFreePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="4" label="弧线" onAction="CtrlActionCreateEllipseArc" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Arc3P.png" index="3" label="三点弧" onAction="CtrlActionCreateArc3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="6" label="椭圆弧" onAction="CtrlActionCreateEllipseArc" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="5" label="多边形" onAction="CtrlActionCreatePolygon" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rectangle.png" index="8" label="矩形" onAction="CtrlActionCreateRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RoundRectangle.png" index="9" label="圆角矩形" onAction="CtrlActionCreateRoundRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="10" label="多边形" onAction="CtrlActionCreatePolygon" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallelogram.png" index="11" label="平行四边形" onAction="CtrlActionCreateParallelogram" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="6" label="椭圆" onAction="CtrlActionCreateEllipse" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle.png" index="12" label="圆心圆" onAction="CtrlActionCreateCircle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle2P.png" index="13" label="二点圆" onAction="CtrlActionCreateCircle2P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle3P.png" index="13" label="三点圆" onAction="CtrlActionCreateCircle3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Pie.png" index="14" label="扇形" onAction="CtrlActionCreatePie" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="15" label="椭圆" onAction="CtrlActionCreateEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ObliqueEllipse.png" index="16" label="斜椭圆" onAction="CtrlActionCreateObliqueEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Text.png" index="7" label="文本" onAction="CtrlActionCreateText" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Text.png" index="16" label="文本" onAction="CtrlActionCreateText" screenTip="Shift + Enter 换行，Enter 提交编辑。" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/AlongLineText.png" index="17" label="沿线文本" onAction="CtrlActionCreateAlongLineText" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
	   <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/CADStyle.png" index="17" label="CAD风格" onAction="CtrlActionCADStyle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <!--<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/DrawSetting.png" index="19" label="绘制选项" onAction="CtrlActionDrawSetting" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
    </toolbar>
	<toolbar formClass="SuperMap.Desktop.FormMap" id="GeometryEdit" index="3" label="对象编辑" rowIndex="0" visible="true">
		<buttonDropdown id="GeometryCompute" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" label="面运算" visible="true">
          <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="1" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="2" label="分解" onAction="CtrlActionDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/protecteddecompose.png" index="2" label="保护性分解" onAction="CtrlActionProtectedDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象，但是保留二维面对象的岛洞关系。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/intersect.png" index="2" label="求交" onAction="CtrlActionIntersect" screenTip="将多个对象求交，保留其重合区域，其余部分则删除。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="2" label="合并" onAction="CtrlActionUnion" screenTip="将多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/XOR.png" index="2" label="异或" onAction="CtrlActionXOR" screenTip="将多个对象异或，重合部分去除，其余部分合并成一个对象。" screenTipImage="" shortcutKey="" visible="true"/>
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/erase.png" index="2" label="擦除" onAction="CtrlActionErase" screenTip="选择一个擦除面擦除其他对象。" screenTipImage="" shortcutKey="" visible="true"/>
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/HolePolygon.png" index="2" label="岛洞多边形" onAction="CtrlActionHoleyRegion" screenTip="对多个对象重合区域进行处理，最终生成一个岛洞多边形。" screenTipImage="" shortcutKey="" visible="true"/>
    	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/SplitByGeometry.png" index="2" label="选择对象分割" onAction="CtrlActionSplitByGeometry" screenTip="选择一个线对象或面对象，将被分割对象进行分割。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
		</buttonDropdown>
		<buttonDropdown id="VertexEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" label="线运算" visible="true">
		  <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Explode.png" index="2" label="炸碎" onAction="CtrlActionExplode" screenTip="将选中的线对象分解为只有两个节点的线段。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineExtend.png" index="3" label="延伸" onAction="CtrlActionLineExtend" screenTip="将不相交的线对象进行延伸，从而将选中的线对象延伸到指定对象。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineTrim.png" index="4" label="修剪" onAction="CtrlActionLineTrim" screenTip="将选中的修剪对象在与基线相交处修剪。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" index="5" label="首尾连接线" onAction="CtrlActionJointLineDirection" screenTip="将多个简单线对象连接成一个线对象，保持线方向，首尾相连。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/JointLine.png" index="6" label="临近点连接线" onAction="CtrlActionJointLineNear" screenTip="将多个简单线对象连接成一个线对象，不保持线方向，邻近点相连。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="NodeEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/AddNode.png" label="节点操作" visible="true">
		  <group>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/AddNode.png" label="添加节点" onAction="CtrlActionAddNode" screenTip="为可编辑图层中选中的几何对象添加节点。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ModifyNode.png" label="编辑节点" onAction="CtrlActionModifyNode" screenTip="对可编辑图层中选中的几何对象进行添加、删除、移动等编辑操作。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="GeometryConvert" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToPoint.png" label="类型转换" visible="true">
		  <group>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToPoint.png" label="线转点" onAction="CtrlActionLineToPoint" screenTip="将选中的线对象转换成点对象，并保存到点数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/LineToRegion.png" label="线转面" onAction="CtrlActionLineToRegion" screenTip="将选中的线对象转换成面对象，并保存到面数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RegionExtractBorder.png" label="面提取边界线" onAction="CtrlActionRegionExtractBorder" screenTip="提取选中的面对象边线，并保存到线数据集或CAD数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RegionExtractCenter.png" label="面提取中心线" onAction="CtrlActionRegionExtractCenter" screenTip="提取单个图层中选中的面对象中心线，并保存为线数据集。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
		<buttonDropdown id="cartograph" image="../Resources/MapEditor/Toolbar/GeometryEditor/Offset.png" label="制图综合" visible="true">
		  <group>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rotate.png" label="旋转" onAction="CtrlActionRotate" screenTip="在图层可编辑状态下，将对象旋转一定角度。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Mirror.png" label="镜像" onAction="CtrlActionMirror" screenTip="在当前地图窗口中绘制临时线段，对当前可编辑图层中已选中的对象执行镜像操作。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Offset.png" label="距离缩放" onAction="CtrlActionOffset" screenTip="将选中的对象按距离缩放以创建形状与原对象等距放大的新对象。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Resize.png" label="比例缩放" onAction="CtrlActionResize" screenTip="将选中对象按一定比例进行缩放。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Smooth.png" label="光滑" onAction="CtrlActionSmooth" screenTip="对选中的可编辑图层中的线对象或面对象的边界进行平滑处理。" screenTipImage="" shortcutKey="" visible="true"/>
		    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Resample.png" label="重采样" onAction="CtrlActionResample" screenTip="对选中的可编辑图层中的线对象或面对象进行重采样处理，去掉对象上冗余的节点。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Reverse.png" label="改变方向" onAction="CtrlActionReverse" screenTip="改变当前可编辑图层中选中的线或面对象的节点方向。" screenTipImage="" shortcutKey="" visible="true"/>
			<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/GeometryCopy.png" label="定位复制" onAction="CtrlActionGeometryCopy" screenTip="将选中的几何对象复制到指定的位置。" screenTipImage="" shortcutKey="" visible="true"/>
		  </group>
		</buttonDropdown>
	</toolbar>
  </toolbars>
  <dockbars>
         <dockbar control="com.supermap.desktop.CtrlAction.CADStyle.CADStyleContainer" dockstate="docked" label="CAD风格" visible="false"/>
   </dockbars>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuMap" index="11" label="工作空间管理器_地图">
      <group id="MapOperation" index="1" label="地图操作" visible="true"/>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.FormMapContextMenu" index="12" label="地图窗口_地图">
      <group id="PasteGeometry" index="0" label="粘贴" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Geometry/Paste.png" index="0" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryContextMenu" index="13" label="地图窗口_选中几何对象">
      <!--<group id="GeometrySaveAsDataset" index="0" label="另存为数据集" visible="true">
        <button checkState="false" image="" index="0" label="另存为数据集" onAction="SuperMap.Desktop._CtrlActionGeometrySaveAsDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
      <group id="CutandCopyGeometry" index="1" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Combination" index="5" label="组合与分解" visible="true">
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="1" label="合并" onAction="CtrlActionUnion" screenTip="将多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="2" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="3" label="分解" onAction="CtrlActionDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryTextContextMenu" index="14" label="地图窗口_选中文本对象">
      <!--<group id="GeometrySaveAsDataset" index="0" label="另存为数据集" visible="true">
        <button checkState="false" image="" index="0" label="另存为数据集" onAction="SuperMap.Desktop._CtrlActionGeometrySaveAsDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
      <group id="CutandCopyGeometry" index="1" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Combination" index="5" label="组合与分解" visible="true">
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="1" label="合并" onAction="CtrlActionUnion" screenTip="将多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="2" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="3" label="分解" onAction="CtrlActionDecompose" screenTip="将选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryParmaContextMenu" index="15" label="地图窗口_选中参数化几何对象">
      <group id="CutandCopyGeometry" index="0" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorThemeUniqueAndRangeContextMenu" index="19" label="图层管理器_二维矢量单值和分段专题图">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorContextMenu" index="20" label="图层管理器_矢量图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerTextContextMenu" index="21" label="图层管理器_文本图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorCADContextMenu" index="22" label="图层管理器_CAD图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerContextMenu" index="23" label="图层管理器_多种图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
</plugin>
