<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.DataProcess" author="SuperMap" url="www.supermap.com.cn" description="DataProcess Plugin" helpLocalRoot="../Help/WebHelp/" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/DataProcess/SuperMap.Desktop.DataProcess.dll" enabled="True" />
  <frameMenus>
    <frameMenu index="12" id="DataProcess" label="数据处理" formClass="" visible="true">
      <!--<group index="4" id="Vector" label="矢量" visible="true">
        <button index="1" label="融合" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDissolve" image="../Resources/DataProcess/Menu/DataProcess/Dissolve.png" shortcutKey="" screenTip="将一个数据集中两个或多个具备融合条件的对象融合成一个对象或组合成一个复合对象。" screenTipImage="" helpURL="Features/DataProcessing/Vector/Datafuse.htm" customProperty="" />
        <button index="2" label="碎多边形合并" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlAcitonDataAdhere" image="" shortcutKey="" screenTip="将面积较小的多边形合并到大面积的多边形上。" screenTipImage="" helpURL="Features/DataProcessing/Vector/UnionPieces.htm" customProperty="" />
        <button index="3" label="光滑处理" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSmooth" image="../Resources/DataProcess/Menu/DataProcess/Smooth.png" shortcutKey="" screenTip="对矢量数据集进行边界光滑处理，支持线数据集、面数据集和网络数据集。" screenTipImage="" helpURL="Features/DataProcessing/Vector/DatasetSmooth.htm" customProperty="" />
        <button index="4" label="数据集重采样" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionVectorResample" image="../Resources/DataProcess/Menu/DataProcess/Resample.png" shortcutKey="" screenTip="根据一定的距离（角度）容限对线、网络和面数据集进行重采样。" screenTipImage="" helpURL="Features/DataProcessing/Vector/VectorResample.htm" customProperty="" />
        <button index="5" label="属性更新" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionUpdateProperty" image="../Resources/DataProcess/Menu/DataProcess/UpdateProperty.png" shortcutKey="" screenTip="根据空间关系更新数据集中对象的属性。" screenTipImage="" helpURL="Features/DataProcessing/Vector/Attributeupdate.htm" customProperty="" />        
        <buttonDropdown index="6" id="ToCenterLine" label="提取中心线" visible="true" image="../Resources/DataProcess/Menu/DataProcess/DualLintToCenterLine.png" >
          <group id="" label="" index="" visible="">
            <button index="0" label="双线提取中心线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDualLineToCenterLine" image="../Resources/DataProcess/Menu/DataProcess/DualLintToCenterLine.png" shortcutKey="" screenTip="根据给定的宽度从双线（一般为双线道路）记录集中提取中心线。" screenTipImage="" helpURL="Features/DataProcessing/Vector/DualLineToCenterLine.htm" customProperty="" />
            <button index="1" label="面提取中心线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegionToCenterLine" image="../Resources/DataProcess/Menu/DataProcess/RegionToCenterLine.png" shortcutKey="" screenTip="根据给定的宽度从面（一般为面道路）记录集中提取中心线。" screenTipImage="" helpURL="Features/DataProcessing/Vector/RegionToCenterLine.htm" customProperty="" />
            <button index="2" label="面提取主干中心线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTrunkCenterLine" image="../Resources/DataProcess/Menu/DataProcess/RegionToTrunkLine.png" shortcutKey="" screenTip="提取面对象或面记录集的最长中心线，一般用于提取河流的中心线。" screenTipImage="" helpURL="Features/DataProcessing/Vector/RegionToCenterLine.htm" customProperty="" />
          </group>
        </buttonDropdown>
      </group>
      <group index="5" id="Raster" label="栅格" visible="true">
        <buttonDropdown index="0" id="TerrainBuilder" label="DEM构建" visible="true" image="">
          <group id="" label="" index="" visible="">
            <button index="0" label="DEM构建" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionBuildTerrain" image="../Resources/DataProcess/Menu/DataProcess/Image_BuildDEM.png" shortcutKey="" screenTip="通过点或者线数据插值生成 DEM 数据，结果为一个栅格数据集。" screenTipImage="" helpURL="Features/Analyst/TerrainBuilder/TerrainBuilderDia.htm" customProperty="" />
            <button index="1" label="DEM挖湖" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionBuildLake" image="../Resources/DataProcess/Menu/DataProcess/Image_BuildLake.png" shortcutKey="" screenTip="获取类似于湖泊、洼地等面数据的高程信息，将面数据的高程值赋给 DEM 数据中相应位置的像元，重新得到一个 DEM 数据。" screenTipImage="" helpURL="Features/Analyst/TerrainBuilder/TerrainBuilderLake.htm" customProperty="" />
            <button index="3" label="地形匹配" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGridMatchAnalyst" image="../Resources/GridAnalyst/Menu/DataProcess/LineBuildTerrain.png" shortcutKey="" screenTip="模型底部平面与复杂的地形表面无法精确匹配，往往会出现模型部分被淹没的情况，模型匹配功能可以对地形进行修正，使其与模型完全匹配。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/TerrainMatch.htm" customProperty="" />
          </group>
        </buttonDropdown>
        <button index="2" label="栅格镶嵌" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRasterMosaic" image="../Resources/DataProcess/Menu/DataProcess/RasterMosaic.png" shortcutKey="" screenTip="将两个或两个以上栅格数据集以地理坐标为参照组合成一个新的栅格数据集。" screenTipImage="" helpURL="Features/DataProcessing/Raster/Mosaic.htm" customProperty="" />
        <button index="3" label="重采样" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGridResample" image="../Resources/DataProcess/Menu/DataProcess/GridResample.png" shortcutKey="" screenTip="生成新的栅格数据集，同时将原始栅格数据集的像元值自身或推导值赋予新生成的栅格数据集的每个像元。" screenTipImage="" helpURL="Features/DataProcessing/Raster/RasterResample.htm" customProperty="" />
        <button index="4" label="代数运算" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGridMathAnalyst" image="../Resources/DataProcess/Menu/DataProcess/GridMathAnalyst.PNG" shortcutKey="" screenTip="对栅格数据集进行简单的代数运算操作。" screenTipImage="" helpURL="Features/DataProcessing/Raster/RasterMathAnalyst.htm" customProperty="" />
        <button index="5" label="数据更新" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRasterUpdate" image="../Resources/DataProcess/Menu/DataProcess/RasterUpdate.png" shortcutKey="" screenTip="使用一个或多个栅格数据集的内容去更新另一个栅格数据集相应部分的内容。" screenTipImage="" helpURL="Features/DataProcessing/Raster/Append.htm" customProperty="" />
        <button index="6" label="重分级" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionReclass" image="" shortcutKey="" screenTip="对栅格进行重新分类，重新定义栅格数据集中每个像元的数值。" screenTipImage="" helpURL="Features/DataProcessing/Raster/RasterReclass.htm" customProperty="" />
      </group>-->
    </frameMenu>
  </frameMenus>
  <dockbars />
  <contextMenus>
    <!--<contextMenu index="0" label="地图窗口_选中几何对象" id="SuperMap.Desktop._FormMap.GeometryContextMenu" >
      <group index="6" id="ObjProperty" label="属性" visible="true">
        <button index="0" label="对象属性更新" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGeometryUpdateProperty" image="" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>-->
  </contextMenus>

</plugin>