<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="MapEditor Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.MapEditor" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/MapEditor/SuperMap.Desktop.MapEditor.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="SuperMap.Desktop.FormMap" id="MapOperation" index="100" label="地图" visible="true">
      <!--<group id="Theme" image="" index="2" label="" visible="true">
        <button checkState="false" customProperty="1" helpURL="" image="../Resources/MapEditor/Menu/MapOperator/TextStyle.png" index="2" label="文本风格..." onAction="CtrlActionTextStyle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
    </frameMenu>
    <frameMenu formClass="SuperMap.Desktop.FormMap" id="MapDraw" index="105" label="对象操作" visible="true">
      <group id="Editor" index="1" label="地图编辑" visible="true">
        <buttonDropdown id="MapEdit" image="" index="3" label="地图编辑" visible="true">
          <group id="" index="1" label="" visible="">
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Cut.png" index="7" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Copy.png" index="8" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Paste.png" index="9" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Delete.png" index="10" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Undo.png" index="12" label="撤销" onAction="CtrlActionUndo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Redo.png" index="13" label="重做" onAction="CtrlActionRedo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
          <!--<group id="Data" index="2" label="Data" visible="true">
            <button checkState="true" customProperty="" helpURL="Features/BasicContents\View\Viewgroup.htm" index="0" label="属性刷" onAction="_CtrlActionWorkspaceManager" screenTip="控制工作空间管理器窗口是否显示，选中该复选框，显示；否则不显示。" screenTipImage="" visible="true" width="0"/>
            <button checkState="true" customProperty="" helpURL="Features/BasicContents\View\Viewgroup.htm" index="1" label="风格刷" onAction="_CtrlActionLegendControl" screenTip="控制图层管理器窗口是否显示，选中该复选框，显示；否则不显示。" screenTipImage="" visible="true" width="0"/>
          </group>-->
        </buttonDropdown>
      </group>
	  <group>
		<buttonDropdown id="GeometryEditor" image="" index="0" label="对象编辑" visible="true">
			<group id="" index="1" label="" visible="">
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="1" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="2" label="分解" onAction="CtrlActionDecompose" screenTip="将可编辑图层中选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/protecteddecompose.png" index="2" label="保护性分解" onAction="CtrlActionProtectedDecompose" screenTip="将可编辑图层中选中的复合对象或者复杂对象分解为简单对象，但是保留二维面对象的岛洞关系。" screenTipImage="" shortcutKey="" visible="true"/>
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/intersect.png" index="2" label="求交" onAction="CtrlActionIntersect" screenTip="将两个或者多个对象求交，保留其重合区域，其余部分则删除。" screenTipImage="" shortcutKey="" visible="true"/>
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="2" label="合并" onAction="CtrlActionUnion" screenTip="将两个或者多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/XOR.png" index="2" label="异或" onAction="CtrlActionXOR" screenTip="将两个或多个对象异或，重合部分去除，其余部分合并成一个对象。" screenTipImage="" shortcutKey="" visible="true"/>				
				<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/erase.png" index="2" label="擦除" onAction="CtrlActionErase" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
			</group>
		</buttonDropdown>
	  </group>
      <group id="GeometryEdit" index="3" label="对象编辑" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Point.png" index="1" label="点" onAction="CtrlActionCreatePoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="直线" onAction="CtrlActionCreatePolyline" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Line.png" index="1" label="直线" onAction="CtrlActionCreateLine" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="折线" onAction="CtrlActionCreatePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallel.png" index="7" label="平行线" onAction="CtrlActionCreateParallel" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="3" label="曲线" onAction="CtrlActionCreateBSpline" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="2" label="B样条曲线" onAction="CtrlActionCreateBSpline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Cardinal.png" index="4" label="Cardinal曲线" onAction="CtrlActionCreateCardinal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Curve.png" index="5" label="贝兹曲线" onAction="CtrlActionCreateCurve" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/FreePolyline.png" index="6" label="自由曲线" onAction="CtrlActionCreateFreePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="4" label="弧线" onAction="CtrlActionCreateEllipseArc" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Arc3P.png" index="3" label="三点弧" onAction="CtrlActionCreateArc3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="6" label="椭圆弧" onAction="CtrlActionCreateEllipseArc" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="5" label="多边形" onAction="CtrlActionCreatePolygon" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rectangle.png" index="8" label="矩形" onAction="CtrlActionCreateRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RoundRectangle.png" index="9" label="圆角矩形" onAction="CtrlActionCreateRoundRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="10" label="多边形" onAction="CtrlActionCreatePolygon" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallelogram.png" index="11" label="平行四边形" onAction="CtrlActionCreateParallelogram" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="6" label="椭圆" onAction="CtrlActionCreateEllipse" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle.png" index="12" label="圆心圆" onAction="CtrlActionCreateCircle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle2P.png" index="13" label="二点圆" onAction="CtrlActionCreateCircle2P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle3P.png" index="13" label="三点圆" onAction="CtrlActionCreateCircle3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Pie.png" index="14" label="扇形" onAction="CtrlActionCreatePie" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="15" label="椭圆" onAction="CtrlActionCreateEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ObliqueEllipse.png" index="16" label="斜椭圆" onAction="CtrlActionCreateObliqueEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <!--<buttonDropdown id="" image="../Resources/MapEditor/Menu/Geometry/GeometryEdit.png" index="4" label="对象编辑" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineExtend.png" index="1" label="跨图层编辑" onAction="" screenTip="" screenTipImage="" shortcutKey="[E]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\extend.htm" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineExtend.png" index="1" label="延伸" onAction="SuperMap.Desktop._CtrlActionLineExtend" screenTip="延伸功能用来将在容限范围内，不相交的线对象进行延伸，从而将选中的线对象延伸到指定对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Extend.png" shortcutKey="[E]" visible="true"/>
            <buttonDropdown id="Break" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineBreak.png" index="2" label="打断" visible="true">
              <group id="" index="" label="" visible="">
                <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\split.htm" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineBreak.png" index="1" label="打断" onAction="SuperMap.Desktop._CtrlActionLineBreak" screenTip="" screenTipImage="" shortcutKey="[K]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\SplitAccurately.htm" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineBlock.png" index="2" label="精确打断" onAction="SuperMap.Desktop._CtrlActionLineBlock" screenTip="通过设置不同的打断方式精确打断线对象，可以按照距离、百分比将对象打断为两段，或者按照间距或者段数将对象打断为多段。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\split.png" shortcutKey="[U]" visible="true"/>
              </group>
            </buttonDropdown>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\JoinLine.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\JointLine.png" index="" label="连接线" onAction="SuperMap.Desktop._CtrlActionJointLine" screenTip="在可编辑状态下，将两个或多个简单线对象连接成一个线对象。" screenTipImage="" shortcutKey="[J]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\ReverseRightAngle.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\ComputeChamfer.png" index="" label="倒直角" onAction="SuperMap.Desktop._CtrlActionChamfer" screenTip="对选中的可编辑图层中的两条线段（非平行线）生成倒直角。" screenTipImage="" shortcutKey="[H]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\SmoothGeometry.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Smooth.png" index="" label="光滑" onAction="SuperMap.Desktop._CtrlActionSmooth" screenTip="对选中的可编辑图层中的线对象或面对象的边界进行平滑处理。" screenTipImage="" shortcutKey="" visible="true"/>            
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\trim.htm" image="../Resources/MapEditor/Icon/Edit/GeometryEdit/LineTrim.png" index="" label="修剪" onAction="SuperMap.Desktop._CtrlActionLineTrim" screenTip="修剪工具可以将选中一个线对象（基线）与其相交的选中的另外一个线对象（修剪对象）相交处修剪掉。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\trim.png" shortcutKey="[T]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\ChangeDirction.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Reverse.png" index="" label="变方向" onAction="SuperMap.Desktop._CtrlActionLineReverse" screenTip="改变当前可编辑图层中选中的线或面对象的节点方向。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Reverse.png" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\ReverseRoundAngle.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\ComputeFillet.png" index="" label="倒圆角" onAction="SuperMap.Desktop._CtrlActionFillet" screenTip="对选中的可编辑图层中的两条线段（非平行线）生成倒圆角。" screenTipImage="" shortcutKey="[F]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\ReSampleGeometry.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Resample.png" index="" label="重采样" onAction="SuperMap.Desktop._CtrlActionResample" screenTip="对选中的可编辑图层中的线对象或面对象的边界进行重采样处理，去掉对象上冗余的节点。" screenTipImage="" shortcutKey="[P]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\UpdatePartly.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\ReShape.png" index="" label="局部更新" onAction="SuperMap.Desktop._CtrlActionPartialUpdate" screenTip="用绘制的折线更新线对象或者面对象的部分形状。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Refresh.png" shortcutKey="" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\offset.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Offset.png" index="" label="偏移" onAction="SuperMap.Desktop._CtrlActionOffset" screenTip="偏移功能用来将选中的对象进行移动以创建其形状与原对象形状平行的新对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Offset.png" shortcutKey="[O]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\DesCopy.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\LocateCopy.png" index="" label="定位复制" onAction="SuperMap.Desktop._CtrlActionCopyObj" screenTip="将选中的几何对象（一个或者多个对象）复制到指定的位置。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\DesCopy.png" shortcutKey="[Y]" visible="true"/>
            <buttonDropdown id="Edit_Move" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\MoveObj.png" index="" label="移动" visible="true">
              <group id="" index="" label="" visible="">
                <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\move.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\MoveObj.png" index="" label="按坐标移动" onAction="SuperMap.Desktop._CtrlActionMoveObj" screenTip="以参考线为基准，将对象移动到指定的坐标位置。" screenTipImage="" shortcutKey="[M]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\move.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\MoveObjLengthAngle.png" index="" label="按方位移动" onAction="SuperMap.Desktop._CtrlActionMoveObjLengthAngle" screenTip="按照指定的长度和角度，将对象移动到指定位置。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\move.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\MoveObjOffset.png" index="" label="按偏移量移动" onAction="SuperMap.Desktop._CtrlActionMoveObjOffset" screenTip="按照指定的 X 偏移量和 Y 偏移量，将对象移动到指定的位置。" screenTipImage="" shortcutKey="" visible="true"/>
              </group>
            </buttonDropdown>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Mirror.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Mirror.png" index="6" label="镜像" onAction="SuperMap.Desktop._CtrlActionMirror" screenTip="在当前地图窗口中绘制临时线段，对当前可编辑图层中已选中的对象执行镜像操作。进行镜像操作的对象所在的图层必须为可编辑图层。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Mirror.png" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\rotate.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Rotate.png" index="7" label="对象旋转" onAction="SuperMap.Desktop._CtrlActionRotate" screenTip="在图层可编辑状态下，将对象旋转一定角度。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\rotate.png" shortcutKey="[R]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\VertexEdit.htm" image="..\Resources\MapEditor\Icon\Edit\VertexEdit\AddVertex.png" index="0" label="添加节点" onAction="SuperMap.Desktop._CtrlActionVertexAdd" screenTip="点击按钮，按钮处于高亮状态时，可编辑图层中选中的对象将显示其节点，此时，在适当的位置点击鼠标左键，可以为对象添加节点。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\Vertex\AddVertex.png" shortcutKey="[Alt]+[A]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\VertexEdit.htm" image="..\Resources\MapEditor\Icon\Edit\VertexEdit\ModifyVertex.png" index="1" label="编辑节点" onAction="SuperMap.Desktop._CtrlActionVertexEdit" screenTip="点击按钮，按钮处于高亮状态时，可编辑图层中选中的对象将显示其节点，此时，可以编辑对象的节点，如添加、删除节点。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\Vertex\ModifyVertex.png" shortcutKey="[Alt]+[D]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Explode.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\ExplodeLine.png" index="0" label="炸碎" onAction="SuperMap.Desktop._CtrlActionExplodeLine" screenTip="对选中的可编辑图层中的线对象，分解为只包含两个端点的直线线段。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjectsodeAdjust.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\PointAverageError.png" index="1" label="点平差" onAction="SuperMap.Desktop._CtrlActionPointAverageError" screenTip="选中相邻的线上的若干节点，对其进行平差计算，得到一个新节点；用新节点替换原有的节点，将相邻的线对象进行连接。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEditodeAdjust.png" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="" image="../Resources/MapEditor/Icon/MapDraw/Text/Text.large.png" index="4" label="对象运算" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Group.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Combination.png" index="0" label="组合" onAction="SuperMap.Desktop._CtrlActionCombination" screenTip="组合功能用来当前图层中任意对象（相同类型或不同类型的几何对象）组合成一个对象。对于简单数据集中的相同类型的对象组合后为包含多个子对象的复杂对象；对于 CAD 数据集中的不同类型对象组合后结果为复合对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\group.png" shortcutKey="[Alt]+[G]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Merge.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Union.png" index="1" label="合并" onAction="SuperMap.Desktop._CtrlActionUnion" screenTip="合并功能用来将两个或者多个对象合并成一个对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\merge.png" shortcutKey="[Alt]+[U]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Erase.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Erase.png" index="2" label="擦除" onAction="SuperMap.Desktop._CtrlActionErase" screenTip="将目标对象（被擦除对象）中与擦除对象重叠的部分进行删除。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Erase.png" shortcutKey="[Alt]+[E]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\UnGroup.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Decompose.png" index="0" label="分解" onAction="SuperMap.Desktop._CtrlActionDecompose" screenTip="分解功能用来将一个或多个复杂对象或复合对象进行分解。分解的结果可以是单一对象，也可以是复杂对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\ungroup.png" shortcutKey="[Alt]+[P]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\Intersect.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\Intersect.png" index="1" label="求交" onAction="SuperMap.Desktop._CtrlActionIntersect" screenTip="求交功能对两个或者多个对象的公共部分进行操作。操作据结果会将公共区域将被保留下来，其余部分被删除。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\intersect.png" shortcutKey="[Alt]+[I]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\XOr.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\XOR.png" index="2" label="异或" onAction="SuperMap.Desktop._CtrlActionObjXOR" screenTip="将两个或多个对象的共有部分除去，其余部分合并成一个对象。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\Xor.png" shortcutKey="[Alt]+[F]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\PolygonWithHole.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\HolyRegion.png" index="" label="保护性分解" onAction="SuperMap.Desktop._CtrlActionHoleyRegion" screenTip="在可编辑状态下，将两个或两个以上具有包含关系的面对象在重合区域进行处理（删除或者保留），最终形成一个岛洞多边形。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\RegionWithHole.png" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\PolygonWithHole.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\HolyRegion.png" index="" label="岛洞多边形" onAction="SuperMap.Desktop._CtrlActionHoleyRegion" screenTip="在可编辑状态下，将两个或两个以上具有包含关系的面对象在重合区域进行处理（删除或者保留），最终形成一个岛洞多边形。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\RegionWithHole.png" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="" image="../Resources/MapEditor/Menu/Geometry/GeometrySplit.png" index="4" label="对象分割" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\CutPolygon.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\SplitByLine.png" index="" label="画线切割" onAction="SuperMap.Desktop._CtrlActionSplitByLine" screenTip="切换当前地图窗口操作状态为画线分割。在当前可编辑面图层中绘制临时折线，右键点击鼠标结束绘制，临时折线穿越的面和线对象将被折线分割。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\SplitRegionByLine.png" shortcutKey="[Alt]+[L]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\EditObjects\CutByPolygon.htm" image="..\Resources\MapEditor\Icon\Edit\GeometryEdit\SplitByRegion.png" index="" label="画面切割" onAction="SuperMap.Desktop._CtrlActionSplitByRegion" screenTip="切换当前地图窗口操作状态为画面分割。在当前可编辑面图层中绘制临时分割面，右键点击鼠标结束绘制，临时分割面穿越的面和线对象将被折线分割。" screenTipImage="..\Resources\MapEditor\ScreenTipImage\Edit\GeometryEdit\CutPolyByRegion.png" shortcutKey="[Alt]+[R]" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="" image="../Resources/MapEditor/Menu/Geometry/GeometryTypeConversion.png" index="5" label="类型转换" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" image="" index="" label="线-&gt;面" onAction="" screenTip="" screenTipImage="" shortcutKey="[Alt]+[L]" visible="true"/>
            <button checkState="false" image="" index="" label="面-&gt;线" onAction="" screenTip="" screenTipImage="" shortcutKey="[Alt]+[L]" visible="true"/>
            <button checkState="false" image="" index="" label="线-&gt;点" onAction="" screenTip="" screenTipImage="" shortcutKey="[Alt]+[L]" visible="true"/>
          </group>
        </buttonDropdown>-->
      </group>
      <!--<group id="LineM" index="4" label="" visible="">
        <buttonDropdown id="" image="../Resources/MapEditor/Icon/MapDraw/Text/Text.large.png" index="4" label="路由对象编辑" visible="true">
          <group>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TraceLine.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Line.png" index="0" label="路由对象编辑1" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeLine" screenTip="通过人机交互，将地图窗口中的图像矢量化为线数据。" screenTipImage="" shortcutKey="[Alt] + [Q]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TraceLineBackoff.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Undo.png" index="0" label="路由对象编辑2" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeLineBackward" screenTip="在矢量化线过程中实现绘制的回退。" screenTipImage="" shortcutKey="[Alt] + [Z]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TracePolygon.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Polygon.png" index="0" label="路由对象编辑3" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeRegion" screenTip="通过人机交互，将地图窗口中的图像矢量化为面数据。" screenTipImage="" shortcutKey="[Alt] + [W]" visible="true"/>
          </group>
        </buttonDropdown>
      </group>-->
      <!--<group id="Grid" index="5" label="" visible="">
        <buttonDropdown id="" image="../Resources/MapEditor/Icon/MapDraw/Text/Text.large.png" index="4" label="栅格矢量化" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TraceLine.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Line.png" index="0" label="矢量化线" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeLine" screenTip="通过人机交互，将地图窗口中的图像矢量化为线数据。" screenTipImage="" shortcutKey="[Alt] + [Q]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TraceLineBackoff.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Undo.png" index="0" label="线回退" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeLineBackward" screenTip="在矢量化线过程中实现绘制的回退。" screenTipImage="" shortcutKey="[Alt] + [Z]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TracePolygon.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Polygon.png" index="0" label="矢量化面" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeRegion" screenTip="通过人机交互，将地图窗口中的图像矢量化为面数据。" screenTipImage="" shortcutKey="[Alt] + [W]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\DataProcessing\Objects\Trace\TraceSet.htm" image="../Resources/MapEditor/Icon/Edit/Vectorlize/Setting.png" index="0" label="设置" onAction="SuperMap.Desktop.MapEditor.CtrlActionVectorlizeSetting" screenTip="对交互式矢量化的参数进行设置。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>-->
      <!--<group id="Topo" index="6" label="" visible="">
        <button checkState="false" image="" index="0" label="对象拓扑处理" onAction="" screenTip="" screenTipImage="" shortcutKey="[Alt] + [Q]" visible="true"/>
      </group>-->
    </frameMenu>
  </frameMenus>
  <toolbars>
    <toolbar formClass="SuperMap.Desktop.FormMap" id="MapEditor" index="2" label="对象绘制" visible="true">
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Point.png" index="1" label="点" onAction="CtrlActionCreatePoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="直线" onAction="CtrlActionCreatePolyline" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Line.png" index="1" label="直线" onAction="CtrlActionCreateLine" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polyline.png" index="2" label="折线" onAction="CtrlActionCreatePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallel.png" index="7" label="平行线" onAction="CtrlActionCreateParallel" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="3" label="曲线" onAction="CtrlActionCreateBSpline" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/BSpline.png" index="2" label="B样条曲线" onAction="CtrlActionCreateBSpline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Cardinal.png" index="4" label="Cardinal曲线" onAction="CtrlActionCreateCardinal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Curve.png" index="5" label="贝兹曲线" onAction="CtrlActionCreateCurve" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/FreePolyline.png" index="6" label="自由曲线" onAction="CtrlActionCreateFreePolyline" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="4" label="弧线" onAction="CtrlActionCreateEllipseArc" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Arc3P.png" index="3" label="三点弧" onAction="CtrlActionCreateArc3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/EllipseArc.png" index="6" label="椭圆弧" onAction="CtrlActionCreateEllipseArc" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="5" label="多边形" onAction="CtrlActionCreatePolygon" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Rectangle.png" index="8" label="矩形" onAction="CtrlActionCreateRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/RoundRectangle.png" index="9" label="圆角矩形" onAction="CtrlActionCreateRoundRectangle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Polygon.png" index="10" label="多边形" onAction="CtrlActionCreatePolygon" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Parallelogram.png" index="11" label="平行四边形" onAction="CtrlActionCreateParallelogram" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="6" label="椭圆" onAction="CtrlActionCreateEllipse" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle.png" index="12" label="圆心圆" onAction="CtrlActionCreateCircle" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle2P.png" index="13" label="二点圆" onAction="CtrlActionCreateCircle2P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Circle3P.png" index="13" label="三点圆" onAction="CtrlActionCreateCircle3P" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Pie.png" index="14" label="扇形" onAction="CtrlActionCreatePie" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Ellipse.png" index="15" label="椭圆" onAction="CtrlActionCreateEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/ObliqueEllipse.png" index="16" label="斜椭圆" onAction="CtrlActionCreateObliqueEllipse" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <buttonDropdown id="MapEdit" image="../Resources/MapEditor/Toolbar/GeometryEditor/Text.png" index="7" label="文本" onAction="CtrlActionCreateText" visible="true">
        <group id="Selection" index="3" label="选择" visible="true">
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/Text.png" index="16" label="文本" onAction="CtrlActionCreateText" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/AlongLineText.png" index="17" label="沿线文本" onAction="CtrlActionCreateAlongLineText" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <!--<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/DrawSetting.png" index="19" label="绘制选项" onAction="CtrlActionDrawSetting" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
    </toolbar>
	<toolbar formClass="SuperMap.Desktop.FormMap" id="MapEditorGeometry" index="3" label="对象编辑" visible="true">
		<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="1" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="2" label="分解" onAction="CtrlActionDecompose" screenTip="将可编辑图层中选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/protecteddecompose.png" index="2" label="保护性分解" onAction="CtrlActionProtectedDecompose" screenTip="将可编辑图层中选中的复合对象或者复杂对象分解为简单对象，但是保留二维面对象的岛洞关系。" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/intersect.png" index="2" label="求交" onAction="CtrlActionIntersect" screenTip="将两个或者多个对象求交，保留其重合区域，其余部分则删除。" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/union.png" index="2" label="合并" onAction="CtrlActionUnion" screenTip="将两个或者多个面特性对象合并成一个面对象。" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/XOR.png" index="2" label="异或" onAction="CtrlActionXOR" screenTip="将两个或多个对象异或，重合部分去除，其余部分合并成一个对象。" screenTipImage="" shortcutKey="" visible="true"/>				
    	<!--<button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/erase.png" index="2" label="擦除" onAction="CtrlActionErase" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
	</toolbar>
  </toolbars>
  <dockbars/>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuMap" index="11" label="工作空间管理器_地图">
      <group id="MapOperation" index="1" label="地图操作" visible="true"/>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.FormMapContextMenu" index="12" label="地图窗口_地图">
      <group id="PasteGeometry" index="0" label="粘贴" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Geometry/Paste.png" index="0" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryContextMenu" index="13" label="地图窗口_选中几何对象">
      <!--<group id="GeometrySaveAsDataset" index="0" label="另存为数据集" visible="true">
        <button checkState="false" image="" index="0" label="另存为数据集" onAction="SuperMap.Desktop._CtrlActionGeometrySaveAsDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
      <group id="CutandCopyGeometry" index="1" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Combination" index="5" label="组合与分解" visible="true">
      <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/combination.png" index="1" label="组合" onAction="CtrlActionCombination" screenTip="将多个对象组合为一个对象，简单数据集将得到复杂对象，CAD数据集将得到复合对象。" screenTipImage="" shortcutKey="" visible="true"/>
	    <button checkState="false" image="../Resources/MapEditor/Toolbar/GeometryEditor/decompose.png" index="2" label="分解" onAction="CtrlActionDecompose" screenTip="将可编辑图层中选中的复合对象或者复杂对象分解为简单对象。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryTextContextMenu" index="14" label="地图窗口_选中文本对象">
      <!--<group id="GeometrySaveAsDataset" index="0" label="另存为数据集" visible="true">
        <button checkState="false" image="" index="0" label="另存为数据集" onAction="SuperMap.Desktop._CtrlActionGeometrySaveAsDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
      <group id="CutandCopyGeometry" index="1" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <!--<group id="Combination" index="6" label="组合与拆分" visible="true">
        <button checkState="false" image="" index="0" label="组合" onAction="SuperMap.Desktop._CtrlActionCombination" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="拆分" onAction="SuperMap.Desktop._CtrlActionDecompose" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormMap.GeometryParmaContextMenu" index="15" label="地图窗口_选中参数化几何对象">
      <group id="CutandCopyGeometry" index="0" label="剪切与复制" visible="true">
        <button checkState="false" image="" index="0" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSimpleObj" index="2" label="删除" visible="true">
        <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorThemeUniqueAndRangeContextMenu" index="19" label="图层管理器_二维矢量单值和分段专题图">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorContextMenu" index="20" label="图层管理器_矢量图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerTextContextMenu" index="21" label="图层管理器_文本图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorCADContextMenu" index="22" label="图层管理器_CAD图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerContextMenu" index="23" label="图层管理器_多种图层">
      <group id="OperationState" index="0" label="图层状态" visible="true">
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Editable.png" index="2" label="可编辑" onAction="CtrlActionLayerEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapEditor/Menu/Legend/Snapable.png" index="3" label="可捕捉" onAction="CtrlActionLayerSnapable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
</plugin>
