<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="LBSClient Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.LBSClient" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/LBSClient/SuperMap.Desktop.LBSClient.dll" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="LBS" index="20" label="在线分析" visible="true">
            <group id="LBS" index="10" label="LBS" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/DataManager.png" index="1" label="数据管理" onAction="CtrlActionHDFSFiles" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/Upload.png" index="2" label="上传数据" onAction="CtrlActionUpload" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/Download.png" index="3" label="下载数据" onAction="CtrlActionDownLoadHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/MakeDir.png" index="4" label="新建文件夹" onAction="CtrlActionMkdir" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/TaskManager.png" index="5" label="任务管理" onAction="CtrlActionTaskManager" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/TaskRecover.png" index="6" label="恢复任务" onAction="CtrlActionTaskRecover" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/CreateSpatialIndex.png" index="6" label="创建索引" onAction="CtrlActionBuildSpatialIndex" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
                <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/FindTrack.png" index="7" label="轨迹查询" onAction="CtrlActionFindTrack" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
                <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/KernelDensity.png" index="8" label="核密度分析" onAction="CtrlActionKernelDensity" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/HeatMap.png" index="9" label="计算热度图" onAction="CtrlActionHeatMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
                <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/NowHeatMap.png" index="9" label="实时热度图" onAction="CtrlActionHeatMapRealtime" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
                <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/BoundsQuery.png" index="10" label="范围查询" onAction="CtrlActionBoundsQuery" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
            </group>
            <!--group id="manager" index="12" label="manager" visible="true">
              <button checkState="false" customProperty="" helpURL="" image="" index="" label="Spark Overview" onAction="CtrlActionSparkOverview" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="" image="" index="" label="Hadoop Overview" onAction="CtrlActionHadoopOverview" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group-->
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar formClass="" id="LBS" index="1" label="位置服务" rowIndex="0" visible="true">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/DataManager.png" index="1" label="数据管理" onAction="CtrlActionHDFSFiles" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/Upload.png" index="2" label="上传数据" onAction="CtrlActionUpload" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/Download.png" index="3" label="下载数据" onAction="CtrlActionDownLoadHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/MakeDir.png" index="4" label="新建文件夹" onAction="CtrlActionMkdir" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/TaskManager.png" index="5" label="任务管理" onAction="CtrlActionTaskManager" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/TaskRecover.png" index="6" label="恢复任务" onAction="CtrlActionTaskRecover" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/CreateSpatialIndex.png" index="6" label="创建索引" onAction="CtrlActionBuildSpatialIndex" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
            <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/FindTrack.png" index="7" label="轨迹查询" onAction="CtrlActionFindTrack" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
            <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/KernelDensity.png" index="8" label="核密度分析" onAction="CtrlActionKernelDensity" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/HeatMap.png" index="9" label="计算热度图" onAction="CtrlActionHeatMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
            <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/NowHeatMap.png" index="9" label="实时热度图" onAction="CtrlActionHeatMapRealtime" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
            <!--button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/BoundsQuery.png" index="10" label="范围查询" onAction="CtrlActionBoundsQuery" screenTip="" screenTipImage="" shortcutKey="" visible="true"/-->
            <separator index="24"/>
        </toolbar>
    </toolbars>
    <dockbars>
        <dockbar component="com.supermap.desktop.http.FileManagerContainer" dockDirection="right" id="fileManagerContainer" title="任务管理" visible="false"/>
        <dockbar component="com.supermap.desktop.http.TaskManagerContainer" dockDirection="right" id="taskManagerContainer" title="当前任务" visible="false"/>
    </dockbars>
    <contextMenus>
        <contextMenu id="SuperMap.Desktop.UI.LBSControlManager.ContextMenuLBSControl" index="4" label="位置服务">

            <group id="Browse Tabular" index="1" label="下载" visible="true">
                <button checkState="false" image="../Resources/LBSClient/Menu/Download.png" index="0" label="下载" onAction="CtrlActionDownLoadHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Browse Tabular" index="2" label="删除" visible="true">
                <button checkState="false" image="../Resources/LBSClient/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDeleteHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="重命名" onAction="CtrlActionRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Browse Tabular" index="3" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionPreviewCSV" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>
    <statusbars>
    </statusbars>
</plugin>
