<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="WorkflowView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.WorkflowView" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/WorkflowView/SuperMap.Desktop.WorkflowView.dll" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="View" index="4" label="视图" visible="true">
            <group id="Browser" index="1" label="浏览" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/Menu/NewWorkflow.png" index="3" label="新建工作流" onAction="CtrlActionNewWorkflow" screenTip="新建一个场景窗口。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar formClass="" id="Process" index="2" label="Process" rowIndex="0" visible="true">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Process.png" index="1" label="新建工作流" onAction="CtrlActionNewWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/import.png" index="5" label="导入模板" onAction="CtrlActionImportWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <!--<separator index="8"/>-->
            <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/PointLight.png" index="9" label="演示视频" onAction="CtrlActionDEMO" screenTip="用户大会展台演示" screenTipImage="" shortcutKey="" visible="true"/>-->
        </toolbar>
        <toolbar formClass="SuperMap.Desktop.FormWorkflow" id="Workflow" index="0" label="Process" rowIndex="1" visible="true">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Connect.png" index="2" label="连接" onAction="CtrlActionConnect" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Run.png" index="3" label="执行" onAction="CtrlActionRun" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/export.png" index="4" label="导出模板" onAction="CtrlActionExportWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
        <separator index="8"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/PointLight.png" index="9" label="演示视频" onAction="CtrlActionDEMO" screenTip="用户大会展台演示" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbars>
    <dockbars>
        <dockbar component="com.supermap.desktop.WorkflowView.ProcessManager" dockDirection="leftTop" id="ProcessManager" title="工具箱" visible="false"/>
        <dockbar component="com.supermap.desktop.WorkflowView.ParameterManager" dockDirection="rightTop" id="ParameterManager" title="参数设置" visible="false"/>
        <dockbar component="com.supermap.desktop.WorkflowView.tasks.TasksManagerContainer" dockDirection="right" id="TasksManagerContainer" title="任务管理" visible="false"/>
    </dockbars>
    <contextMenus>
        <contextMenu id="Supermap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkFlows" index="30" label="工作空间管理器_工作流集合">
            <group id="WorkFlows" index="0" label="工作流集合" visible="true">
                <button checkState="false" image="../Resources/Process/NewWorkFlow.png" index="0" label="新建工作流" onAction="CtrlActionWorkflow" visible="true"/>
                <button checkState="false" image="" index="1" label="加载工作流模板..." onAction="CtrlActionProcessImport" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="Supermap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkFlow" index="31" label="工作空间管理器_工作流">
            <group id="WorkFlow" index="0" label="工作流" visible="true">
                <button checkState="false" image="" index="0" label="打开工作流" onAction="CtrlActionOpenWorkFlow" visible="true"/>
                <button checkState="false" image="" index="1" label="工作流另存为..." onAction="CtrlActionTreeWorkFlowSaveAs" visible="true"/>
                <button checkState="false" image="" index="2" label="输出工作流模板..." onAction="CtrlActionProcessExportTree" visible="true"/>
            </group>
            <group id="WorkFlowOperation" index="1" label="工作流操作" visible="true">
                <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除工作流" onAction="CtrlActionProcessDelete" visible="true"/>
                <button checkState="false" image="../Resources/Core/Menu/Rename.png" index="1" label="重命名" onAction="CtrlActionProcessRename" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.FormContextMenu" index="30" label="工作流窗口_工作流">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Process" index="0" label="工作流窗口" visible="true">
                <button checkState="false" image="" index="0" label="保存工作流" onAction="CtrlActionSave"/>
                <button checkState="false" image="" index="1" label="工作流另存为..." onAction="CtrlActionProcessSaveAs"/>
                <button checkState="false" image="../Resources/Process/ToolBar/export.png" index="2" label="输出工作流模板..." onAction="CtrlActionExportWorkflow" visible="true"/>
            </group>
            <group id="Settings" index="5" label="设置" visible="true">
                <button checkState="false" image="" index="0" label="参数设置" onAction="CtrlActionParameters"/>
            </group>
            <group id="Settings" index="6" label="任务管理" visible="true">
                <button checkState="false" image="" index="0" label="任务管理" onAction="CtrlActionTasksManager"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.ProcessContextMenu" index="30" label="工作流窗口_功能节点">
            <group id="Process" index="0" label="工作流窗口" visible="true">
                <button checkState="false" image="" index="0" label="参数设置" onAction="CtrlActionParameters"/>
            </group>
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.OutputContextMenu" index="30" label="工作流窗口_输出节点">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.GraphsContextMenu" index="30" label="工作流窗口_混合节点">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>
    <statusbars>
    </statusbars>
    <ProcessManager>
        <ProcessGroup id="" name="">
            <Process processDescriptor="" processLoader="">
                <className/>
                <key/>

            </Process>
        </ProcessGroup>
    </ProcessManager>
</plugin>
