<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!-->
	插件的配置文件模板
	frameMenus表示最上方的菜单栏
	dockbars表示工具栏
	statusbars表示状态栏
	contextMenus表示右键弹出的菜单栏
</!-->
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.SampleCode" author="SuperMap" url="www.supermap.com.cn" description="SampleCode Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="SuperMap.Desktop.SampleCode" enabled="True" />
  <frameMenus>
    <frameMenu index="500" label="测试" visible="true">
		<group>
		<button index = "0" label="测试" visible="true" onAction="CtrlActionTest" />
		</group>
    </frameMenu>
  </frameMenus>
  <dockbars />
  <statusbars />
  <contextMenus/>
</plugin>