<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="Process Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.Process" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/Process/SuperMap.Desktop.Process.dll" enabled="True"/>
  <frameMenus>
  </frameMenus>
  <toolbars>
      <toolbar formClass="" id="Process" index="2" label="Process" rowIndex="0" visible="true">
	  <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/ChooseData.png" index="1" label="工作流建模" onAction="CtrlActionProcess" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
	  <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/ToolBar/ChooseData.png" index="1" label="执行" onAction="CtrlActionRun" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbar>
  </toolbars>
	<dockbars>
        <dockbar component="com.supermap.desktop.process.ProcessManager" dockDirection="right" id="ProcessManager" title="功能节点" visible="false"/>
        <dockbar component="com.supermap.desktop.process.ParameterManager" dockDirection="right" id="ParameterManager" title="参数设置" visible="false"/>
        <dockbar component="com.supermap.desktop.process.tasks.TasksManagerContainer" dockDirection="right" id="TasksManagerContainer" title="任务管理" visible="false"/>
  </dockbars>
  <contextMenus>
   <contextMenu id="SuperMap.Desktop.UI.LBSControlManager.ContextMenuLBSControl" index="4" label="位置服务">
      <group id="Browse Tabular" index="0" label="下载" visible="true">
        <button checkState="false" image="../Resources/LBSClient/Menu/Download.png" index="0" label="下载" onAction="CtrlActionDownLoadHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
	   <group id="Browse Tabular" index="1" label="删除" visible="true">
        <button checkState="false" image="../Resources/LBSClient/Menu/Delete.png" index="0" label="删除" onAction="CtrlActionDeleteHDFS" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" image="" index="1" label="重命名" onAction="CtrlActionRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
  <statusbars>
  </statusbars>
</plugin>
