<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!-->
	插件的配置文件模板
	frameMenus表示最上方的菜单栏
	dockbars表示工具栏
	statusbars表示状态栏
	contextMenus表示右键弹出的菜单栏
</!--><plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="SampleCode Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.UserConferenceDemo" url="www.supermap.com.cn">
    <runtime bundleName="SuperMap.Desktop.UserConferenceDemo" enabled="True"/>
    <frameMenus/>
    <dockbars/>
    <statusbars/>
    <contextMenus/>
    <toolbars>
        <toolbar formClass="" id="Process" index="2" label="Process" rowIndex="0" visible="true">
            <!--<separator index="8"/>-->
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/PointLight.png" index="9" label="演示视频" onAction="CtrlActionDEMO" screenTip="用户大会展台演示" screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
    </toolbars>
</plugin>
