<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="TabularView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.TabularView" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/TabularView/SuperMap.Desktop.TabularView.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="SuperMap.Desktop.FormTabular" id="Tabular" index="300" label="属性表" visible="true">
<!--       <group id="Output" index="1" label="输出" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\DatasetButton.htm" image="../Resources/TabularView/Icon/Tabular/Output/Dataset.png" index="0" label="数据集" onAction="SuperMap.Desktop._CtrlActionOutputDataset" screenTip="打开“另存为数据集”对话框，将当前属性表存储的空间信息或属性信息输出为新的数据集或者纯属性数据集。" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
      <group id="Browse" index="2" label="浏览" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SortOrderAscendingButton.htm" image="../Resources/TabularView/Icon/Browse/Ascending.png" index="0" label="升序" onAction="CtrlActionSortOrderAscending" screenTip="对属性表中的记录按照选中的列的值进行升序排序。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SortOrderDescendingButton.htm" image="../Resources/TabularView/Icon/Browse/Descending.png" index="0" label="降序" onAction="CtrlActionSortOrderDescending" screenTip="对属性表中的记录按照选中的列的值进行降序排序。" screenTipImage="" shortcutKey="" visible="true"/>
        <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\HideButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnHide.png" index="0" label="隐藏列" onAction="SuperMap.Desktop._CtrlActionColumnHide" screenTip="隐藏属性表中选中的列。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\CancelHideButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnCancelHide.png" index="0" label="取消隐藏" onAction="SuperMap.Desktop._CtrlActionColumnCancelHide" screenTip="显示属性表中被隐藏的列。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\FilterButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnFilter.png" index="0" label="筛选" onAction="SuperMap.Desktop._CtrlActionColumnFilter" screenTip="使属性表中选中的列具有筛选功能。" screenTipImage="" shortcutKey="" visible="true"/>-->
        <buttonDropdown id="Goto" image="" index="0" label="定位" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="0" label="定位到..." onAction="CtrlActionTabularGoTo" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="[Ctrl]+[F]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="0" label="定位到首行" onAction="CtrlActionGoToFirst" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="[Ctrl]+[F]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="0" label="定位到末行" onAction="CtrlActionGoToLast" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="[Ctrl]+[F]" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
     <!--  <group id="Edit" index="3" label="编辑" visible="true"> -->
     <!--    <dialogBoxLauncher onAction="SuperMap.Desktop._CtrlActionEditHistorySetting" screenTip="" screenTipImage="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\DeleteRecordsButton.htm" image="../Resources/TabularView/Icon/Edit/TabularRemoveRow.png" index="0" label="删除行" onAction="SuperMap.Desktop._CtrlActionTabularRemoveRow" screenTip="删除属性表中选中的记录。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\AddRecordsButton.htm" image="../Resources/TabularView/Icon/Edit/TabularAddRow.png" index="0" label="添加行" onAction="SuperMap.Desktop._CtrlActionTabularAddRow" screenTip="在当前属性表中追加一条新的记录。仅纯属性数据集可用。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/EditTabular/UpdateButton.htm" image="../Resources/TabularView/Icon/Edit/TabularUpdataColumn.png" index="0" label="更新列" onAction="SuperMap.Desktop._CtrlActionTabularUpdataColumn" screenTip="打开“更新列”对话框，实现快速地按一定的条件或规则统一修改当前属性表中多条记录的指定属性字段的值。" screenTipImage="" shortcutKey="" visible="true"/> -->
        <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\UndoButton.htm" image="../Resources/TabularView/Icon/Edit/TabularUndo.png" index="0" label="撤销" onAction="SuperMap.Desktop._CtrlActionTabularUndo" screenTip="撤销上一次的属性表编辑操作。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\UndoButton.htm" image="../Resources/TabularView/Icon/Edit/TabularRedo.png" index="0" label="重做" onAction="SuperMap.Desktop._CtrlActionTabularRedo" screenTip="恢复到前一次撤销的属性表编辑操作前的状态。" screenTipImage="" shortcutKey="" visible="true"/>-->
     <!--  </group> -->
      <group id="StatisticAnalyst" index="4" label="统计分析" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SumButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Sum.png" index="0" label="总和" onAction="CtrlActionStatisticAnalystSum" screenTip="统计属性表中选中的数值型字段的属性值的总和。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\AverageButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Average.png" index="0" label="平均值" onAction="CtrlActionStatisticAnalystAverage" screenTip="统计属性表中选中的数值型字段的属性值的平均值。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\MaxButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Max.png" index="0" label="最大值" onAction="CtrlActionStatisticAnalystMax" screenTip="统计属性表中选中的数值型字段中的最大属性值。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\MinButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Min.png" index="0" label="最小值" onAction="CtrlActionStatisticAnalystMin" screenTip="统计属性表中选中的数值型字段中的最小属性值。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\VarianceButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Variance.png" index="0" label="方差" onAction="CtrlActionStatisticAnalystVariance" screenTip="统计属性表中选中的数值型字段的所有属性值的方差。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\StdDeviationButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/StdDeviation.png" index="0" label="标准差" onAction="CtrlActionStatisticAnalystStdDeviation" screenTip="统计属性表中选中的数值型字段的所有属性值的标准差。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\CountOfValueButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/CountOfValue.png" index="0" label="单值个数" onAction="CtrlActionStatisticAnalystCountOfValue" screenTip="统计属性表中选中单元格的单值总个数。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
     <!--  <group id="Settings" index="5" label="系统设置" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SumButton.htm" image="../Resources/TabularView/Icon/Browse/HideSysFields.png" index="0" label="隐藏系统字段" onAction="SuperMap.Desktop._CtrlActionHideSysFields" screenTip="隐藏属性表中的系统字段。" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
    </frameMenu>
  </frameMenus>
  <toolbars>
    <toolbar formClass="SuperMap.Desktop.FormTabular" id="TabularView" index="1" label="属性操作" visible="true">
      <!-- <button checkState="false" image="../Resources/TabularView/Toolbar/Dataset.png" index="1" label="数据集" onAction="CtrlActionDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="3"/> -->
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/SortOrderAscending.png" index="4" label="升序" onAction="CtrlActionSortOrderAscending" screenTip="对属性表中的记录按照选中的列的值进行升序排序。" screenTipImage="" shortcutKey="[S]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/SortOrderDescending.png" index="5" label="降序" onAction="CtrlActionSortOrderDescending" screenTip="对属性表中的记录按照选中的列的值进行降序排序。" screenTipImage="" shortcutKey="" visible="true"/>
      <!-- <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/ColumnFilter.png" index="6" label="筛选" onAction="CtrlActionColumnFilter" screenTip="使属性表中选中的列具有筛选功能。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/UpdataColumn.png" index="7" label="更新列" onAction="CtrlActionUpdataColumn" screenTip="打开“更新列”对话框，实现快速地按一定的条件或规则统一修改当前属性表中多条记录的指定属性字段的值。" screenTipImage="" shortcutKey="" visible="true"/> -->
      <separator index="3"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/GoToFirst.png" index="8" label="首记录" onAction="CtrlActionGoToFirst" screenTip="定位到属性表第一行记录。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/GoToForward.png" index="9" label="前一条" onAction="CtrlActionGoToForward" screenTip="定位到属性表前一行记录。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/GoToNext.png" index="10" label="后一条" onAction="CtrlActionGoToNext" screenTip="定位到属性表后一行记录。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/GoToLast.png" index="11" label="尾记录" onAction="CtrlActionGoToLast" screenTip="定位到属性表最后一行记录。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/GoTo.png" index="12" label="定位到" onAction="CtrlActionTabularGoTo" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="13"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystSum.png" index="14" label="总和" onAction="CtrlActionStatisticAnalystSum" screenTip="统计属性表中选中的数值型字段的属性值的总和。" screenTipImage="" shortcutKey="[Z]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystAverage.png" index="15" label="平均值" onAction="CtrlActionStatisticAnalystAverage" screenTip="统计属性表中选中的数值型字段的属性值的平均值。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystMax.png" index="16" label="最大值" onAction="CtrlActionStatisticAnalystMax" screenTip="统计属性表中选中的数值型字段中的最大属性值。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystMin.png" index="17" label="最小值" onAction="CtrlActionStatisticAnalystMin" screenTip="统计属性表中选中的数值型字段中的最小属性值。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystVariance.png" index="18" label="方差" onAction="CtrlActionStatisticAnalystVariance" screenTip="统计属性表中选中的数值型字段的所有属性值的方差。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystStdDeviation.png" index="19" label="标准差" onAction="CtrlActionStatisticAnalystStdDeviation" screenTip="统计属性表中选中的数值型字段的所有属性值的标准差。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/TabularView/Toolbar/StatisticAnalystCountOfValue.png" index="20" label="单值个数" onAction="CtrlActionStatisticAnalystCountOfValue" screenTip="统计属性表中选中单元格的单值总个数。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <separator index="24"/>
      <!--<button checkState="false" image="../Resources/TabularView/Toolbar/ColumnWidth.png" index="25" label="列宽设置" onAction="CtrlActionColumnWidth" screenTip="设置列宽(自定义列宽，标准列宽，最合适列宽)。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/TabularView/Toolbar/TabularColor.png" index="26" label="颜色设置" onAction="CtrlActionTabularColor" screenTip="设置属性表颜色(窗口背景颜色，可编辑区域、非可编辑区域背景颜色和文本颜色)。" screenTipImage="" shortcutKey="" visible="true"/>-->
    </toolbar>
  </toolbars>
  <dockbars/>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector" index="3" label="工作空间管理器_矢量数据集">
      <group id="Browse Tabular" index="0" label="浏览属性表" visible="true">
        <button checkState="false" image="" index="0" label="浏览属性表" onAction="CtrlActionDatasetTabularBrowser" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular" index="4" label="工作空间管理器_属性数据集">
      <group id="Browse Tabular" index="0" label="浏览属性表" visible="true">
        <button checkState="false" image="" index="0" label="浏览属性表" onAction="CtrlActionDatasetTabularBrowser" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.FormSuperTabular.FormSuperTabularContextMenu" index="65" label="新版属性表窗口">
 <!--      <group id="Output" index="0" label="另存为数据集" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\DatasetButton.htm" image="../Resources/TabularView/Icon/Tabular/Output/Dataset.png" index="0" label="另存为数据集" onAction="SuperMap.Desktop._CtrlActionOutputDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/TabularView/Icon/Tabular/Output/ExportExcel.png" index="0" label="保存为Excel" onAction="SuperMap.Desktop._CtrlActionOutputExcel" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
<!--       <group id="CopyAndPaste" index="1" label="复制粘贴" visible="true">
        <button checkState="false" image="" index="0" label="复制" onAction="SuperMap.Desktop._CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="粘贴" onAction="SuperMap.Desktop._CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
      <group id="Browse" index="2" label="浏览" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SortOrderAscendingButton.htm" image="../Resources/TabularView/Icon/Browse/Ascending.png" index="0" label="升序" onAction="CtrlActionSortOrderAscending" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SortOrderDescendingButton.htm" image="../Resources/TabularView/Icon/Browse/Descending.png" index="1" label="降序" onAction="CtrlActionSortOrderDescending" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <!-- <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\HideButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnHide.png" index="2" label="隐藏列" onAction="SuperMap.Desktop._CtrlActionColumnHide" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\CancelHideButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnCancelHide.png" index="3" label="取消隐藏" onAction="SuperMap.Desktop._CtrlActionColumnCancelHide" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\FilterButton.htm" image="../Resources/TabularView/Icon/Browse/ColumnFilter.png" index="4" label="筛选" onAction="SuperMap.Desktop._CtrlActionColumnFilter" screenTip="" screenTipImage="" shortcutKey="" visible="true"/> -->	
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="2" label="定位" onAction="CtrlActionTabularGoTo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="3" label="定位到首行" onAction="CtrlActionGoToFirst" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="[Ctrl]+[F]" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\GoToButton.htm" image="../Resources/TabularView/Icon/Browse/GoTo.png" index="4" label="定位到末行" onAction="CtrlActionGoToLast" screenTip="打开“定位到”对话框，根据输入的参数定位到属性表中的某一行。" screenTipImage="" shortcutKey="[Ctrl]+[F]" visible="true"/>
      </group>
     <!--  <group id="Edit" index="3" label="编辑" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/EditTabular/UpdateButton.htm" image="../Resources/TabularView/Icon/Edit/TabularUpdataColumn.png" index="0" label="更新列" onAction="SuperMap.Desktop._CtrlActionTabularUpdataColumn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\UndoButton.htm" image="../Resources/TabularView/Icon/Edit/TabularRedo.png" index="1" label="重做" onAction="SuperMap.Desktop._CtrlActionTabularRedo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\UndoButton.htm" image="../Resources/TabularView/Icon/Edit/TabularUndo.png" index="2" label="撤销" onAction="SuperMap.Desktop._CtrlActionTabularUndo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
   <!--    <group id="EditRow" index="4" label="编辑" visible="true">
        <button checkState="false" image="../Resources/TabularView/Icon/Edit/TabularRemoveRow.png" index="0" label="删除行" onAction="SuperMap.Desktop._CtrlActionTabularRemoveRow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/TabularView/Icon/Edit/TabularAddRow.png" index="0" label="添加行" onAction="SuperMap.Desktop._CtrlActionTabularAddRow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group> -->
      <group id="Analyst" index="5" label="统计分析" visible="true">
        <buttonDropdown id="Analyst" image="" index="1" label="统计分析" visible="true">
          <group id="StatisticAnalyst" index="0" label="统计分析" visible="true">
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\SumButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Sum.png" index="0" label="总和" onAction="CtrlActionStatisticAnalystSum" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\AverageButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Average.png" index="1" label="平均值" onAction="CtrlActionStatisticAnalystAverage" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\MaxButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Max.png" index="2" label="最大值" onAction="CtrlActionStatisticAnalystMax" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\MinButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Min.png" index="3" label="最小值" onAction="CtrlActionStatisticAnalystMin" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\VarianceButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/Variance.png" index="4" label="方差" onAction="CtrlActionStatisticAnalystVariance" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\StdDeviationButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/StdDeviation.png" index="5" label="标准差" onAction="CtrlActionStatisticAnalystStdDeviation" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing\EditTabular\CountOfValueButton.htm" image="../Resources/TabularView/Icon/StatisticAnalyst/CountOfValue.png" index="6" label="单值个数" onAction="CtrlActionStatisticAnalystCountOfValue" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
    </contextMenu>
    <!--<contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3DTheme" index="50" label="三维图层管理器_专题图图层">
      <group id="Layer3DTheme1" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="2" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3DDataset" index="42" label="三维图层管理器_数据集图层">
      <group id="Layer3DDataset1" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="2" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorThemeOtherContextMenu" index="28" label="图层管理器_二维矢量专题图（除单值和分段）">
      <group id="BindWindow" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="1" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorThemeUniqueAndRangeContextMenu" index="19" label="图层管理器_二维矢量单值和分段专题图">
      <group id="BindWindow" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="1" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorCADContextMenu" index="22" label="图层管理器_CAD图层">
      <group id="BindWindow" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="1" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerTextContextMenu" index="21" label="图层管理器_文本图层">
      <group id="BindWindow" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="1" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.LayerVectorContextMenu" index="20" label="图层管理器_矢量图层">
      <group id="BindWindow" index="1" label="关联浏览属性数据" visible="true">
        <button checkState="false" image="../Resources/TabularView/Menu/BindWindow.png" index="1" label="关联浏览属性数据" onAction="SuperMap.Desktop._CtrlActionLayersControlBindWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>-->
  </contextMenus>
  <statusbars>
    <statusbar formClass="com.supermap.desktop.FormTabular" id="Tabular" visible="true">
      <label index="1" label="记录数： " visible="true" width="1000"/>
      <label index="2" label="字段类型：" visible="true" width="0"/>
      <textBox index="3" readOnly="true" screenTip="" screenTipImage="" text="字段类型：" visible="true" width="0"/>
	  <label index="4" label="字段名称：" visible="true" width="0"/>
      <textBox index="5" readOnly="true" screenTip="" screenTipImage="" text="字段名称" visible="true" width="0"/>
      <textBox index="6" readOnly="true" screenTip="" screenTipImage="" text="统计结果" visible="true" width="0"/>
	  
    </statusbar>
  </statusbars>
</plugin>
