<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="DataEditor Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.DataEditor" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/DataEditor/SuperMap.Desktop.DataEditor.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
      <group id="Datasource" index="1" label="数据源" visible="true">
        <buttonDropdown id="New" image="../Resources/DataEditor/Menu/File/NewDatasource.png" index="1" label="新建数据源" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="1" label="文件型..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型（UDB）数据源" screenTipImage="" shortcutKey="[Ctrl]+[N]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="2" label="数据库型..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="3" label="内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
    </frameMenu>
    <frameMenu formClass="" id="Dataset" index="10" label="数据集" visible="true">
      <group id="DatasetOperate" index="0" label="新建数据集" visible="true">
        <button checkState="false" image="" index="0" label="新建数据集..." onAction="CtrlActionNewDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="删除数据集..." onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="3" label="关闭数据集" onAction="CtrlActionCloseDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <!--<button checkState="false" image="" index="4" label="查找数据集..." onAction="CtrlActionSearchDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
      </group>
      <group id="Vector" index="2" label="矢量" visible="true">
        <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/AddtoRow.htm" image="../Resources/DataEditor/Menu/Dataset/DatasetAppendRow.png" index="1" label="追加行" onAction="CtrlActionDatasetAppendRow" screenTip="实现把一个或几个数据集中的记录（行）追加到另一个数据集中。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/AddtoList.htm" image="../Resources/DataEditor/Menu/Dataset/DatasetAppendColumn.png" index="2" label="追加列" onAction="CtrlActionDatasetAppendColumn" screenTip="用源数据集的属性表的字段（列）更新目标数据集的属性表字段，添加其所不具备的字段及对应的属性值。" screenTipImage="" shortcutKey="" visible="true"/>-->
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" image="../Resources/DataEditor/Menu/Dataset/CreateSpatialIndex.png" index="3" label="重建空间索引" onAction="CtrlActionCreateSpatialIndex" screenTip="重建空间索引" screenTipImage="" shortcutKey="" visible="true"/>
        <!--<button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/FieldIndex.htm" image="" index="4" label="字段索引" onAction="CtrlActionFieldIndexManager" screenTip="为数据集中的一个或者多个字段创建索引，有助于快速查找和排序数据。" screenTipImage="" shortcutKey="" visible="true"/>-->
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Vector/FieldIndex.htm" image="../Resources/DataEditor/Menu/Dataset/RebuildBounds.png" index="5" label="重新计算范围" onAction="CtrlActionRebuildBounds" screenTip="为数据集中的一个或者多个字段创建索引，有助于快速查找和排序数据。" screenTipImage="" shortcutKey="" visible="true"/>        
      </group>
      <group id="Raster" index="4" label="栅格" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/PyromidManagement.htm" image="../Resources/DataEditor/Menu/Dataset/Pyramid.png" index="4" label="影像金字塔..." onAction="CtrlActionPyramid" screenTip="打开影像金字塔管理窗口，为影像数据集创建影像金字塔或者删除已创建的影像金字塔。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>

    <!--<frameMenu formClass="" id="Tool" index="20" label="工具" visible="true">
      <group id="data" index="3" label="数据" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing\DataManagement\ContractionDS.htm" image="../Resources/DataEditor/Icon/Datasource/Operation/CompactDatasource.png" index="0" label="紧缩数据源" onAction="SuperMap.Desktop._CtrlActionCompactDatasource" screenTip="对文件型（UDB）数据源进行压缩，使其减少数据量、减少占用的磁盘空间。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>-->
  </frameMenus>
  <toolbars>
    <toolbar id="main" index="0" label="标准" visible="true">
      <!--<button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Datasource/New.png" index="5" label="新建数据源" onAction="CtrlActionDatasourceNewFile" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
      <buttonDropdown id="New" image="../Resources/DataEditor/Toolbar/Home/Datasource/New.png" index="5" label="新建数据源" onAction="CtrlActionDatasourceNewFile" visible="true">
        <group id="" index="" label="" visible="">
          <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="1" label="文件型..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型（UDB）数据源" screenTipImage="" shortcutKey="[Ctrl]+[N]" visible="true"/>
          <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="2" label="数据库型..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
          <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/CreateDatasource.htm" image="" index="3" label="内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
        </group>
      </buttonDropdown>
      <separator index="6"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Cut.png" index="7" label="剪切" onAction="CtrlActionCut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Copy.png" index="8" label="复制" onAction="CtrlActionCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Paste.png" index="9" label="粘贴" onAction="CtrlActionPaste" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Delete.png" index="10" label="删除" onAction="CtrlActionDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="11"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Undo.png" index="12" label="撤销" onAction="CtrlActionUndo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/DataEditor/Toolbar/Home/Edit/Redo.png" index="13" label="重做" onAction="CtrlActionRedo" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="14"/>
    </toolbar>
  </toolbars>
  <dockbars/>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasources" index="1" label="工作空间管理器_数据源集合">
      <group id="CreateDatasource" index="1" label="新建数据源" visible="true">
        <button checkState="false" image="../Resources/DataEditor/Menu/File/NewDatasourceFile.png" index="0" label="新建文件型数据源..." onAction="CtrlActionDatasourceNewFile" screenTip="新建文件型数据源" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="新建数据库型数据源..." onAction="CtrlActionDatasourceNewDatabase" screenTip="新建数据库型数据源" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="新建内存数据源..." onAction="CtrlActionDatasourceNewMemory" screenTip="新建内存数据源" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource" index="2" label="工作空间管理器_数据源">
      <group id="DatasetOperate" index="0" label="新建数据集" visible="true">
        <button checkState="false" image="" index="0" label="新建数据集..." onAction="CtrlActionNewDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="删除数据集..." onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <!--<group id="DatasourceOperate1" index="2" label="数据源操作" visible="true">
        <button checkState="false" image="" index="5" label="复制数据源..." onAction="SuperMap.Desktop._CtrlActionLoadDatasourceStruct" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataEditor/Menu/Datasource/CompactDatasource.png" index="6" label="紧缩数据源..." onAction="SuperMap.Desktop._CtrlActionActiveCompactDatasource" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>-->
    </contextMenu>
    <!--<contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGroup" index="66" label="海图_数据集分组">
      <group id="DatasetChart" index="0" label="删除分组" visible="true">
        <button checkState="false" image="" index="3" label="删除分组" onAction="SuperMap.Desktop._CtrlActionDelDatasetGroup" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>-->
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector" index="3" label="工作空间管理器_矢量数据集">
      <group id="CopyDatasets" index="3" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ReBuildSpaticalIndex" index="4" label="" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/SpatialIndexManagement.htm" image="../Resources/DataEditor/Menu/Dataset/SpatialIndex.png" index="3" label="重建空间索引" onAction="CtrlActionCreateSpatialIndex" screenTip="重建空间索引" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate Dataset" index="5" label="" visible="true">
        <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/RebuildBounds.png" index="0" label="重新计算范围" onAction="CtrlActionRebuildBounds" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular" index="4" label="工作空间管理器_属性数据集">
      <group id="CopyDatasets" index="1" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group customProperty="" id="Operate Dataset" index="4" label="数据集操作" visible="true">
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGrid" index="5" label="工作空间管理器_栅格数据集">
      <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate pyramid" index="3" label="影像金字塔" visible="true">
        <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="重新计算极值" onAction="CtrlActionCalculateExtremum" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate Dataset" index="6" label="数据集操作" visible="true">
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImage" index="6" label="工作空间管理器_影像数据集">
      <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate pyramid" index="4" label="影像金字塔" visible="true">
        <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate Dataset" index="5" label="数据集操作" visible="true">
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImageCollection" index="11" label="工作空间管理器_影像数据集集合">
      <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate pyramid" index="4" label="影像金字塔" visible="true">
        <button checkState="false" image="../Resources/DataEditor/Menu/Dataset/CreatePyramid.png" index="0" label="创建影像金字塔" onAction="CtrlActionCreateImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="删除影像金字塔" onAction="CtrlActionDeleteImagePyramid" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate Dataset" index="5" label="数据集操作" visible="true">
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTopology" index="24" label="图层管理器_拓扑数据集">
      <group id="Operate Dataset" index="3" label="数据集操作" visible="true">
        <button checkState="false" image="" index="0" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="1" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDataset" index="7" label="工作空间管理器_多种数据集">
      <group id="CopyDatasets" index="2" label="复制数据集" visible="true">
        <button checkState="false" image="" index="0" label="复制数据集..." onAction="CtrlActionCopyDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Operate Dataset" index="3" label="数据集操作" visible="true">
        <button checkState="false" image="" index="1" label="删除数据集" onAction="CtrlActionDeleteDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="2" label="重命名数据集" onAction="CtrlActionDatasetRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>

</plugin>
