<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.RealspaceEditor" author="SuperMap" url="www.supermap.com.cn" description="RealspaceEditor Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/RealspaceEditor/SuperMap.Desktop.RealspaceEditor.dll" enabled="True" />
  <frameMenus>
  </frameMenus>
  <dockbars />
  <contextMenus>    
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3DDataset" index="42" label="三维图层管理器_数据集图层">
      <group id="Layer3DDataset0" index="0" label="图层状态" visible="true">
        <button checkState="false" image="" index="2" label="可编辑" onAction="CtrlActionLayer3DEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3DKML" index="43" label="三维图层管理器_KML图层">
      <group id="Layer3DKML0" index="0" label="图层状态" visible="true">
        <button checkState="false" image="" index="2" label="可编辑" onAction="CtrlActionLayer3DEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3DSCM" index="45" label="三维图层管理器_SCM模型图层">
      <group id="Layer3DSCM0" index="0" label="图层状态" visible="true">
        <button checkState="false" image="" index="2" label="可编辑" onAction="CtrlActionLayer3DEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.LayersControlManager.ContextMenuLayer3D" index="52" label="三维图层管理器_多种图层">
      <group id="Layer3D0" index="0" label="图层状态" visible="true">
        <button checkState="false" image="" index="2" label="可编辑" onAction="CtrlActionLayer3DEditable" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
</plugin>