<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="LBSClient Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.LBSClient" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/LBSClient/SuperMap.Desktop.LBSClient.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="LBS" index="13" label="位置服务" visible="true">
      <group id="LBS" index="10" label="LBS" visible="true">
        <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu//CreateSpatialIndex.png" index="1" label="创建索引" onAction="CtrlActionBuildSpatialIndex" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/FindTrack.png" index="1" label="轨迹查询" onAction="CtrlActionFindTrack" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/HeatMap.png" index="1" label="计算热度图" onAction="CtrlActionHeatMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/HeatMap.png" index="1" label="实时热度图" onAction="CtrlActionHeatMapRealtime" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/BoundsQuery.png" index="1" label="范围查询" onAction="CtrlActionBoundsQuery" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
		<button checkState="false" customProperty="" helpURL="" image="../Resources/LBSClient/Menu/ChooseData.png" index="" label="选择数据" onAction="CtrlActionHDFSFiles" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="manager" index="12" label="manager" visible="true">
        <button checkState="false" customProperty="" helpURL="" image="" index="" label="Spark Overview" onAction="CtrlActionSparkOverview" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="" image="" index="" label="Hadoop Overview" onAction="CtrlActionHadoopOverview" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
  </frameMenus>
  <toolbars>
  </toolbars>
	<dockbars>
      <dockbar control="com.supermap.desktop.http.FileManagerContainer" dockstate="docked" label="文件管理" visible="false"/>
  </dockbars>
  <contextMenus>
  </contextMenus>
  <statusbars>
  </statusbars>
</plugin>
