<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.Topology" author="SuperMap" url="www.supermap.com.cn" description="Topology Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/Topology/SuperMap.Desktop.DataTopology.dll" enabled="True" />
  <frameMenus>
    <frameMenu index="12" id="DataProcess" label="数据处理" formClass="" visible="true">
      <group index="3" id="Topo" label="拓扑" visible="true">
        <button index="0" label="拓扑预处理" visible="true" checkState="false" onAction="CtrlActionDatasetsPreprocessing" image="../Resources/DataTopology/Menu/DataProcess/DatasetPreprocessing.png" shortcutKey="" screenTip="对点、线、面数据集本身及数据集相互之间在容限范围内的问题数据进行调整。" screenTipImage="" helpURL="Features/DataProcessing/Topology/TopoPreprocess.htm" customProperty="" />
        <!--<button index="0" label="拓扑检查" visible="true" checkState="false" onAction="CtrlActionDatasetTopoCheck" image="" shortcutKey="" screenTip="用于检查点、线、面数据集本身及各不同类型数据集相互之间不符合拓扑规则的对象。" screenTipImage="" helpURL="Features/DataProcessing/Topology/TopoCheck.htm" customProperty="" />-->
        <button index="1" label="线拓扑处理" visible="true" checkState="false" onAction="CtrlActionDatasetLineTopo" image="../Resources/DataTopology/Menu/DataProcess/LineDatasetTopoCheck.png" shortcutKey="" screenTip="对线数据集和网络数据集进行拓扑处理。" screenTipImage="" helpURL="Features/DataProcessing/Topology/TopoProcessLine.htm" customProperty="" />
        <button index="1" label="拓扑构面" visible="true" checkState="false" onAction="CtrlActionDatasetRegionTopo" image="../Resources/DataTopology/Menu/DataProcess/BuildRegions.png" shortcutKey="" screenTip="通过线数据或者网络数据来创建面数据。" screenTipImage="" helpURL="Features/DataProcessing/Topology/TopotoPolygon.htm" customProperty="" />
      </group>
      <!--<group index="4" id="Vector" label="矢量" visible="true">
        <button index="8" label="提取边界线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegionToBorderLine" image="../Resources/DataTopology/Menu/DataProcess/RegionToBorderLine.png" shortcutKey="" screenTip="提取面的边界，并保存为线数据集。若多个面共边界，该边界只会被提取一次。" screenTipImage="" helpURL="Features/DataProcessing/Vector/ExtractBorderLine.htm" customProperty="" />
      </group>-->
    </frameMenu>
  </frameMenus>
  <dockbars />
  <contextMenus />

</plugin>