<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="WorkflowView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.WorkflowView" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/WorkflowView/SuperMap.Desktop.WorkflowView.dll" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="View" index="4" label="视图" visible="true">
            <group id="Browser" index="1" label="浏览" visible="true">
                <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/Menu/NewWorkflow.png" index="3" label="新建工作流" onAction="CtrlActionNewWorkflow" screenTip="新建一个场景窗口。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar formClass="" id="Process" index="2" label="Process" rowIndex="0" visible="true">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Process.png" index="1" label="新建工作流" onAction="CtrlActionNewWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/import.png" index="5" label="导入模板" onAction="CtrlActionImportWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <!--<separator index="8"/>-->
            <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/PointLight.png" index="9" label="演示视频" onAction="CtrlActionDEMO" screenTip="用户大会展台演示" screenTipImage="" shortcutKey="" visible="true"/>-->
        </toolbar>
        <toolbar formClass="SuperMap.Desktop.FormWorkflow" id="Workflow" index="3" label="Process" rowIndex="0" visible="true">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Connect.png" index="2" label="连接" onAction="CtrlActionConnect" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/Run.png" index="3" label="执行" onAction="CtrlActionRun" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/export.png" index="4" label="导出模板" onAction="CtrlActionExportWorkflow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
        <separator index="8"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Process/ToolBar/PointLight.png" index="9" label="演示视频" onAction="CtrlActionDEMO" screenTip="用户大会展台演示" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbars>
    <dockbars>
        <dockbar component="com.supermap.desktop.WorkflowView.ProcessManagerPanel" dockDirection="leftBottom" id="ProcessManager" title="工具箱" visible="false"/>
        <dockbar component="com.supermap.desktop.WorkflowView.ParameterManager" dockDirection="rightTop" id="ParameterManager" title="参数设置" visible="false"/>
        <dockbar component="com.supermap.desktop.WorkflowView.tasks.TasksManagerContainer" dockDirection="right" id="TasksManagerContainer" title="任务管理" visible="false"/>
    </dockbars>
    <contextMenus>
        <contextMenu id="Supermap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkFlows" index="30" label="工作空间管理器_工作流集合">
            <group id="WorkFlows" index="0" label="工作流集合" visible="true">
                <button checkState="false" image="../Resources/Process/NewWorkFlow.png" index="0" label="新建工作流" onAction="CtrlActionWorkflow" visible="true"/>
                <button checkState="false" image="" index="1" label="加载工作流模板..." onAction="CtrlActionProcessImport" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="Supermap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkFlow" index="31" label="工作空间管理器_工作流">
            <group id="WorkFlow" index="0" label="工作流" visible="true">
                <button checkState="false" image="" index="0" label="打开工作流" onAction="CtrlActionOpenWorkFlow" visible="true"/>
                <button checkState="false" image="" index="1" label="工作流另存为..." onAction="CtrlActionTreeWorkFlowSaveAs" visible="true"/>
                <button checkState="false" image="" index="2" label="输出工作流模板..." onAction="CtrlActionProcessExportTree" visible="true"/>
            </group>
            <group id="WorkFlowOperation" index="1" label="工作流操作" visible="true">
                <button checkState="false" image="../Resources/Core/Menu/Delete.png" index="0" label="删除工作流" onAction="CtrlActionProcessDelete" visible="true"/>
                <button checkState="false" image="../Resources/Core/Menu/Rename.png" index="1" label="重命名" onAction="CtrlActionProcessRename" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.FormContextMenu" index="30" label="工作流窗口_工作流">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Process" index="0" label="工作流窗口" visible="true">
                <button checkState="false" image="" index="0" label="保存工作流" onAction="CtrlActionSave"/>
                <button checkState="false" image="" index="1" label="工作流另存为..." onAction="CtrlActionProcessSaveAs"/>
                <button checkState="false" image="../Resources/Process/ToolBar/export.png" index="2" label="输出工作流模板..." onAction="CtrlActionExportWorkflow" visible="true"/>
            </group>
            <group id="Settings" index="5" label="设置" visible="true">
                <button checkState="false" image="" index="0" label="参数设置" onAction="CtrlActionParameters"/>
            </group>
            <group id="Settings" index="6" label="任务管理" visible="true">
                <button checkState="false" image="" index="0" label="任务管理" onAction="CtrlActionTasksManager"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.ProcessContextMenu" index="30" label="工作流窗口_功能节点">
            <group id="Process" index="0" label="工作流窗口" visible="true">
                <button checkState="false" image="" index="0" label="参数设置" onAction="CtrlActionParameters"/>
            </group>
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.OutputContextMenu" index="30" label="工作流窗口_输出节点">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.FormWorkflow.GraphsContextMenu" index="30" label="工作流窗口_混合节点">
            <group id="FullWind" index="4" label="整窗显示" visible="true">
                <button checkState="false" image="" index="0" label="全幅显示" onAction="CtrlActionEntireView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>
    <statusbars>
    </statusbars>
    <ProcessManager>
        <ProcessGroup id="DataImport" index="0" title="数据导入">
            <ProcessGroup id="AutoCAD" title="AutoCAD交换格式">
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.DXF</Title>
                    <Key>ImportDXF</Key>
                    <ImportType>DXF</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.DWG</Title>
                    <Key>ImportDWG</Key>
                    <ImportType>DWG</ImportType>
                </Process>
            </ProcessGroup>
            <ProcessGroup id="ArcGIS" title="ArcGIS交换格式">
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.SHP</Title>
                    <Key>ImportSHP</Key>
                    <ImportType>SHP</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.GRD</Title>
                    <Key>ImportGRD</Key>
                    <ImportType>GRD</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.TXT</Title>
                    <Key>ImportTXT</Key>
                    <ImportType>TXT</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                    <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                    <Title>导入.E00</Title>
                    <Key>ImportE00</Key>
                    <ImportType>E00</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="4" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                     <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                     <Title>导入.DEM</Title>
                     <Key>ImportGBDEM</Key>
                     <ImportType>DEM</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="5" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                      <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                      <Title>导入.DBF</Title>
                      <Key>ImportDBF</Key>
                      <ImportType>DBF</ImportType>
                </Process>
            </ProcessGroup>
            <ProcessGroup id="MapInfo" title="MapInfo交换格式">
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                      <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                      <Title>导入.TAB</Title>
                      <Key>ImportTAB</Key>
                      <ImportType>TAB</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                      <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                      <Title>导入.MIF</Title>
                      <Key>ImportMIF</Key>
                      <ImportType>MIF</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                       <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                       <Title>导入.WOR</Title>
                       <Key>ImportWOR</Key>
                       <ImportType>WOR</ImportType>
                </Process>
            </ProcessGroup>
            <ProcessGroup id="MapGIS" title="MapGIS交换格式">
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                       <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                       <Title>导入.WAT</Title>
                       <Key>ImportWAT</Key>
                       <ImportType>WAT</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.WAN</Title>
                        <Key>ImportWAN</Key>
                        <ImportType>WAN</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.WAL</Title>
                        <Key>ImportWAL</Key>
                        <ImportType>WAL</ImportType>
                </Process>
                <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.WAP</Title>
                        <Key>ImportWAP</Key>
                        <ImportType>WAP</ImportType>
                </Process>
            </ProcessGroup>
            <ProcessGroup id="Microsoft" title="Microsoft交换格式">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.CSV</Title>
                        <Key>ImportCSV</Key>
                        <ImportType>CSV</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="ImageBit" title="影像位图文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.SIT</Title>
                        <Key>ImportSIT</Key>
                        <ImportType>SIT</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.IMG</Title>
                        <Key>ImportIMG</Key>
                        <ImportType>IMG</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.TIF</Title>
                        <Key>ImportTIF</Key>
                        <ImportType>TIF</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.BMP</Title>
                        <Key>ImportBMP</Key>
                        <ImportType>BMP</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="4" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                        <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                        <Title>导入.PNG</Title>
                        <Key>ImportPNG</Key>
                        <ImportType>PNG</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="5" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.GIF</Title>
                         <Key>ImportGIF</Key>
                         <ImportType>GIF</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="6" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.JPG</Title>
                         <Key>ImportJPG</Key>
                         <ImportType>JPG</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="7" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.JP2</Title>
                         <Key>ImportJP2</Key>
                         <ImportType>JP2</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="8" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.SID</Title>
                         <Key>ImportSID</Key>
                         <ImportType>SID</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="9" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.ECW</Title>
                         <Key>ImportECW</Key>
                         <ImportType>ECW</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="ThreeModel" title="三维模型文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.OSGB</Title>
                         <Key>ImportOSGB</Key>
                         <ImportType>OSGB</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.3DS</Title>
                         <Key>Import3DS</Key>
                         <ImportType>3DS</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.X</Title>
                         <Key>ImportX</Key>
                         <ImportType>X</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.DXF</Title>
                         <Key>ImportDXF</Key>
                         <ImportType>DXF</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="GoogleKML" title="谷歌KML交换格式">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.KML</Title>
                         <Key>ImportKML</Key>
                         <ImportType>KML</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                         <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                         <Title>导入.KMZ</Title>
                         <Key>ImportKMZ</Key>
                         <ImportType>KMZ</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="Grid" title="栅格文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                          <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                          <Title>导入.DEM</Title>
                          <Key>ImportGRD_DEM</Key>
                          <ImportType>DEM</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                          <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                          <Title>导入.BIL</Title>
                          <Key>ImportBIL</Key>
                          <ImportType>BIL</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                          <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                          <Title>导入.RAW</Title>
                          <Key>ImportRAW</Key>
                          <ImportType>RAW</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                          <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                          <Title>导入.BSQ</Title>
                          <Key>ImportBSQ</Key>
                          <ImportType>BSQ</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="4" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                          <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                          <Title>导入.BIP</Title>
                          <Key>ImportBIP</Key>
                          <ImportType>BIP</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="5" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.B</Title>
                           <Key>ImportB</Key>
                           <ImportType>B</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="LIDAR" title="LIDAR文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.TXT</Title>
                           <Key>ImportLIDAR</Key>
                           <ImportType>TXT</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="GEOJSON" title="GEOJSON文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.GEOJSON</Title>
                           <Key>ImportGEOJSON</Key>
                           <ImportType>GEOJSON</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="GPS" title="GPS文件">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.GPS</Title>
                           <Key>ImportGPS</Key>
                           <ImportType>GPS</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="ChineseDimensioningVector" title="中国标准矢量格式">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.DGN</Title>
                           <Key>ImportDGN</Key>
                           <ImportType>DGN</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入.VCT</Title>
                           <Key>ImportVCT</Key>
                           <ImportType>VCT</ImportType>
                 </Process>
            </ProcessGroup>
            <ProcessGroup id="InputFolder" title="导入文件夹">
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入GJB文件夹</Title>
                           <Key>ImportGJB</Key>
                           <ImportType>GJB</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入电信 Vector Line 文件夹</Title>
                           <Key>ImportTEMSVector</Key>
                           <ImportType>TEMSVector</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入电信 Building Vector Region 文件夹</Title>
                           <Key>ImportTEMSBuildingVector</Key>
                           <ImportType>TEMSBuildingVector</ImportType>
                 </Process>
                 <Process descriptorClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessDescriptor" index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.ImportProcessLoader">
                           <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessImport</ClassName>
                           <Title>导入File GeoDataBase Vector 文件夹</Title>
                           <Key>ImportFileGDBVector</Key>
                           <ImportType>FileGDBVector</ImportType>
                 </Process>
            </ProcessGroup>
        </ProcessGroup>
        <ProcessGroup id="DataExport" index="1" title="数据导出">
            <Process index="0">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessExportGrid</ClassName>
                <Title>导出栅格数据集</Title>
                <Key>ExportGrid</Key>
            </Process>
            <Process index="1">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessExportVector</ClassName>
                <Title>导出矢量数据集</Title>
                <Key>ExportVector</Key>
            </Process>
        </ProcessGroup>
        <ProcessGroup id="OverlayAnalyst" index="4" title="叠加分析">
            <Process index="0" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>裁剪</Title>
                <Key>OverlayAnalyst_CLIP</Key>
            </Process>
            <Process index="1" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>合并</Title>
                <Key>OverlayAnalyst_UNION</Key>
            </Process>
            <Process index="2" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>擦除</Title>
                <Key>OverlayAnalyst_ERASE</Key>
            </Process>
            <Process index="3" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>同一</Title>
                <Key>OverlayAnalyst_IDENTITY</Key>
            </Process>
            <Process index="4" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>求交</Title>
                <Key>OverlayAnalyst_INTERSECT</Key>
            </Process>
            <Process index="5" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>更新</Title>
                <Key>OverlayAnalyst_UPDATE</Key>
            </Process>
            <Process index="6" loaderClass="com.supermap.desktop.WorkflowView.meta.loader.OverlayProcessLoader">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements</ClassName>
                <Title>对称差</Title>
                <Key>OverlayAnalyst_XOR</Key>
            </Process>
        </ProcessGroup>
        <ProcessGroup id="DEMBuild" index="8" title="DEM构建">
            <Process index="0">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessDEMBuild</ClassName>
                <Title>DEM构建</Title>
                <Key>DEMBuild</Key>
            </Process>
            <Process index="1">
                 <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessDEMLake</ClassName>
                 <Title>DEM挖湖</Title>
                 <Key>DEMLake</Key>
             </Process>
        </ProcessGroup>
        <Process index="0">
            <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessSpatialIndex</ClassName>
            <Title>重构空间索引</Title>
            <Key>SpatialIndex</Key>
        </Process>
        <Process index="1">
            <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessSqlQuery</ClassName>
            <Title>Sql查询</Title>
            <Key>SqlQuery</Key>
        </Process>
        <Process index="2">
            <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessBuffer</ClassName>
            <Title>缓冲区分析</Title>
            <Key>BufferAnalyst</Key>
        </Process>
        <ProcessGroup id="BigData" index="12" title="大数据">
            <Process index="0">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessSimpleDensity</ClassName>
                <Title>简单点密度分析</Title>
                <Key>SimpleDensity</Key>
            </Process>
            <Process index="1">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessKernelDensity</ClassName>
                <Title>核密度分析</Title>
                <Key>KernelDensity</Key>
            </Process>
            <Process index="2">
                 <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessOverlayanalystgeo</ClassName>
                 <Title>矢量裁剪分析</Title>
                 <Key>overlayanalystgeo</Key>
            </Process>
            <Process index="3">
                  <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessSingleQuery</ClassName>
                  <Title>单对象查询</Title>
                  <Key>SingleQuery</Key>
            </Process>
            <Process index="4">
                 <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessGridRegionAggregation</ClassName>
                 <Title>网格面聚合分析</Title>
                 <Key>GridRegionAggregation</Key>
            </Process>
            <Process index="5">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessPolygonAggregation</ClassName>
                <Title>多边形聚合分析</Title>
                <Key>PolygonAggregation</Key>
            </Process>
            <Process index="6">
                <ClassName>com.supermap.desktop.WorkflowView.meta.metaProcessImplements.MetaProcessSummaryRegion</ClassName>
                <Title>范围汇总分析</Title>
                <Key>SummaryRegion</Key>
            </Process>
        </ProcessGroup>
    </ProcessManager>
</plugin>
