<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="DataView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.DataView" url="www.supermap.com.cn">
    <runtime bundleName="./Plugins/DataView/SuperMap.Desktop.DataView.dll" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
            <group id="Workspace" index="0" label="工作空间" visible="true">
                <buttonDropdown id="OpenWorkspace" image="../Resources/DataView/Menu/File/OpenWorkspace.png" index="0" label="打开工作空间" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="文件型..." onAction="CtrlActionWorkspaceOpenFile" screenTip="打开文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="Oracle..." onAction="CtrlActionWorkspaceOpenOracle" screenTip="打开 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="SQL Server..." onAction="CtrlActionWorkspaceOpenSQL" screenTip="打开 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
                <button checkState="false" image="../Resources/DataView/Menu/File/SaveWorkspace.png" index="1" label="保存工作空间" onAction="CtrlActionWorkspaceSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <buttonDropdown id="WorkspaceSaveAs" image="" index="0" label="另存工作空间" onAction="CtrlActionWorkspaceSaveAs" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="文件型..." onAction="CtrlActionWorkspaceSaveAs" screenTip="另存文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="Oracle..." onAction="CtrlActionWorkspaceSaveAsOracle" screenTip="另存 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="SQL Server..." onAction="CtrlActionWorkspaceSaveAsSQL" screenTip="另存 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
                <button checkState="false" image="" index="3" label="关闭工作空间" onAction="CtrlActionWorkspaceClose" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/File/Delete.png" index="4" label="删除工作空间" onAction="CtrlActionWorkspaceDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Datasource" index="1" label="数据源" visible="true">
                <buttonDropdown id="Open" image="../Resources/DataView/Menu/File/OpenDatasource.png" index="0" label="打开数据源" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="../Resources/DataView/Menu/File/DatasourceFile.png" index="0" label="文件型..." onAction="CtrlActionDatasourceOpenFile" screenTip="打开文件型数据源，如 UDB 数据源。" screenTipImage="" shortcutKey="[Ctrl]+[O]" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="数据库型..." onAction="CtrlActionDatasourceOpenDatabase" screenTip="打开数据库型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="Web 型..." onAction="CtrlActionDatasourceOpenWeb" screenTip="打开 Web 型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
                <button checkState="false" image="" index="4" label="关闭数据源" onAction="CtrlActionDatasourceClose" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="SampleData" index="3" label="示范数据" visible="true">
                <buttonDropdown id="Workspace" image="../Resources/DataView/Icon/Home/Datasource/OpenDatasource16.png" index="1" label="示范工作空间" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="1" label="京津地区数据 ( Jingjin.smwu )" onAction="CtrlActionExampleData" screenTip="../SampleData/City/Jingjin/Jingjin.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="2" label="重庆地区数据 ( ChongQing.smwu )" onAction="CtrlActionExampleData" screenTip="../SampleData/City/ChongQing/ChongQing.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="3" label="中国1：100万数据 ( China.smwu )" onAction="CtrlActionExampleData" screenTip="../SampleData/China/China.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="4" label="世界数据 ( World.smwu )" onAction="CtrlActionExampleData" screenTip="../SampleData/World/World.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <!-->
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="4" label="CBD 场景数据（CBD.smwu）" onAction="CtrlActionExampleData" screenTip="../SampleData/3D/CBDDataset/CBD.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="5" label="OSGB 场景数据（MaSai.smwu）" onAction="CtrlActionExampleData" screenTip="../SampleData/3D/OSGB/MaSai.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="6" label="樱花场景数据（Cherry.smwu）" onAction="CtrlActionExampleData" screenTip="../SampleData/3D/CherryDataset/Cherry.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="7" label="海图数据 ( Chart.smwu )" onAction="CtrlActionExampleData" screenTip="../SampleData/Chart/Chart.smwu" screenTipImage="" shortcutKey="" visible="true"/>
                        <!-->
                    </group>
                </buttonDropdown>
                <buttonDropdown id="Datasource" image="../Resources/DataView/Icon/Home/Datasource/OpenDatasource16.png" index="2" label="示范数据源" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="9" label="京津地区数据 ( Jingjin.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/City/Jingjin/Jingjin.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="10" label="重庆地区数据 ( ChongQing.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/City/ChongQing/ChongQing.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="11" label="中国1：100万数据 ( China.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/China/China.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="12" label="世界数据 ( World.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/World/World.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <!-->
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="12" label="CBD 场景数据 ( CBD.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/3D/CBDDataset/CBD.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="13" label="海图数据 ( Chart.udb )" onAction="CtrlActionExampleData" screenTip="../SampleData/Chart/Chart.udb" screenTipImage="" shortcutKey="" visible="true"/>
                        <!-->
                    </group>
                </buttonDropdown>
            </group>
            <group id="RecentFile" index="4" label="最近文件" visible="true">
                <buttonDropdown id="WorkspaceRecentFiles" image="../Resources/DataView/Icon/Home/Datasource/OpenDatasource16.png" index="1" label="最近工作空间" visible="true">
                    <group id="" index="" label="" visible="">
                        <!--<button checkState="false" image="../Resources/DataView/Icon/Home/Workspace/File.png" index="1" label="京津地区数据 ( Jingjin.smwu )" onAction="CtrlActionRecentFiles" screenTip="../SampleData/City/Jingjin.smwu" screenTipImage="" shortcutKey="" visible="true"/>-->
                    </group>
                </buttonDropdown>
                <buttonDropdown id="DatasourceRecentFiles" image="../Resources/DataView/Icon/Home/Datasource/OpenDatasource16.png" index="2" label="最近数据源" visible="true">
                    <group id="" index="" label="" visible="">
                        <!--<button checkState="false" image="../Resources/DataView/Icon/Home/Datasource/File.png" index="9" label="京津地区数据 ( Jingjin.udb )" onAction="CtrlActionRecentFiles" screenTip="../SampleData/City/Jingjin.udb" screenTipImage="" shortcutKey="" visible="true"/>-->
                    </group>
                </buttonDropdown>
            </group>
        </frameMenu>
        <frameMenu formClass="" id="DataProcess" index="12" label="数据处理" visible="true">
            <group id="Query" index="2" label="查询" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/Query\SQLQueryDia.htm" image="..\Resources\DataView\Icon\Dataset\Query\SQLQuery.png" index="0" label="SQL查询..." onAction="CtrlActionSQLQuery" screenTip="弹出SQL查询对话框，设置SQL查询的必要信息，实现SQL查询。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Query/SpatialQuery.htm" image="../Resources/Assistance/Menu/DataProcess/SpatialQuery.png" index="1" label="空间查询" onAction="CtrlActionSpatialQuery" screenTip="弹出空间查询对话框，设置空间查询的必要信息，实现空间查询。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </frameMenu>
        <frameMenu formClass="" id="DataProcess" index="12" label="数据处理" visible="true">
            <group id="Data" index="7" label="数据" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/Visualization\MapSetting\PrjCoordSysSettingButton.htm" image="../Resources/DataEditor/Menu/Dataset/Help.png" index="1" label="投影设置..." onAction="CtrlActionSetProjectionSetting" screenTip="打开投影设置窗口，对工作空间管理器中选中的数据源或数据集进行投影设置。其下拉列表将显示用户添加到收藏夹中的投影文件。" screenTipImage="" shortcutKey="" visible="true"/>
                <!--<buttonDropdown id="" image="../Resources/DataEditor/Icon/Datasource/Projection/ProjectionTrans.png" index="3" label="投影转换" visible="true">
                  <group id="" index="" label="" visible="">
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Projection/ConvertPrjCoordSys.htm" image="../Resources/DataEditor/Icon/Datasource/Projection/ProjectionTrans.png" index="0" label="投影转换" onAction="SuperMap.Desktop._CtrlActionCoordSysTranslator" screenTip="打开投影转换对话框，对工作空间管理器中选中的数据源或数据集进行投影转换。" screenTipImage="" shortcutKey="" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/Projection/ConvertPrjCoordSys.htm" image="../Resources/DataEditor/Icon/Datasource/Projection/PointCoordSysTranslator.png" index="1" label="坐标点转换" onAction="SuperMap.Desktop._CtrlActionPointCoordSysTranslator" screenTip="打开坐标点对话框，对输入的源坐标点进行投影转换。" screenTipImage="" shortcutKey="" visible="true"/>
                  </group>
                </buttonDropdown>-->
            </group>
        </frameMenu>
        <frameMenu formClass="" id="View" index="4" label="视图" visible="true">
              <group id="View" index="2" label="视图" visible="true">
                <button checkState="true" customProperty="" helpURL="" image="" index="5" label="工作空间管理窗口" onAction="CtrlActionWorkspaceManagerWindow" screenTip="控制是否显示工作空间管理窗口，该窗口支持以类似操作资源管理器文件的方式，管理工作空间中的数据源、地图等资源。" screenTipImage="" visible="true" width="0"/>
              </group>
        </frameMenu>
    </frameMenus>
    <toolbars>
        <toolbar id="main" index="0" label="标准" rowIndex="0" visible="true">
            <buttonDropdown id="OpenWorkspace" image="../Resources/DataView/Toolbar/Home/Workspace/Open.png" index="0" label="打开工作空间" onAction="CtrlActionWorkspaceOpenFile" visible="true">
                <group id="" index="" label="" visible="">
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="文件型..." onAction="CtrlActionWorkspaceOpenFile" screenTip="打开文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="Oracle..." onAction="CtrlActionWorkspaceOpenOracle" screenTip="打开 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="SQL Server..." onAction="CtrlActionWorkspaceOpenSQL" screenTip="打开 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
            </buttonDropdown>
            <button checkState="false" image="../Resources/DataView/Toolbar/Home/Workspace/Save.png" index="1" label="保存工作空间" onAction="CtrlActionWorkspaceSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <buttonDropdown id="WorkspaceSaveAs" image="../Resources/DataView/Toolbar/Home/Workspace/SaveAs.png" index="2" label="另存工作空间" onAction="CtrlActionWorkspaceSaveAs" visible="true">
                <group id="" index="" label="" visible="">
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="文件型..." onAction="CtrlActionWorkspaceSaveAs" screenTip="另存文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="Oracle..." onAction="CtrlActionWorkspaceSaveAsOracle" screenTip="另存 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="SQL Server..." onAction="CtrlActionWorkspaceSaveAsSQL" screenTip="另存 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
            </buttonDropdown>
            <separator index="3"/>
            <buttonDropdown id="Open" image="../Resources/DataView/Toolbar/Home/Datasource/File.png" index="4" label="打开数据源" onAction="CtrlActionDatasourceOpenFile" visible="true">
                <group id="" index="" label="" visible="">
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="../Resources/DataView/Menu/File/DatasourceFile.png" index="0" label="文件型..." onAction="CtrlActionDatasourceOpenFile" screenTip="打开文件型数据源，如 UDB 数据源。" screenTipImage="" shortcutKey="[Ctrl]+[O]" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="数据库型..." onAction="CtrlActionDatasourceOpenDatabase" screenTip="打开数据库型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
                    <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="Web 型..." onAction="CtrlActionDatasourceOpenWeb" screenTip="打开 Web 型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
            </buttonDropdown>
        </toolbar>
        <toolbar id="main" index="0" label="标准" rowIndex="0" visible="true">
            <button checkState="false" image="../Resources/Frame/Toolbar/Home/WorkspceManagerWindow.png" index="18" label="工作空间管理窗口" onAction="CtrlActionWorkspaceManagerWindow" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
    </toolbars>
    <dockbars/>
    <contextMenus>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkspace" index="0" label="工作空间管理器_工作空间">
            <group id="OpenWorkspace" index="0" label="打开工作空间" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="打开文件型工作空间..." onAction="CtrlActionWorkspaceOpenFile" screenTip="打开文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="打开 Oracle 工作空间..." onAction="CtrlActionWorkspaceOpenOracle" screenTip="打开 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="打开 SQL Server 工作空间..." onAction="CtrlActionWorkspaceOpenSQL" screenTip="打开 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="SaveWorkspace" index="1" label="保存工作空间" visible="true">
                <button checkState="false" image="../Resources/DataView/Menu/File/SaveWorkspace.png" index="0" label="保存工作空间" onAction="CtrlActionWorkspaceSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <buttonDropdown id="WorkspaceSaveAs" image="" index="0" label="另存工作空间" onAction="CtrlActionWorkspaceSaveAs" visible="true">
                    <group id="" index="" label="" visible="">
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="../Resources/DataView/Menu/File/WorkspaceFile.png" index="0" label="文件型..." onAction="CtrlActionWorkspaceSaveAs" screenTip="另存文件型工作空间。" screenTipImage="" shortcutKey="[Shift]+[Ctrl]+[O]" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="Oracle..." onAction="CtrlActionWorkspaceSaveAsOracle" screenTip="另存 Oracle 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                        <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenWorkspace.htm" image="" index="0" label="SQL Server..." onAction="CtrlActionWorkspaceSaveAsSQL" screenTip="另存 SQL Server 数据库型的工作空间。" screenTipImage="" shortcutKey="" visible="true"/>
                    </group>
                </buttonDropdown>
                <button checkState="false" image="" index="2" label="关闭工作空间" onAction="CtrlActionWorkspaceClose" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/File/Delete.png" index="3" label="删除工作空间" onAction="CtrlActionWorkspaceDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="PropertyWorkspace" index="3" label="打开所在文件夹" visible="true">
                <button checkState="false" image="../Resources/DataView/Menu/File/FileBrowser.png" index="0" label="打开所在文件夹" onAction="CtrlActionWorkspaceOpenDirectory" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasources" index="1" label="工作空间管理器_数据源集合">
            <group id="OpenDatasource" index="0" label="打开数据源" visible="true">
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="../Resources/DataView/Menu/File/DatasourceFile.png" index="0" label="打开文件型数据源..." onAction="CtrlActionDatasourceOpenFile" screenTip="打开文件型数据源，如 UDB 数据源。" screenTipImage="" shortcutKey="[Ctrl]+[O]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="打开数据库型数据源..." onAction="CtrlActionDatasourceOpenDatabase" screenTip="打开数据库型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/DataProcessing/DataManagement/OpenDatasource.htm" image="" index="0" label="打开 Web 型数据源..." onAction="CtrlActionDatasourceOpenWeb" screenTip="打开 Web 型的数据源。" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <!--<group id="DatasourceSort" index="2" label="数据源排序" visible="true">
              <buttonDropdown id="SortDatasource" image="../Resources/DataView/Menu/Datasource/Sort.png" index="0" label="数据源排序" visible="true">
                <group id="group1" index="0" label="排序方式" visible="true">
                  <button checkState="false" image="../Resources/DataView/Menu/Datasource/SortName.png" index="0" label="名称" onAction="SuperMap.Desktop._CtrlActionDatasourceSortName" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                  <button checkState="false" image="" index="1" label="类型" onAction="SuperMap.Desktop._CtrlActionDatasourceSortType" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                  <button checkState="false" image="" index="3" label="打开顺序" onAction="SuperMap.Desktop._CtrlActionDatasourceSortOpenIndex" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
              </buttonDropdown>
            </group>-->
            <group id="CloseDatasource" index="3" label="关闭数据源" visible="true">
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Refresh.png" index="0" label="刷新" onAction="CtrlActionDatasourcesRefresh" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="关闭数据源" onAction="CtrlActionDatasourcesCloseAll" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource" index="2" label="工作空间管理器_数据源">
            <!--<group id="DatasetsSort" index="1" label="数据集排序" visible="true">
              <buttonDropdown id="SortDataset" image="../Resources/DataView/Menu/Datasource/Sort.png" index="5" label="数据集排序" visible="true">
                <group id="group1" index="0" label="排序方式" visible="true">
                  <button checkState="false" image="../Resources/DataView/Menu/Datasource/SortName.png" index="0" label="名称" onAction="SuperMap.Desktop._CtrlActionDatasetSortName" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                  <button checkState="false" image="" index="1" label="类型" onAction="SuperMap.Desktop._CtrlActionDatasetSortType" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                  <button checkState="false" image="" index="2" label="创建顺序" onAction="SuperMap.Desktop._CtrlActionDatasetSortCreateIndex" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                  <button checkState="false" image="" index="3" label="对象个数" onAction="SuperMap.Desktop._CtrlActionDatasetSortRecordsCount" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                </group>
              </buttonDropdown>
            </group>-->
            <group id="DatasourceOperate2" index="3" label="数据源操作" visible="true">
                <!--<button checkState="false" image="" index="0" label="重新指定..." onAction="SuperMap.Desktop._CtrlActionResetDatasource" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Rename.png" index="1" label="重命名" onAction="CtrlActionDatasourceRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="../Resources/DataView/Menu/Datasource/Refresh.png" index="2" label="刷新" onAction="CtrlActionDatasourceRefresh" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="3" label="关闭" onAction="CtrlActionDatasourceCloseSelected" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasourceOperate3" index="4" label="数据源操作" visible="true">
                <!--<button checkState="false" image="" index="0" label="重新指定..." onAction="SuperMap.Desktop._CtrlActionResetDatasource" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
                <button checkState="false" image="" index="1" label="重新只读打开" onAction="CtrlActionDatasourceReadOnlyMode" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="2" label="重新独占打开" onAction="CtrlActionDatasourceMonopolyMode" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="PropertyDatasource" index="5" label="打开所在文件夹" visible="true">
                <button checkState="false" image="../Resources/DataView/Menu/File/FileBrowser.png" index="0" label="打开所在文件夹" onAction="CtrlActionDatasourceOpenDirectory" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" image="" index="1" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector" index="3" label="工作空间管理器_矢量数据集">
            <group id="SQLQuery" index="4" label="SQL查询" visible="true">
                <button checkState="false" image="" index="0" label="SQL查询..." onAction="CtrlActionSQLQuery" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="5" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="6" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular" index="4" label="工作空间管理器_属性数据集">
            <group id="SQLQuery" index="2" label="SQL查询" visible="true">
                <button checkState="false" image="" index="0" label="SQL查询..." onAction="CtrlActionSQLQuery" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="4" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="5" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGrid" index="5" label="工作空间管理器_栅格数据集">
            <group id="Operate Dataset" index="6" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="7" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImage" index="6" label="工作空间管理器_影像数据集">
            <group id="Operate Dataset" index="4" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="5" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImageCollection" index="11" label="工作空间管理器_影像数据集集合">
            <group id="Manage Items" index="3" label="管理影像数据" visible="true">
                <!--><button checkState="false" image="" index="0" label="管理影像数据..." onAction="CtrlActionDatasetImageCollectionManager" screenTip="" screenTipImage="" shortcutKey="" visible="true"/><!-->
                <button checkState="false" image="" index="1" label="同步影像数据" onAction="CtrlActionDatasetImageCollectionSynchronize" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Operate Dataset" index="5" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="6" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDataset" index="7" label="工作空间管理器_多种数据集">
            <group id="Operate Dataset" index="3" label="关闭数据集" visible="true">
                <button checkState="false" image="" index="0" label="关闭数据集" onAction="CtrlActionCloseCurrentDataset" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="DatasetProperty" index="4" label="属性" visible="true">
                <button checkState="false" image="" index="0" label="属性" onAction="CtrlActionDataProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuSymbolMarker" index="8" label="工作空间管理器_点符号库">
            <group id="Map" index="0" label="加载点符号库" visible="true">
                <button checkState="false" image="" index="0" label="加载点符号库..." onAction="CtrlActionSymbolMarker" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuSymbolLine" index="9" label="工作空间管理器_线型符号库">
            <group id="Map" index="0" label="加载线符号库" visible="true">
                <button checkState="false" image="" index="0" label="加载线符号库..." onAction="CtrlActionSymbolLine" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
        <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuSymbolFill" index="10" label="工作空间管理器_填充符号库">
            <group id="Map" index="0" label="加载填充符号库" visible="true">
                <button checkState="false" image="" index="0" label="加载填充符号库..." onAction="CtrlActionSymbolFill" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>

</plugin>
