<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="Assistance Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.Assistance" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/Assistance/SuperMap.Desktop.Assistance.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="DataProcess" index="12" label="数据处理" visible="true">
      <group index="0" id="Transformation" label="配准" visible="true">
        <button index="1" label="新建配准" visible="true" checkState="false" onAction="CtrlActionNewTransformationForm" image="../Resources/Assistance/Menu/DataProcess/Transformation.png" shortcutKey="" screenTip="新建一个配准窗口，对单个配准数据集进行配准。" screenTipImage="" helpURL="Features\DataProcessing\RegistrationewRegistration.htm" customProperty="" />
        <button index="2" label="批量配准" visible="true" checkState="false" onAction="CtrlActionBatchTransformation" image="" shortcutKey="" screenTip="利用配准信息文件，对多个数据集进行批量配准。" screenTipImage="" helpURL="Features\DataProcessing\Registration\BatchRegistration.htm" customProperty="" />
      </group>
      <!--<group index="1" id="DatasetTypeConversion" label="类型转换" visible="true">
        <buttonDropdown index="0" id="DatasetTypeConversion" label="类型转换" visible="true" image="../Resources/Assistance/Menu/DataProcess/DatasetTypeConversion.png" >
          <group index="0" id="LPRConversion" label="点、线、面数据互转" visible="true">
            <button index="0" label="点数据-&gt;线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionPointToLine" image="" screenTip="将线数据转换为面数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/LineToPgn.htm" customProperty="" />
            <button index="1" label="线数据-&gt;点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionLineToPoint" image="" screenTip="将线数据转换为点数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/LineToPoint.htm" customProperty="" />
            <button index="3" label="线数据-&gt;面数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionLineToRegion" image="" screenTip="将线数据转换为面数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/LineToPgn.htm" customProperty="" />
            <button index="4" label="面数据-&gt;点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegionToPoint" image="" screenTip="将面数据转换为点数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/PgnToPoint.htm" customProperty="" />
            <button index="5" label="面数据-&gt;线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegionToLine" image="" screenTip="将面数据转换为线数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/PgnToLine.htm" customProperty="" />
          </group>
          <group index="1" id="CADGISConversion" label="复合数据与简单数据互转" visible="true">
            <button index="0" label="复合数据-&gt;简单数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCADToGIS" image="" screenTip="将复合数据转换为简单数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/ConvertCAD.htm" customProperty="" />
            <button index="1" label="简单数据-&gt;复合数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGISToCAD" image="" screenTip="将多个简单数据转换为一个复合数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/ConvertToCAD.htm" customProperty="" />      
          </group>
          <group index="2" id="NetWorkConversion" label="网络数据转点/线数据" visible="true">
            <button index="0" label="网络数据-&gt;线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionNetworkToLine" image="" screenTip="将网络数据集中所有网络弧段转换为线数据集。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/ConvertNetworkEdge.htm" customProperty="" />
            <button index="1" label="网络数据-&gt;点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionNetworkToPoint" image="" screenTip="将网络数据集中所有的网络节点转换为点数据集。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/ConvertNetworkNode.htm" customProperty="" />
          </group>
          <group index="3" id="LINEMConversion" label="路由数据转线数据" visible="true">
            <button index="0" label="路由数据-&gt;线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionLineMToLine" image="" screenTip="将路由数据转换为线数据集。" screenTipImage="" helpURL=" " customProperty="" />
          </group>
          <group index="4" id="FieldTextConversion" label="字段与文本数据互转" visible="true">
            <button index="0" label="字段-&gt;文本数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionFiledToText" image="" screenTip="将数据集中的某个字段内容转换为文本数据集。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/FieldToText.htm" customProperty="" />
            <button index="1" label="文本数据-&gt;字段..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTextToField" image="" screenTip="将文本数据集中的文本信息添加到它的属性表中，转换为一个字段存储。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/TextToField.htm" customProperty="" />
          </group>
          <group index="5" id="2DTo3DConversion" label="二维数据转三维数据" visible="true">
            <button index="0" label="二维点数据-&gt;三维点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionPoint2DToPoint3D" image="" screenTip="将二维点数据转换为三维点数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/2DsTo3Ds.htm" customProperty="" />
            <button index="1" label="二维线数据-&gt;三维线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionLine2DToLine3D" image="" screenTip="将二维线数据转换为三维线数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/2DsTo3Ds.htm" customProperty="" />
            <button index="2" label="二维面数据-&gt;三维面数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegion2DToRegion3D" image="" screenTip="将二维面数据转换为三维面数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/2DsTo3Ds.htm" customProperty="" />
          </group>
          <group index="6" id="3DTo2DConversion" label="三维数据转二维数据" visible="true">
            <button index="0" label="三维点数据-&gt;二维点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionPoint3DToPoint2D" image="" screenTip="将三维点数据转换为二维点数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/3DsTo2Ds.htm" customProperty="" />
            <button index="1" label="三维线数据-&gt;二维线数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionLine3DToLine2D" image="" screenTip="将三维线数据转换为二维线数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/3DsTo2Ds.htm" customProperty="" />
            <button index="2" label="三维面数据-&gt;二维面数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionRegion3DToRegion2D" image="" screenTip="将三维面数据转换为二维面数据。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/3DsTo2Ds.htm" customProperty="" />
          </group>
          <group index="7" id="OtherConversion" label="其他" visible="true">
            <button index="0" label="文本数据-&gt;点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTextToPoint" image="" screenTip="将文本对象的锚点提取出来生成新的点数据集。" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/TextToPoint.htm" customProperty="" />
            <button index="1" label="属性数据-&gt;点数据..." visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTabularToPoint" image="" screenTip="" screenTipImage="" helpURL="Features/DataProcessing/ConvertDataType/AttributeToPoint.htm" customProperty="" />
          </group>
        </buttonDropdown>
      </group>
      <group index="2" id="Query" label="查询" visible="true">
        <button index="2" label="空间查询" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSpatialQuery" image="../Resources/Assistance/Menu/DataProcess/SpatialQuery.png" shortcutKey="" screenTip="弹出空间查询对话框，设置空间查询的必要信息，实现空间查询。" screenTipImage="" helpURL="Features/Query/SpatialQuery.htm" customProperty="" />
      </group><!-->
    </frameMenu>
    <!--<frameMenu index="20" id="Tool" label="工具" formClass="" visible="true">
      <group index="3" id="data" label="数据" visible="true">
        <button index="0" label="SDB升级" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSDBUpgrade" image="../Resources/Assistance/Icon/SDBUpgrade.png" shortcutKey="" screenTip="将SDB数据源升级到UDB数据源。" screenTipImage="" helpURL="Features/DataProcessing/DataManagement/SDBUpdate.htm" customProperty="" />
        <button index="1" label="模型转换" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionModelConvert" image="../Resources/Assistance/Icon/ModelConvert.png" shortcutKey="" screenTip="打开3DS模型转换到SGM模型对话框，用于将 3DS 模型（*.3ds）转换为 SGM 模型（*.sgm）。既能进行单个模型转换，也能进行批量模型转换。" screenTipImage="" helpURL="Features/SceneOperation/DataProcessing/3DStoSGM.htm" customProperty="" />
        <button index="1" label="模型缓存升级" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionModelUpgrade" image="../Resources/Assistance/Icon/ModelCacheUpgrade.png" shortcutKey="" screenTip="将三维模型缓存文件从1.0或1.1版本升级到1.2版本。升级后的模型缓存文件更小，下载更快捷。" screenTipImage="" helpURL="Features/Optimization/Cache/CacheFilesConversion.htm" customProperty="" />
        <button index="3" label="时空数据" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSpatialTemporal" image="../Resources/Assistance/Icon/spatialTemporal.png" shortcutKey="" screenTip="可为缓存文件创建时空信息，保存在相应的 XML 文件中。" screenTipImage="" helpURL="Features/DataProcessing/DataConversion/SpatialTemporal.htm" customProperty="" />
        <button index="4" label="路网数据编译" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionNavigationDataCompiler" image="../Resources/Assistance/Icon/NetRoadCompiler.png" shortcutKey="" screenTip="根据路网相关数据编译基础道路、拓扑或引导数据，并将其打包为适用于移动端的导航数据。" screenTipImage=""  />
      </group>
      <group index="4" id="MapMakingAndRelease" label="制图与发布" visible="true">
        <button index="1" label="地图分幅" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSubdivision" image="../Resources/Assistance/Icon/MapDivision16.png" shortcutKey="" screenTip="将指定范围生成标准图幅。" screenTipImage="" helpURL="Features\Visualization\MapSetting\MapMargin.htm" customProperty="" />
        <button index="1" label="地图网格" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMapGridTool" image="../Resources/Assistance/Icon/MapGridTool16.png" shortcutKey="" screenTip="将指定范围生成经纬网格或公里网格。" screenTipImage="" helpURL="Features\Visualization\MapSetting\MapGride.htm" customProperty="" />
      </group>      
    </frameMenu>-->
    <frameMenu formClass="" id="Help" index="22" label="帮助" visible="true">
      <group id="Help" index="1" label="帮助" visible="true">
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Menu/Help/Help.png" index="1" label="联机帮助" onAction="CtrlActionHelp" screenTip="联机帮助" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="" image="" index="2" label="技术支持" onAction="CtrlActionTechnicalSupport" screenTip="技术支持" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Help" index="2" label="Share" visible="true">
        <button checkState="false" customProperty="" helpURL="开发社区" image="../Resources/Assistance/Menu/Help/VersionUpdate.png" index="1" label="开发社区" onAction="CtrlActionDeveloper" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="About" index="3" label="" visible="true">
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Assistance/Menu/Help/About.png" index="2" label="关于 SuperMap iDesktop Cross 8C" onAction="CtrlActionAbout" screenTip="关于 SuperMap iDesktop Cross 8C" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
    <frameMenu index="501" id="TransformationPara" label="配准" formClass="SuperMap.Desktop._FormTransformation" visible="true">
      <group index="0" id="marketset" label="控制点设置" visible="true">
        <button index="0" label="刺点" visible="true" checkState="false" onAction="CtrlActionTransformationAddPoint" image="../Resources/Assistance/Icon/Transformation/AddMarket.png" shortcutKey="[S]" screenTip="刺点工具用来帮助用户在配准图层和参考图层上选择合适的控制点。" screenTipImage="" helpURL="Features/DataProcessing/Registration/pointting.htm" customProperty="" />
        <separator index="1" />
        <colorButton index="2" label="标注色" visible="true" checkState="false" isShowTransparentColor="false" onAction="CtrlActionMarketColor" image="../Resources/Assistance/Icon/Transformation/TransformCross.png" screenTip="用来设置控制点的显示颜色。" screenTipImage="" helpURL="Features/DataProcessing/Registration/colorsetting.htm" customProperty="" />
        <colorButton index="3" label="高亮色" visible="true" checkState="false" isShowTransparentColor="false" onAction="CtrlActionSelectedMarketColor" image="../Resources/Assistance/Icon/Transformation/TransformCross.png" screenTip="用来设置控制点选中时的高亮颜色。" screenTipImage="" helpURL="Features/DataProcessing/Registration/colorsetting.htm" customProperty="" />
        <separator index="4" />
        <button index="5" label="导入" visible="true" checkState="false" onAction="CtrlActionTransformInput" image="../Resources/Assistance/Icon/Transformation/TransformInput.png" shortcutKey="Alt+I" screenTip="用来导入控制信息文件（*.drfu）。" screenTipImage="" helpURL="Features/DataProcessing/Registration/importGCP.htm" customProperty="" />
        <button index="6" label="导出" visible="true" checkState="false" onAction="CtrlActionTransformOutput" image="../Resources/Assistance/Icon/Transformation/TransformOutput.png" shortcutKey="Alt+O" screenTip="用来将当前控制点列表中的所有控制点信息导出。" screenTipImage="" helpURL="Features/DataProcessing/Registration/exportGCP.htm" customProperty="" />
      </group>
      <group index="1" id="Browse" label="浏览" visible="true">
        <box index="0" id="ItemBox" label="ItemBox" layoutStyle="Horizontal" visible="true" customProperty="">
          <button index="0" label="放大地图" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTransformationZoomIn" image="../Resources/MapView/Icon/Map/Browse/Zoomin.png" shortcutKey="[Z]" screenTip="放大地图（Z）" screenTipImage="" helpURL="Features/Visualization/BrowseMap/ZoomInOut.htm" customProperty="" />
          <buttonDropdown index="2" id="Pan" label="漫游" visible="true" image="../Resources/MapView/Icon/Map/Browse/Pan.png">
            <group id="" label="" index="" visible="">
              <button index="11" label="漫游" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTransformationPan" image="../Resources/MapView/Icon/Map/Browse/Pan.png" shortcutKey="[A]" screenTip="在地图窗口中漫游浏览地图或者实时漫游浏览地图。" screenTipImage="" helpURL="Features/Visualization/BrowseMap/Pan.htm" customProperty="" />
              <button index="12" label="实时漫游" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTransformationPan2" image="../Resources/MapView/Icon/Map/Browse/PanSyn.png" shortcutKey="" screenTip="在地图窗口中漫游浏览地图或者实时漫游浏览地图。" screenTipImage="" helpURL="Features/Visualization/BrowseMap/Pan.htm" customProperty="" />
            </group>
          </buttonDropdown>
        </box>
        <box index="1" id="ItemBox1" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <button index="0" label="缩小地图" visible="true" checkState="false" onAction="CtrlActionTransformationZoomOut" image="../Resources/MapView/Icon/Map/Browse/Zoomout.png" shortcutKey="[X]" screenTip="缩小地图" screenTipImage="" helpURL="Features/Visualization/BrowseMap/ZoomInOut.htm" customProperty="" />
          <button index="1" label="全幅显示" visible="true" checkState="false" onAction="CtrlActionTransformationViewEntire" image="../Resources/MapView/Icon/Map/Browse/Entire.png" shortcutKey="F6" screenTip="全幅显示地图(F6)" screenTipImage="" helpURL="Features/Visualization/BrowseMap/EntireView.htm" customProperty="" />
        </box>
        <button index="2" label="关联浏览" visible="true" checkState="false" onAction="CtrlActionOriginalReferenceLinkage" image="../Resources/Assistance/Icon/Transformation/BindMap.png" shortcutKey="[L]" screenTip="配准地图和参考地图联动操作。" screenTipImage="" helpURL="Features/DataProcessing/Registration/pointting.htm" customProperty="" />
        <box index="3" id="TargetBackcolor" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="配准窗口背景色:" visible="true" width="0" />
          <colorButton index="1" label="" visible="true" checkState="false" isShowTransparentColor="false" onAction="SuperMap.Desktop._CtrlActionTransformTargetWindowBackcolor" image="../Resources/Assistance/Icon/Transformation.BackColor.png" screenTip="设置配准窗口的背景颜色。" screenTipImage=""  />
        </box>
        <box index="4" id="ReferenceBackcolor" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="1" label="参考窗口背景色:" visible="true" width="0" />
          <colorButton index="3" label="" visible="true" checkState="false" isShowTransparentColor="false" onAction="CtrlActionTransformReferenceWindowBackcolor" image="../Resources/Assistance/Icon/Transformation.BackColor.png" screenTip="设置参考窗口的背景颜色。" screenTipImage=""  />
        </box>
      </group>
      <group index="2" id="ImageStretch" label="影像拉伸" visible="true">
        <box index="1" id="ItemBox1" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="配准图层:" visible="true" width="0"  />
          <comboBox index="0" id="TargetLayer" label="" visible="true" width="60" dropDownStyle="DropDownList" onAction="SuperMap.Desktop._CtrlActionTargetLayer" image="" screenTip="配准图层。" screenTipImage=""  />
          <comboBox index="0" id="TargetLayerImageStretchOption" label="" visible="true" width="60" dropDownStyle="DropDownList" onAction="CtrlActionTargetLayerImageStretchOption" image="" screenTip="指定配准图层影像拉伸模式。" screenTipImage=""  />
        </box>
        <box index="3" id="TargetBackcolor" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="参考图层:" visible="true" width="0" />
          <comboBox index="0" id="ReferenceLayer" label="" visible="true" width="60" dropDownStyle="DropDownList" onAction="SuperMap.Desktop._CtrlActionReferenceLayer" image="" screenTip="参考图层。" screenTipImage=""  />
          <comboBox index="0" id="ReferenceLayerImageStretchOption" label="" visible="true" width="60" dropDownStyle="DropDownList" onAction="CtrlActionReferenceLayerImageStretchOption" image="" screenTip="指定参考图层影像拉伸模式。" screenTipImage=""  />
        </box>
      </group>
      <group index="3" id="computeMode" label="算法" visible="true">
        <box index="2" id="ItemBox" label="" layoutStyle="Vertical" visible="true" customProperty="">
          <label index="0" label="配准算法:" visible="true" width="0" />
          <comboBox index="1" id="TransformMode" label="" visible="true" width="150" dropDownStyle="DropDownList" onAction="CtrlActionTransformMode" image="" screenTip="设置进行配准时的算法，提供了线性配准、二次多项式配准、矩形配准和偏移配准四种算法。" screenTipImage="" helpURL="Features/DataProcessing/Registration/ChooseRegistrationMode.htm" customProperty="" />
        </box>
      </group>
      <group index="4" id="GridParam" label="栅格/影像参数" visible="true">
        <box index="0" id="ItemBoxCheck" label="ItemBox" layoutStyle="Horizontal" visible="true" customProperty="">
          <checkBox index="0" label="配准结果重采样" visible="true" checkState="false" width="0" onAction="SuperMap.Desktop._CtrlActionTransformIsResample" screenTip="是否对结果进行重采样。" screenTipImage="" helpURL="Features/DataProcessing/Registration/rasterparagroup.htm" customProperty="" />
        </box>
        <box index="1" id="Mode" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="模式:" visible="true" width="0" />
          <comboBox index="1" id="ResampleMode" label="" visible="true" width="100" dropDownStyle="DropDownList" onAction="SuperMap.Desktop._CtrlActionTransformResampleMode" image="" screenTip="重采样模式。" screenTipImage="" helpURL="Features/DataProcessing/Registration/resamplemode.htm" customProperty="" />
        </box>
        <box index="2" id="cellSize" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="像素:" visible="true" width="0" />
          <textBox index="1" text="" visible="true" readOnly="false" width="100" onAction="SuperMap.Desktop._CtrlActionTransformCellsize" screenTip="重采样像素大小。" screenTipImage="" helpURL="Features/DataProcessing/Registration/resamplemode.htm" customProperty="" />
        </box>
      </group>
      <group index="5" id="Conputer" label="运算" visible="true">
        <button index="0" label="计算误差" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionComputeError" image="../Resources/Assistance/Icon/Transformation/ComputeErrors.png" shortcutKey="" screenTip="计算控制点列表中所有控制点的误差，包括 X 残差、Y 残差以及均方根误差。" screenTipImage="" helpURL="Features/DataProcessing/Registration/calculateError.htm" customProperty="" />
        <button index="1" label="配准" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionTransform" image="../Resources/Assistance/Icon/Transformation/Transform.png" shortcutKey="" screenTip="执行配准操作。" screenTipImage="" helpURL="Features/DataProcessing/Registration/PerformRegistration.htm" customProperty="" />
      </group>
      <group index="6" id="Resave" label="结果设置" visible="true">
        <box index="1" id="resultBox1" label="ItemBox" layoutStyle="Horizontal" visible="true" customProperty="">
          <checkBox index="0" label="另存结果数据" visible="true" checkState="false" width="0" onAction="SuperMap.Desktop._CtrlActionResaveResult" screenTip="用来设置是否保存配准结果。" screenTipImage="" helpURL="Features/DataProcessing/Registration/resultsettinggroup.htm" customProperty="" />
        </box>
        <box index="2" id="resultBox" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="数据源:" visible="true" width="0" />
          <comboBox index="1" id="resultDatasource" label="" visible="true" width="100" dropDownStyle="DropDownList" onAction="SuperMap.Desktop._CtrlActionResaveDatasource" image="" screenTip="配准结果要保存的数据源。" screenTipImage="" helpURL="Features/DataProcessing/Registration/resultsettinggroup.htm" customProperty="" />
        </box>
        <box index="3" id="resultBox2" label="" layoutStyle="Horizontal" visible="true" customProperty="">
          <label index="0" label="数据集:" visible="true" width="0" />
          <textBox index="1" text="" visible="true" readOnly="false" width="100" onAction="SuperMap.Desktop._CtrlActionResaveDatasetName" screenTip="配准结果要保存的数据集。" screenTipImage="" helpURL="Features/DataProcessing/Registration/resultsettinggroup.htm" customProperty="" />
        </box>
      </group>
    </frameMenu>
  </frameMenus>
    <toolbars>
    <toolbar id="main" index="0" label="标准" rowIndex="0" visible="true">
      <button checkState="false" image="../Resources/Frame/Toolbar/Home/Help.png" index="18" label="帮助" onAction="CtrlActionHelp" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbar>
  </toolbars>
  <dockbars/>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop._FormTransformation.TransformationItemsContextMenu" index="35" label="配准窗口_控制点">
      <group id="Center" index="0" label="定位选中点" visible="true">
        <button checkState="false" image="" index="0" label="定位选中点" onAction="SuperMap.Desktop._CtrlActionCenterOriginal" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="DeleteSelect" index="1" label="删除" visible="true">
        <button checkState="false" image="" index="0" label="删除" onAction="SuperMap.Desktop._CtrlActionDeleteTransformItems" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Input" index="2" label="导入/导出配准信息" visible="true">
        <button checkState="false" image="" index="0" label="导出配准信息..." onAction="SuperMap.Desktop._CtrlActionTransformOutput" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="0" label="导入配准信息..." onAction="SuperMap.Desktop._CtrlActionTransformInput" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormTransformation.TransformationMapsContextMenu" index="36" label="配准窗口_地图">
      <group id="group1" index="0" label="刺点" visible="true">
        <button checkState="false" image="../Resources/Assistance/Icon/Transformation/AddMarket.png" index="0" label="刺点" onAction="SuperMap.Desktop._CtrlActionTransformationAddPoint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="group0" index="1" label="浏览配准窗口" visible="true">
        <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Zoomin.png" index="0" label="放大地图" onAction="SuperMap.Desktop._CtrlActionTransformationZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Zoomout.png" index="1" label="缩小地图" onAction="SuperMap.Desktop._CtrlActionTransformationZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Pan.png" index="3" label="漫游地图" onAction="SuperMap.Desktop._CtrlActionTransformationPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="../Resources/MapView/Icon/Map/Browse/Entire.png" index="4" label="全幅显示" onAction="SuperMap.Desktop._CtrlActionTransformationViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="group2" index="2" label="关联浏览" visible="true">
        <button checkState="true" image="" index="0" label="关联浏览" onAction="SuperMap.Desktop._CtrlActionOriginalReferenceLinkage" screenTip="参考地图和配准地图联动操作。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>

</plugin>
