<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.DataConversion" author="SuperMap" url="www.supermap.com.cn" description="DataConversion Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/DataEditor/SuperMap.Desktop.DataConversion.dll" enabled="True" />
  <frameMenus>
    <frameMenu index="10" id="Dataset" label="数据集" formClass="" visible="true">
      <group index="3" id="Data" label="数据" visible="true">
        <button index="0" label="数据导入..." visible="true" checkState="false" onAction="CtrlActionDataImport" image="../Resources/DataConversion/Icon/Datasource/Import/Import.png" shortcutKey="" screenTip="导入所支持的各种格式的数据。点击按钮弹出下拉列表，选择要导入数据的格式。" screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ImportData.htm" customProperty="" />
        <button index="1" label="数据导出..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="将数据导出为其他格式的数据。点击按钮弹出下拉列表，选择要导出的数据格式。" screenTipImage="" helpURL="Features/DataProcessing/DataConversion/ExportData.htm" customProperty="" />
      </group>
    </frameMenu>
    <frameMenu index="300" id="Tabular" label="属性表" formClass="SuperMap.Desktop._FormTabular" visible="true">
      <group index="0" id="Output" label="输出" visible="true" />
    </frameMenu>
  </frameMenus>
  <dockbars />
  <statusbars />
  <contextMenus>
    <contextMenu index="2" label="工作空间管理器_数据源" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasource" >
      <group index="0" id="DatasetOperate" label="导入数据集" visible="true">
        <button index="2" label="导入数据集..." visible="true" checkState="false" onAction="CtrlActionDataImport" image="" shortcutKey="" screenTip="" screenTipImage=""  />
        <button index="3" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="3" label="工作空间管理器_矢量数据集" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVector" >
      <group index="3" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="5" label="工作空间管理器_栅格数据集" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetGrid" >
      <group index="2" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="4" label="工作空间管理器_属性数据集" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetTabular" >
      <group index="1" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="6" label="工作空间管理器_影像数据集" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetImage" >
      <group index="2" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="7" label="工作空间管理器_多种数据集" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDataset" >
      <group index="2" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
    <contextMenu index="3" label="工作空间管理器_矢量数据集集合项" id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuDatasetVectorItem" >
      <group index="3" id="CopyDatasets" label="导出数据集" visible="true">
        <button index="1" label="导出数据集..." visible="true" checkState="false" onAction="CtrlActionDataExport" image="../Resources/DataConversion/Menu/Export.png" shortcutKey="" screenTip="" screenTipImage=""  />
      </group>
    </contextMenu>
  </contextMenus>

</plugin>