<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.Controls" author="SuperMap" url="www.supermap.com.cn" description="Controls Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="SuperMap.Desktop.Controls" enabled="True" />
  <frameMenus>
  </frameMenus>
  <dockbars>
    <dockbar label="输出窗口" dockstate="docked" visible="true" control="com.supermap.desktop.ui.OutputFrame" />
    <dockbar label="工作空间管理器" dockstate="docked" visible="true" control="com.supermap.desktop.ui.WorkspaceComponentManager" />
    <dockbar label="图层管理器" dockstate="docked" visible="true" control="com.supermap.desktop.ui.LayersComponentManager" />
  </dockbars>
  <statusbars />
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.Output.ContextMenu" index="1" label="输出窗口_右键菜单">
      <group id="Copy" index="1" label="复制" visible="true">
        <button checkState="false" image="" index="0" label="复制" onAction="CtrlActionOutputCopy" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="Clear" index="2" label="清除" visible="true">
        <button checkState="false" image="" index="0" label="清除" onAction="CtrlActionOutputClear" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
	  <group id="Time" index="3" label="时间" visible="true">
        <button checkState="false" image="" index="0" label="时间" onAction="CtrlActionOutputTime" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
</plugin>
