<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.RealspaceEffect" author="SuperMap" url="www.supermap.com.cn" description="RealspaceEffect Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/RealspaceEffect/SuperMap.Desktop.RealspaceEffect.dll" enabled="True" />
  <frameMenus>
  </frameMenus>
  <dockbars>
  </dockbars>
  <contextMenus />
</plugin>