<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="NetServices Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.NetServices" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/NetServices/SuperMap.Desktop.NetServices.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
      <group id="Workspace" index="0" label="工作空间" visible="true">
        <button checkState="false" image="../Resources/NetServices/iServerService.png" index="5" label="发布工作空间..." onAction="CtrlActionServerRelease" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <!--<button checkState="false" image="" index="6" label="登陆云许可..." onAction="CtrlActionLoginCloud" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
      </group>
    </frameMenu>
  </frameMenus>
  <toolbars>
  </toolbars>
  <dockbars>
  </dockbars>
  <contextMenus>
      <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuWorkspace" index="0" label="工作空间管理器_工作空间">
      <group id="SaveWorkspace" index="1" label="保存工作空间" visible="true">
        <button checkState="false" image="../Resources/NetServices/iServerService.png" index="4" label="发布工作空间..." onAction="CtrlActionServerRelease" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
       <!--<button checkState="false" image="" index="5" label="登陆云许可..." onAction="CtrlActionLoginCloud" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>-->
      </group>
    </contextMenu>
  </contextMenus>
  <statusbars>
  </statusbars>
</plugin>
