<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="LayoutView Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.LayoutView" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/LayoutView/SuperMap.Desktop.LayoutView.dll" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
      <group id="Browser" index="2" label="浏览" visible="true">
        <!--<button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Menu/File/NewLayout.png" index="3" label="新建布局窗口" onAction="CtrlActionNewLayout" screenTip="新建一个布局窗口。" screenTipImage="" shortcutKey="" visible="true"/><!-->
      </group>
    </frameMenu>
    <frameMenu formClass="SuperMap.Desktop.FormLayout" id="LayoutOperate" index="404" label="布局" visible="true">
      <group id="LayoutBrowser" index="1" label="布局浏览" visible="true">
        <buttonDropdown id="Select" image="../Resources/LayoutView/Menu/LayoutOperator/Select.png" index="0" label="选择" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Select.png" index="0" label="选择" onAction="SuperMap.Desktop._CtrlActionLayoutSelect" screenTip="选择布局中的对象，通过直接点击鼠标或者拖框的方式选择对象。" screenTipImage="" shortcutKey="[S]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectCircle.png" index="0" label="圆形选择" onAction="SuperMap.Desktop._CtrlActionSelectCircle" screenTip="在布局中，通过点击两次鼠标所确定的一个临时圆，来选中在圆形范围内的对象。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectPolygon.png" index="0" label="多边形选择" onAction="SuperMap.Desktop._CtrlActionSelectRegion" screenTip="在布局中，通过连续点击鼠标所绘制的一个临时多边形，来选中在多边形范围内的对象。右键点击鼠标结束临时多边形的绘制。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/SelectLine.png" index="0" label="画线选择" onAction="SuperMap.Desktop._CtrlActionSelectLine" screenTip="在布局中，通过连续点击鼠标所绘制的一条临时折线，来选中与折线相交的对象。右键点击鼠标结束临时折线的绘制。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="Browse" image="../Resources/LayoutView/Menu/LayoutOperator/Browse.png" index="2" label="布局浏览" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Zoomin.png" index="1" label="放大布局" onAction="SuperMap.Desktop._CtrlActionZoomIn" screenTip="在布局窗口中点击鼠标左键放大布局。" screenTipImage="" shortcutKey="[Z]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Zoomout.png" index="2" label="缩小布局" onAction="SuperMap.Desktop._CtrlActionZoomOut" screenTip="在布局窗口中点击鼠标左键缩小布局。" screenTipImage="" shortcutKey="[X]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Pan.png" index="0" label="漫游" onAction="SuperMap.Desktop._CtrlActionLayoutPan" screenTip="在布局窗口中，通过点击鼠标左键不放并拖动鼠标，来平移布局。" screenTipImage="" shortcutKey="[A]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/PanSyn.png" index="0" label="实时漫游" onAction="SuperMap.Desktop._CtrlActionLayoutPan2" screenTip="在布局窗口中，通过点击鼠标左键不放并拖动鼠标，来平移布局，并且实时刷新布局。" screenTipImage="" shortcutKey="" visible="true"/>
            <buttonDropdown checkState="false" id="LayoutViewEntire" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Full.png" index="6" label="整页显示" visible="true">
              <group id="" index="" label="" visible="">
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\EntirePagebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Full.png" index="0" label="整页显示" onAction="SuperMap.Desktop._CtrlActionViewFullPage" screenTip="整页显示当前布局窗口中的布局。" screenTipImage="" shortcutKey="[F6]" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\WindowWidthbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Width.png" index="1" label="窗口宽度" onAction="SuperMap.Desktop._CtrlActionViewFitWidth" screenTip="缩放布局，使布局页面的宽度缩放至与布局窗口的宽度一致。" screenTipImage="" shortcutKey="" visible="true"/>
                <button checkState="false" customProperty="" helpURL="Features/Layout\BrowseLayout\WindowHeightbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/View_Height.png" index="2" label="窗口高度" onAction="SuperMap.Desktop._CtrlActionViewFitHeight" screenTip="缩放布局，使布局页面的高度缩放至与布局窗口的高度一致。" screenTipImage="" shortcutKey="" visible="true"/>
              </group>
            </buttonDropdown>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/ZoomFree.png" index="0" label="自由缩放" onAction="SuperMap.Desktop._CtrlActionZoomFree" screenTip="在布局窗口中，通过点击鼠标左键不放并拖动鼠标，来放大或缩小布局。" screenTipImage="" shortcutKey="[C]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout/BrowseLayout/LayoutZoomInOut.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/ZoomFreeSyn.png" index="0" label="实时自由缩放" onAction="SuperMap.Desktop._CtrlActionZoomFree2" screenTip="在布局窗口中，通过点击鼠标左键不放并拖动鼠标，来放大或缩小布局，并且布局实时进行刷新。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <!--<buttonDropdown id="Bookmark" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark.png" index="4" label="书签" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/Home/Window/LayoutViewSetting.png" index="11" label="添加书签" onAction="SuperMap.Desktop._CtrlActionBookmarkAdd" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/Home/Window/LayoutViewSetting.png" index="12" label="书签管理" onAction="SuperMap.Desktop._CtrlActionBookmarkManager" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/PreviousBookmark.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark_Preview.png" index="11" label="前一书签" onAction="SuperMap.Desktop._CtrlActionPreView" screenTip="使当前地图窗口中显示当前书签的前一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F7]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Visualization/Interaction/NextBookmark.htm" image="../Resources/LayoutView/Icon/LayoutOperate/LayoutBrowser/Bookmark_Next.png" index="12" label="后一书签" onAction="SuperMap.Desktop._CtrlActionNextView" screenTip="使当前地图窗口中显示当前书签的后一书签所标记的地图视图。" screenTipImage="" shortcutKey="[F8]" visible="true"/>
          </group>
        </buttonDropdown>-->
      </group>
      <group id="MapOperate" index="2" label="地图操作" visible="true">
        <buttonDropdown id="LayoutOperator" image="" index="4" label="地图操作" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\LockMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/LockMap.png" index="0" label="锁定地图" onAction="SuperMap.Desktop._CtrlActionMapLockMap" screenTip="点击按钮，使按钮处于高亮状态时，布局中选中的地图对象被锁定，再次点击按钮，按钮处于非高亮状态时，解除锁定。处于锁定状态的地图对象，可以操作其中的地图，如地图缩放、漫游。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoominbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomin.png" index="0" label="放大地图" onAction="CtrlActionMapZoomIn" screenTip="在当前锁定的地图对象中点击鼠标左键放大地图。" screenTipImage="" shortcutKey="[Z]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomoutbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomout.png" index="0" label="缩小地图" onAction="CtrlActionMapZoomOut" screenTip="在当前锁定的地图对象中点击鼠标左键缩小地图。" screenTipImage="" shortcutKey="[X]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout/MapOperation/Panbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/pan.png" index="0" label="漫游" onAction="CtrlActionMapPan" screenTip="在当前锁定的地图对象中漫游浏览地图。" screenTipImage="" shortcutKey="[A]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomfreebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/ZoomFree.png" index="0" label="自由缩放" onAction="CtrlActionMapZoomFree" screenTip="在当前锁定的地图对象中自由缩放地图。" screenTipImage="" shortcutKey="[C]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\EntireViewbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Entire.png" index="0" label="全幅显示" onAction="CtrlActionLayoutViewEntire" screenTip="全幅显示当前锁定的地图对象中的地图。" screenTipImage="" shortcutKey="[F6]" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\RefreshMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Refresh.png" index="0" label="刷新" onAction="CtrlActionMapRefresh" screenTip="刷新显示当前锁定的地图对象中的地图。" screenTipImage="" shortcutKey="[F5]" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
      <group id="PageSetting" index="3" label="页面设置" visible="true">
        <buttonDropdown id="PaperOrientation" image="../Resources/LayoutView/Menu/LayoutOperator/PaperOrientation.png" index="1" label="纸张方向" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\SettingPage\PaperOrientationbutton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperOrientationVectical.png" index="0" label="纵向" onAction="SuperMap.Desktop._CtrlActionPaperOrientationVectical" screenTip="设置当前布局窗口中布局页面的纸张方向为纵向。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout\SettingPage\PaperOrientationbutton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperOrientationHorizontal.png" index="0" label="横向" onAction="SuperMap.Desktop._CtrlActionPaperOrientationHorizontal" screenTip="设置当前布局窗口中布局页面的纸张方向为横向。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="PaperSize" image="../Resources/LayoutView/Menu/LayoutOperator/PaperSize.png" index="2" label="纸张大小" visible="true">
          <group id="" index="" label="" visible="">
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Letter.png" index="0" label="Letter" onAction="SuperMap.Desktop._CtrlActionPaperSizeLetter" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Tabloid.png" index="0" label="Tabloid" onAction="SuperMap.Desktop._CtrlActionPaperSizeTabloid" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_Legal.png" index="0" label="Legal" onAction="SuperMap.Desktop._CtrlActionPaperSizeLegal" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A3.png" index="0" label="A3" onAction="SuperMap.Desktop._CtrlActionPaperSizeA3" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A4.png" index="0" label="A4" onAction="SuperMap.Desktop._CtrlActionPaperSizeA4" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_A5.png" index="0" label="A5" onAction="SuperMap.Desktop._CtrlActionPaperSizeA5" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_B4.png" index="0" label="B4" onAction="SuperMap.Desktop._CtrlActionPaperSizeB4" screenTip="" screenTipImage="" visible="true"/>
            <buttonGallery checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/PaperSize_B5.png" index="0" label="B5" onAction="SuperMap.Desktop._CtrlActionPaperSizeB5" screenTip="" screenTipImage="" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Custom.png" index="0" label="更多页面尺寸..." onAction="SuperMap.Desktop._CtrlActionPaperSize" screenTip="打开“纸张设置”对话框，可以对当前布局窗口中布局页面的纸张进行高级设置。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
        <buttonDropdown id="PaperMargin" image="../Resources/LayoutView/Menu/LayoutOperator/PaperMargin.png" index="3" label="页边距" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Margin_Normal.png" index="0" label="正常" onAction="SuperMap.Desktop._CtrlActionPaperMarginNormal" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Narrow.png" index="0" label="窄" onAction="SuperMap.Desktop._CtrlActionPaperMarginNarrow" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Middle.png" index="0" label="适中" onAction="SuperMap.Desktop._CtrlActionPaperMarginMiddle" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Mapgin_Broad.png" index="0" label="宽" onAction="SuperMap.Desktop._CtrlActionPaperMarginBroad" screenTip="" screenTipImage="" visible="true"/>
          </group>
          <group id="" index="" label="" visible="">
            <button checkState="false" image="../Resources/LayoutView/Icon/PaperSetting/Paper/Custom.png" index="0" label="自定义间距..." onAction="SuperMap.Desktop._CtrlActionPaperMarginCustom" screenTip="打开“纸张设置”对话框，可以对当前布局窗口中布局页面的纸张进行高级设置。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
      <group id="PageSetting" index="4" label="布局设置" visible="true">
        <button checkState="false" customProperty="" helpURL="Features\Layout\SettiongLayoutWin\OffsetbSetuputton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Layout/OffsetSetting.png" index="4" label="偏移设置" onAction="SuperMap.Desktop._CtrlActionOffsetSetting" screenTip="打开“布局设置”对话框，对布局进行高级设置，如中心点设置，横向、纵向浏览页数，偏移量。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features\Layout\SettiongLayoutWin\OffsetbSetuputton.htm" image="../Resources/LayoutView/Icon/PaperSetting/Layout/OffsetSetting.png" index="4" label="分幅设置" onAction="SuperMap.Desktop._CtrlActionOffsetSetting" screenTip="打开“布局设置”对话框，对布局进行高级设置，如中心点设置，横向、纵向浏览页数，偏移量。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="save" index="5" label="" visible="true">
        <button checkState="false" image="" index="1" label="保存布局" onAction="CtrlActionLayoutSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="布局另存为..." onAction="CtrlActionLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="3" label="保存为布局模板" onAction="" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="FileOperate" index="6" label="文件操作" visible="true">
        <buttonDropdown id="print" image="../Resources/LayoutView/Menu/LayoutOperator/Print.png" index="0" label="打印" visible="true">
          <group id="" index="" label="" visible="">
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/Print.png" index="0" label="打印..." onAction="SuperMap.Desktop._CtrlActionPrint" screenTip="打开“打印”对话框，设置打印参数，打印当前布局窗口中的布局。" screenTipImage="" shortcutKey="[Ctrl]+[P]" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/DefaultPrint.png" index="0" label="快速打印" onAction="SuperMap.Desktop._CtrlActionDefaultPrint" screenTip="直接打印当前布局窗口中的布局。" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features/Layout\Export\Printbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/File/PrintPreview.png" index="0" label="打印预览" onAction="SuperMap.Desktop._CtrlActionPrintPreview" screenTip="预览当前布局窗口中布局的打印效果。" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
      <group id="LayoutProperty" index="7" label="布局属性" visible="true">
        <button checkState="false" image="../Resources/LayoutView/Icon/Home/Window/LayoutProperty.png" index="0" label="布局属性" onAction="SuperMap.Desktop._CtrlActionLayoutProperty" screenTip="打开布局属性面板，设置当前布局属性。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
    <frameMenu formClass="SuperMap.Desktop.FormLayout" id="LayoutDraw" index="407" label="对象操作" visible="true">
      <group id="GeometrySelect" index="2" label="对象选择" visible="true">
        <buttonDropdown id="MapEdit" image="../Resources/LayoutView/Menu/Geometry/GeometrySelect.png" index="3" label="对象选择" visible="true">
          <group id="Selection" index="3" label="选择" visible="true">
            <button checkState="true" customProperty="" helpURL="" index="0" label="全部选中" onAction="CtrlActionSelectAll" screenTip="全部选中" screenTipImage="" visible="true" width="0"/>
            <button checkState="true" customProperty="" helpURL="" index="1" label="反向选中" onAction="CtrlActionSelectInvert" screenTip="反向选中" screenTipImage="" visible="true" width="0"/>
            <button checkState="false" customProperty="" helpURL="" index="2" label="取消选中" onAction="CtrlActionSelectNone" screenTip="取消选中" screenTipImage="" visible="true" width="0"/>
          </group>
        </buttonDropdown>
        <button checkState="false" image="" index="4" label="整窗显示" onAction="CtrlActionElementViewEntire" screenTip="整窗显示" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="" index="6" label="" visible="">
        <button checkState="false" customProperty="" helpURL="" image="" index="0" label="属性" onAction="" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
  </frameMenus>
  <toolbars>
      <toolbar formClass="SuperMap.Desktop.FormLayout" id="LayoutView" index="1" label="布局操作" rowIndex="0"
               visible="true">
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/Property.png" index="1" label="属性" onAction="CtrlActionProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/LockMap.png" index="2" label="锁定地图" onAction="CtrlActionLockMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/Print.png" index="3" label="打印" onAction="CtrlActionPrint" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="4"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/Select.png" index="5" label="选择" onAction="CtrlActionSelect" screenTip="选择地图中的对象，通过直接点击鼠标或者拖框的方式选择对象。" screenTipImage="" shortcutKey="[S]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectCircle.png" index="6" label="圆形选择" onAction="CtrlActionSelectCircle" screenTip="在地图中，通过点击两次鼠标所确定的一个临时圆，来选中在圆形范围内的对象。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectRegion.png" index="7" label="多边形选择" onAction="CtrlActionSelectRegion" screenTip="在地图中，通过连续点击鼠标所绘制的一个临时多边形，来选中在多边形范围内的对象。右键点击鼠标结束临时多边形的绘制。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/SelectLine.png" index="8" label="画线选择" onAction="CtrlActionSelectLine" screenTip="在地图中，通过连续点击鼠标所绘制的一条临时折线，来选中与折线相交的对象。右键点击鼠标结束临时折线的绘制。" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="9"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/ZoomIn.png" index="10" label="放大" onAction="CtrlActionZoomIn" screenTip="在地图窗口中点击鼠标左键放大地图。" screenTipImage="" shortcutKey="[Z]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/ZoomOut.png" index="11" label="缩小" onAction="CtrlActionZoomOut" screenTip="在地图窗口中点击鼠标左键缩小地图。" screenTipImage="" shortcutKey="[X]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/MapPan.png" index="12" label="漫游" onAction="CtrlActionMapPan" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图。" screenTipImage="" shortcutKey="[A]" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/MapPan2.png" index="13" label="实时漫游" onAction="CtrlActionMapPan2" screenTip="在地图窗口中，通过点击鼠标左键不放并拖动鼠标，来平移地图，并且实时刷新地图。" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" customProperty="" helpURL="" image="../Resources/LayoutView/Toolbar/LayoutOperator/LayoutViewEntire.png" index="14" label="全幅显示" onAction="CtrlActionLayoutViewEntire" screenTip="全幅显示当前地图窗口中的地图。" screenTipImage="" shortcutKey="[F6]" visible="true"/>
      <separator index="15"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PrevView.png" index="16" label="前一视图" onAction="CtrlActionPrevView" screenTip="" screenTipImage="" shortcutKey="[C]" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/NextView.png" index="17" label="后一视图" onAction="CtrlActionNextView" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <separator index="18"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperOrientation.png" index="20" label="纸张方向" onAction="CtrlActionPaperOrientation" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperSize.png" index="21" label="纸张大小" onAction="CtrlActionPaperSize" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/PaperMargin.png" index="22" label="页边距" onAction="CtrlActionPaperMargin" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/LayoutView/Toolbar/LayoutOperator/OffsetSetting.png" index="23" label="偏移设置" onAction="CtrlActionOffsetSetting" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbar>
  </toolbars>
  <dockbars>
  </dockbars>
  <contextMenus>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuLayouts" index="55" label="工作空间管理器_布局集合">
      <group id="MapsSort" index="1" label="布局" visible="true">
        <button checkState="false" image="" index="0" label="新建布局窗口" onAction="CtrlActionNewLayout" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="加载布局模板..." onAction="SuperMap.Desktop._CtrlActionLoadTemplate" screenTip="打开“打开”对话框，通过加载布局模板文件（*.ult）来加载布局。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="MapsSort2" index="2" label="布局排序" visible="true">
        <button checkState="false" image="" index="2" label="按名称排序" onAction="SuperMap.Desktop._CtrlActionLayoutSortName" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop.UI.WorkspaceControlManager.ContextMenuLayout" index="56" label="工作空间管理器_布局">
      <group id="ContextMenuLayout1" index="0" label="布局操作" visible="true">
        <button checkState="false" image="" index="0" label="打开布局" onAction="CtrlActionBrowserLayout" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="0" label="布局另存为..." onAction="CtrlActionWorkspaceManagerLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="0" label="输出布局模板..." onAction="SuperMap.Desktop._CtrlActionLayoutSaveAsTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ContextMenuLayout2" index="1" label="布局操作" visible="true">
        <button checkState="false" image="" index="0" label="删除布局" onAction="SuperMap.Desktop._CtrlActionLayoutDelete" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="0" label="重命名" onAction="SuperMap.Desktop._CtrlActionLayoutRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.FormLayoutContextMenu" index="57" label="布局窗口_布局">
      <group id="LayoutBrowse" index="1" label="布局浏览" visible="true">
        <buttonDropdown id="LayoutBrowseDropDown" image="" index="0" label="布局浏览" visible="true">
          <group id="operate" index="0" label="" visible="true">
            <button checkState="false" image="" index="0" label="放大" onAction="SuperMap.Desktop._CtrlActionZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="" index="0" label="缩小" onAction="SuperMap.Desktop._CtrlActionZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="" index="0" label="漫游" onAction="SuperMap.Desktop._CtrlActionLayoutPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="" index="0" label="全幅显示" onAction="SuperMap.Desktop._CtrlActionViewFullPage" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="" index="0" label="局部刷新" onAction="SuperMap.Desktop._CtrlActionLayoutIsRefreshInInvalidArea" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            <button checkState="false" image="" index="0" label="编辑实时刷新" onAction="SuperMap.Desktop._CtrlActionLayoutIsRefreshAtTracked" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
          <group id="grid" index="0" label="" visible="true">
            <button checkState="false" image="" index="0" label="显示网格" onAction="SuperMap.Desktop._CtrlActionGrids" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>
      <group id="LayoutOutput" index="2" label="布局输出" visible="true">
        <button checkState="false" image="" index="0" label="保存布局" onAction="CtrlActionLayoutSave" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="布局另存为..." onAction="CtrlActionLayoutSaveAs" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="输出布局模板..." onAction="SuperMap.Desktop._CtrlActionSaveAsTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="4" label="输出为图片..." onAction="SuperMap.Desktop._CtrlActionPrintToImageFile" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="LayoutOperationWnd" index="5" label="重命名" visible="true">
        <button checkState="false" image="" index="2" label="重命名..." onAction="SuperMap.Desktop._CtrlActionLayoutWindowRename" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="LayoutProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionLayoutProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutElementsContextMenu" index="58" label="布局窗口_选中多种布局元素">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeometryContextMenu" index="59" label="布局窗口_选中几何对象">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="GeoStyle" index="3" label="风格模板" visible="true">
        <button checkState="false" image="" index="0" label="输出风格模板..." onAction="SuperMap.Desktop._CtrlActionOutputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="加载风格模板..." onAction="SuperMap.Desktop._CtrlActionInputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="保存到风格模板库..." onAction="SuperMap.Desktop._CtrlActionSaveAsStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutTextObjContextMenu" index="60" label="布局窗口_选中文本对象">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="TextStyle" index="3" label="风格模板" visible="true">
        <button checkState="false" image="" index="0" label="加载风格模板..." onAction="SuperMap.Desktop._CtrlActionInputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="1" label="输出风格模板..." onAction="SuperMap.Desktop._CtrlActionOutputStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" image="" index="2" label="保存到风格模板库..." onAction="SuperMap.Desktop._CtrlActionSaveAsStyleTemplate" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapObjContextMenu" index="61" label="布局窗口_选中地图对象">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="MapOperate" index="3" label="地图操作" visible="true">
        <button checkState="false" image="" index="0" label="锁定地图" onAction="SuperMap.Desktop._CtrlActionMapLockMap" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
        <buttonDropdown id="MapOperateDropDown" image="" index="0" label="地图浏览" visible="true">
          <group id="" index="" label="" visible="">
            <group id="operate" index="0" label="地图浏览" visible="true">
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoominbutton.htm" image="" index="0" label="放大地图" onAction="CtrlActionMapZoomIn" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomoutbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Zoomout.png" index="0" label="缩小地图" onAction="CtrlActionMapZoomOut" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\Zoomfreebutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/ZoomFree.png" index="0" label="自由缩放" onAction="CtrlActionMapZoomFree" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="UseExplanation\Ribbon\tabs\layoutoperation\groups\mapoperation\PanButton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/pan.png" index="0" label="地图漫游" onAction="CtrlActionMapPan" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\EntireViewbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Entire.png" index="0" label="全幅显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
              <button checkState="false" customProperty="" helpURL="Features/Layout\MapOperation\RefreshMapbutton.htm" image="../Resources/LayoutView/Icon/LayoutOperate/MapOperate/Refresh.png" index="0" label="刷新" onAction="CtrlActionMapRefresh" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
            </group>
          </group>
        </buttonDropdown>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionMapProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapLegendObjContextMenu" index="62" label="布局窗口_选中图例">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionMapLegendProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapScaleObjContextMenu" index="63" label="布局窗口_选中比例尺">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionMapScaleProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutMapNorthArrowObjContextMenuMap" index="64" label="布局窗口_选中指北针">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionMapNorthArrowProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeoArtTextObjContextMenu" index="64" label="布局窗口_选中艺术字">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionGeoArtTextProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
    <contextMenu id="SuperMap.Desktop._FormLayout.LayoutGeopictureContextMenu" index="59" label="布局窗口_选中图片对象">
      <group id="FullWnd" index="2" label="整窗显示" visible="true">
        <button checkState="false" image="" index="0" label="整窗显示" onAction="CtrlActionLayoutViewEntire" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="GeoStyle" index="3" label="更改图片" visible="true">
        <button checkState="false" image="" index="0" label="更改图片..." onAction="SuperMap.Desktop._CtrlActionUpdatepicture" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
      <group id="ObjProperty" index="6" label="属性" visible="true">
        <button checkState="false" image="" index="0" label="属性" onAction="SuperMap.Desktop._CtrlActionGeometryProperty" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </contextMenu>
  </contextMenus>
  <statusbars>
    <statusbar formClass="com.supermap.desktop.FormLayout" id="Layout" visible="true">
      <label index="1" label="布局名称：" visible="true" width="100"/>
      <textBox index="2" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="未命名布局" visible="true" width="0"/>
      <textBox index="3" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="共10个对象，选中5个" visible="true" width="0"/>
      <label index="5" label="中心点：" visible="true" width="0"/>
      <textBox index="6" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>
      <textBox index="7" onAction="SuperMap.Desktop._CtrlActionMapMousePosition" readOnly="true" screenTip="" screenTipImage="" text="0" visible="true" width="0"/>
      <label index="8" label="显示比例：" visible="true" width="0"/>
      <comboBox customProperty="" helpURL="" id="Scale" image="" index="9" label="" onAction="SuperMap.Desktop._CtrlActionMapScale" screenTip="" screenTipImage="" visible="true" width="180">
        <item customProperty="" image="" index="0" label="5%"/>
        <item customProperty="" image="" index="0" label="10%"/>
        <item customProperty="" image="" index="0" label="20%"/>
        <item customProperty="" image="" index="0" label="40%"/>
        <item customProperty="" image="" index="0" label="80%"/>
        <item customProperty="" image="" index="0" label="100%"/>
        <item customProperty="" image="" index="0" label="120%"/>
        <item customProperty="" image="" index="0" label="150%"/>
        <item customProperty="" image="" index="0" label="200%"/>
        <item customProperty="" image="" index="0" label="3000%"/>
        <item customProperty="" image="" index="0" label="400%"/>
        <item customProperty="" image="" index="0" label="800%"/>
        <item customProperty="" image="" index="0" label="1600%"/>
        <item customProperty="" image="" index="0" label="3200%"/>
        <item customProperty="" image="" index="0" label="6400%"/>
        <item customProperty="" image="" index="0" label="自定义比例"/>
      </comboBox>
    </statusbar>
   </statusbars>
</plugin>
