<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.Controls" author="SuperMap" url="www.supermap.com.cn" description="Controls Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
    <runtime bundleName="SuperMap.Desktop.Controls" enabled="True"/>
    <frameMenus>
        <frameMenu formClass="" id="main" index="0" label="文件" visible="true">
            <group id="View" index="3" label="颜色管理" visible="true">
                <button checkState="true" customProperty="" helpURL=""
                        image="../Resources/Controls/ColorSchemeManager/ToolBar/ColorScheme.png" index="3"
                        label="颜色方案..." onAction="CtrlActionColorScheme" screenTip="颜色方案管理器用来对程序中的颜色方案进行定制和管理。"
                        screenTipImage="" visible="true" width="0"/>
            </group>
        </frameMenu>
    </frameMenus>
    <dockbars>
        <dockbar label="输出窗口" dockstate="docked" visible="true" control="com.supermap.desktop.ui.OutputFrame"/>
        <dockbar label="工作空间管理器" dockstate="docked" visible="true"
                 control="com.supermap.desktop.ui.WorkspaceComponentManager"/>
        <dockbar label="图层管理器" dockstate="docked" visible="true"
                 control="com.supermap.desktop.ui.LayersComponentManager"/>
        <dockbar label="属性" dockstate="docked" visible="false"
                 control="com.supermap.desktop.controls.property.DataPropertyContainer"/>
    </dockbars>
    <statusbars/>
    <toolBars>
        <toolbar id="main" index="0" label="标准" visible="true">
            <separator index="19"/>
            <button checkState="false" image="../Resources/Controls/ColorSchemeManager/ToolBar/ColorScheme.png"
                    index="20" label="颜色方案..." onAction="CtrlActionColorScheme" screenTip="颜色方案管理器用来对程序中的颜色方案进行定制和管理。"
                    screenTipImage="" shortcutKey="" visible="true"/>
        </toolbar>
    </toolBars>
    <contextMenus>
        <contextMenu id="SuperMap.Desktop.UI.Output.ContextMenu" index="1" label="输出窗口_右键菜单">
            <group id="Copy" index="1" label="复制" visible="true">
                <button checkState="false" image="" index="0" label="复制" onAction="CtrlActionOutputCopy" screenTip=""
                        screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Clear" index="2" label="清除" visible="true">
                <button checkState="false" image="" index="0" label="清除" onAction="CtrlActionOutputClear" screenTip=""
                        screenTipImage="" shortcutKey="" visible="true"/>
            </group>
            <group id="Time" index="3" label="时间" visible="true">
                <button checkState="false" image="" index="0" label="时间" onAction="CtrlActionOutputTime" screenTip=""
                        screenTipImage="" shortcutKey="" visible="true"/>
            </group>
        </contextMenu>
    </contextMenus>
</plugin>
