<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="Frame Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="SuperMap.Desktop.Frame" url="www.supermap.com.cn">
  <runtime bundleName="./Plugins/Frame/SuperMap.Desktop.Frame.jar" enabled="True"/>
  <frameMenus>
    <frameMenu formClass="" id="main" index="0" label="文件" visible="true">      
      <group id="Exit" index="6" label="退出" visible="true">
        <!--<buttonDropdown id="" image="../Resources/Frame/Icon/Home/Account/Image_UserDefault.png" index="5" label="登录" visible="true"/>-->
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Frame/Menu/File/ApplicationExit.png" index="6" label="退出" onAction="CtrlActionApplicationExit" screenTip="关闭应用程序中打开的所有窗口。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>
    <frameMenu formClass="" id="View" index="4" label="视图" visible="true">
      <!--<group id="Toolbox" index="1" label="工具栏" visible="true">
        <buttonDropdown id="Toolbox" image="" index="0" label="工具栏" visible="true">
          <group id="toolbar" index="0" label="" visible="true">
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/White.png" index="" label="标准" onAction="CtrlActionToolbarStandard" screenTip="使用默认的”白色“主题方案" screenTipImage="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/Silver.png" index="" label="视图" onAction="CtrlActionToolbarView" screenTip="使用默认的”银白“主题方案" screenTipImage="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/DarkGrey.png" index="" label="数据" onAction="CtrlActionToolbarData" screenTip="使用默认的”深灰“主题方案" screenTipImage="" visible="true"/>            
            <button checkState="false" image="" index="" label="分析" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="对象绘制" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="对象编辑" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="量算" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="图层风格" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="地图设置" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="捕捉设置" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="场景操作" onAction="" screenTip="" screenTipImage="" visible="true"/>
            <button checkState="false" image="" index="" label="飞行管理" onAction="" screenTip="" screenTipImage="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>-->
      <group id="View" index="2" label="视图" visible="true">
        <button checkState="true" customProperty="" helpURL="" image="" index="0" label="工作空间管理器" onAction="CtrlActionWorkspaceManager" screenTip="控制工作空间管理器窗口是否显示，选中该复选框，显示；否则不显示。" screenTipImage="" visible="true" width="0"/>
        <button checkState="true" customProperty="" helpURL="" image="" index="1" label="图层管理器" onAction="CtrlActionLayersManager" screenTip="控制图层管理器窗口是否显示，选中该复选框，显示；否则不显示。" screenTipImage="" visible="true" width="0"/>
        <button checkState="false" customProperty="" helpURL="" image="../Resources/Frame/Menu/View/Output.png" index="2" label="输出窗口" onAction="CtrlActionOutput" screenTip="控制输出窗口是否显示，选中该复选框，显示；否则不显示。" screenTipImage="" visible="true" width="0"/>
      </group>
      <group id="Window" index="4" label="窗口" visible="true">
        <!--<button checkState="false" customProperty="" helpURL="Features/BasicContents\View\WindowsArrange.htm" image="../Resources/Frame/Icon/Window/Horizontal.png" index="1" label="水平平铺" onAction="CtrlActionWindowsHorizontal" screenTip="当窗口模式为叠加模式时，水平排列应用程序中打开的所有窗口。" screenTipImage="" shortcutKey="[Alt]+[H]" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/BasicContents\View\WindowsArrange.htm" image="../Resources/Frame/Icon/Window/Vertical.png" index="2" label="垂直平铺" onAction="CtrlActionWindowsVertical" screenTip="当窗口模式为叠加模式时，垂直排列应用程序中打开的所有窗口。" screenTipImage="" shortcutKey="[Alt]+[V]" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features\Visualization\BrowseMap\WindowsBinding.htm" image="../Resources/Frame/Icon/Home/Window/BindWindow.png" index="3" label="关联浏览" onAction="_CtrlActionBind" screenTip="设置相互绑定的窗口，绑定的窗口可以实现窗口间的联动操作。" screenTipImage="" shortcutKey="" visible="true"/>
        <button checkState="false" customProperty="" helpURL="Features/BasicContents/View/FullScreen.htm" image="../Resources/Frame/Icon/Window/FullScreen.PNG" index="4" label="全屏显示" onAction="_CtrlActionFullScreen" screenTip="设置应用程序中的窗口全屏显示。" screenTipImage="" shortcutKey="F11" visible="true"/>-->
        <button checkState="false" customProperty="" helpURL="Features/BasicContents\View\CloseAllWindowsButton.htm" image="../Resources/Frame/Icon/Window/CloseAll.png" index="5" label="全部关闭" onAction="CtrlActionWindowsCloseAll" screenTip="关闭应用程序中打开的所有窗口。" screenTipImage="" shortcutKey="" visible="true"/>
        <!--<button checkState="false" customProperty="" helpURL="Features/BasicContents\View\CloseAllWindowsButton.htm" image="../Resources/Frame/Icon/Home/Window/CloseAll.png" index="6" label="窗口管理" onAction="_CtrlActionWindowsManager" screenTip="关闭应用程序中打开的所有窗口。" screenTipImage="" shortcutKey="" visible="true"/>-->
      </group>
      <!--<group id="TextStyleTemplate" index="9" label="主题" visible="true">
        <buttonDropdown id="StyleTemplate" image="../Resources/Frame/Menu/View/StyleTemplate.png" index="0" label="主题风格" visible="true">
          <group id="StyleTemplate" index="0" label="" visible="true">
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/White.png" index="0" label="白色" onAction="_CtrlActionDefaultThemes" screenTip="使用默认的”白色“主题方案" screenTipImage="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/Silver.png" index="1" label="银色" onAction="_CtrlActionDefaultThemes" screenTip="使用默认的”银白“主题方案" screenTipImage="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/DarkGrey.png" index="2" label="深灰" onAction="_CtrlActionDefaultThemes" screenTip="使用默认的”深灰“主题方案" screenTipImage="" visible="true"/>
            <button checkState="false" customProperty="" helpURL="Features\UserCustom\ThemeStlyeSetting.htm" image="../Resources/Frame/Icon/Home/ThemeStyles/Blue.png" index="3" label="蓝色" onAction="_CtrlActionDefaultThemes" screenTip="使用默认的”蓝色“主题方案" screenTipImage="" visible="true"/>
          </group>
        </buttonDropdown>
      </group>-->
    </frameMenu>
    <!--<frameMenu formClass="" id="Tool" index="20" label="工具" visible="true">
      <group id="Option" index="21" label="选项" visible="true">
        <button checkState="false" customProperty="" helpURL="Features/Install/Updater.htm" image="..\Resources\Assistance\Icon\VersionCheck.png" index="20" label="选项" onAction="SuperMap.Desktop._CtrlActionVersionCheck" screenTip="检查iDesktop是否有可用的新版本。" screenTipImage="" shortcutKey="" visible="true"/>
      </group>
    </frameMenu>-->
  </frameMenus>
  <toolbars>
    <toolbar id="main" index="0" label="标准" visible="true">
      <button checkState="false" image="../Resources/Frame/Toolbar/Home/WorkspaceManager.png" index="15" label="工作空间管理器" onAction="CtrlActionWorkspaceManager" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/Frame/Toolbar/Home/LayersManager.png" index="16" label="图层管理器" onAction="CtrlActionLayersManager" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
      <button checkState="false" image="../Resources/Frame/Toolbar/Home/Output.PNG" index="17" label="输出窗口" onAction="CtrlActionOutput" screenTip="" screenTipImage="" shortcutKey="" visible="true"/>
    </toolbar>
  </toolbars>
  <dockbars>
  </dockbars>
  <statusbars>
  </statusbars>

  <contextMenus>
  </contextMenus>

</plugin>
