<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" name="SuperMap.Desktop.SpatialAnalyst" author="SuperMap" url="www.supermap.com.cn" description="SpatialAnalyst Plugin" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/">
  <runtime bundleName="./Plugins/SpatialAnalyst/SuperMap.Desktop.SpatialAnalyst.dll" enabled="True" />
  <frameMenus>
	<!--
    <frameMenu index="12" id="DataProcess" label="数据处理" formClass="" visible="true">
      <group index="5" id="Grid" label="栅格分析" visible="true">
        <button index="10" label="查询栅格值" visible="true" checkState="false" onAction="CtrlActionQueryGridValueByMouse" image="../Resources/SpatialAnalyst/Menu/QueryGridValueByMouse.png" shortcutKey="" screenTip="查询鼠标所在位置的栅格值。查询结果会显示该栅格单元所在的数据源、数据集、坐标值、行列号以及栅格值。" screenTipImage="" helpURL="Features/Analyst/SurfaceAnalyst/FindRasterVaule.htm" customProperty="" />
      </group>
    </frameMenu>
	-->
    <frameMenu index="16" id="SpatialAnalyst" label="分析" formClass="" visible="true">
      <group index="1" id="RibbonGroup" label="矢量分析" visible="true">
        <button index="0" label="缓冲区" visible="true" checkState="false" onAction="CtrlActionBufferAnalyst" image="../Resources/SpatialAnalyst/Menu/BufferAnalyst.png" shortcutKey="" screenTip="指根据指定的距离，在点、线、面几何对象周围自动建立一定宽度的区域的分析方法。" screenTipImage="" helpURL="Features\Analyst\Vector\bufferanalyst\SingleBuffer.htm" customProperty="" />
        <!-- <button index="1" label="多重缓冲区" visible="true" checkState="false" onAction="CtrlActionMultiBufferAnalyst" image="" shortcutKey="" screenTip="在几何对象周围的指定距离内创建多个缓冲区域。" screenTipImage="" helpURL="Features\Analyst\Vector\bufferanalyst\MutilBuffer.htm" customProperty="" /> -->
      </group>
	   <group index="2" id="Grid" label="栅格分析" visible="true">
        <button index="1" label="查询栅格值" visible="true" checkState="false" onAction="CtrlActionQueryGridValueByMouse" image="../Resources/SpatialAnalyst/Menu/QueryGridValueByMouse.png" shortcutKey="" screenTip="查询鼠标所在位置的栅格值。查询结果会显示该栅格单元所在的数据源、数据集、坐标值、行列号以及栅格值。" screenTipImage="" helpURL="Features/Analyst/SurfaceAnalyst/FindRasterVaule.htm" customProperty="" />
      </group>
    <!--   <group id="OverlayAnalyst" label="" index="" visible="">
        <button index="1" label="叠加分析" visible="true" checkState="false" onAction="CtrlActionOverlayAnalyst" image="../Resources/SpatialAnalyst/Menu/OverlayAnalyst.png" shortcutKey="" screenTip="通过对空间数据的分析，提取用户需要的新的空间几何信息。" screenTipImage="" helpURL="Features\Analyst\Vector\overlayanalyst\Clipbutton.htm" customProperty="" />
      </group>
      <group index="4" id="Raster" label="栅格分析" visible="true">
        <buttonDropdown index="1" id="ButtonDropDown" label="表面分析" visible="true" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\SurfaceAnalyst.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="提取所有等值线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionExtrsctIsoLineAll" image="" shortcutKey="" screenTip="通过指定参数提取栅格表面中所有的符合条件的等值线。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/DriveContourAll.htm" customProperty="" />
            <button index="1" label="提取所有等值面" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionExtrsctIsoRegionAll" image="" shortcutKey="" screenTip="提取所有等值面通过指定参数提取栅格表面中所有的符合条件的等值面。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/DriveRegionAll.htm" customProperty="" />
            <button index="2" label="提取指定等值线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionExtrsctIsoLineSpecify" image="" shortcutKey="" screenTip="按照需要提取一定数量的特定值的等值线。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/DriveContourSpecific.htm" customProperty="" />
            <button index="3" label="提取指定等值面" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionExtrsctIsoRegionSpecify" image="" shortcutKey="" screenTip="按照用户的需要提取一定数量的特定值的等值面。既可以直接输入特定值，也可以根据设置的范围和间隔自动生成。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/DriveRegionSpecific.htm" customProperty="" />
            <button index="4" label="点选提取等值线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionExtrsctIsoLineClick" image="" shortcutKey="" screenTip="提取鼠标点击位置处高程值相等的所有等值线。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/DriveContourPoint.htm" customProperty="" />
            <button index="5" label="点数据提取等值线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSurfaceExtractDatasetPoint" image="" shortcutKey="" screenTip="通过指定参数提取点数据集中所有符合条件的等值线。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/ExtractIsoline.htm" customProperty="" />
          </group>
          <group id="" label="" index="" visible="">
            <button index="6" label="可视域" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionViewShed" image="" shortcutKey="" screenTip="可视域分析是在栅格数表面，对于一个或者多个观察点，基于一定的相对高度，提取给定长度范围和方向范围内所能看到的区域，并将分析结果输出为一个栅格数据集。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/ViewShedAnalyst.htm" customProperty="" />
            <button index="7" label="两点可视性" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionVisibilityLine" image="" shortcutKey="" screenTip="根据给定的观察点和被观察点，在输入的栅格表面上对这两个点之间能否相互通视进行分析。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/TwoObserverVisibility.htm" customProperty="" />
            <button index="8" label="多点可视性" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMultiVisibility" image="" shortcutKey="" screenTip="对多个观察点和被观察点，在输入的栅格数据表面上是否能两两相互通视进行分析。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/MutilObserverVisibility.htm" customProperty="" />
          </group>
          <group id="" label="" index="" visible="">
            <button index="11" label="坡度分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCalculateSlope" image="" shortcutKey="" screenTip="计算栅格数据集（DEM）各个像元的坡度。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/Slope.htm" customProperty="" />
            <button index="12" label="坡向分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCalculateAspect" image="" shortcutKey="" screenTip="用于计算栅格数据集（DEM）中各个像元的坡度面的朝向。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/Aspect.htm" customProperty="" />
          </group>
          <group id="" label="" index="" visible="">
            <button index="14" label="填挖方" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCutFillWithDatasetGrid" image="" shortcutKey="" screenTip="用于描述两个栅格数据集（填挖方前和填挖方后）之间体积和面积的变化，“填方”表示表面区域物质的增加，“挖方”表示表面区域物质的减少。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/CutFill.htm" customProperty="" />
            <button index="15" label="面填挖方" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCutFillWithGeometry" image="" shortcutKey="" screenTip="根据面数据集指定的范围和高度，对栅格数据集进行挖方。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/CutFillRegion.htm" customProperty="" />
          </group>
          <group id="" label="" index="" visible="">
            <buttonDropdown index="17" id="SurfaceDistance" label="表面距离" visible="true" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/SurfaceDistance.png" >
              <group id="" label="" index="" visible="">
                <button index="0" label="绘制线" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDrawLineSurfaceDistance" image="" shortcutKey="" screenTip="计算绘制的线对象沿栅格曲面起伏的地表距离。" screenTipImage=""  />
                <button index="0" label="选中线对象" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSelectedLineSurfaceDistance" image="" shortcutKey="" screenTip="计算选中线对象沿栅格曲面起伏的地表距离。" screenTipImage=""  />
              </group>
            </buttonDropdown>
            <buttonDropdown index="18" id="SurfaceArea" label="表面面积" visible="true" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/SurfaceArea.png">
              <group id="" label="" index="" visible="">
                <button index="0" label="绘制多边形" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDrawRegionSurfaceArea" image="" shortcutKey="" screenTip="计算绘制的多边形所覆盖的栅格曲面的表面面积。" screenTipImage=""  />
                <button index="0" label="选中多边形对象" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSurfaceAreaBySelectedRegion" image="" shortcutKey="" screenTip="计算选中多边形所覆盖的栅格曲面的表面面积。" screenTipImage=""  />
              </group>
            </buttonDropdown>
            <buttonDropdown index="19" id="SurfaceVolumn" label="表面体积" visible="true" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/SurfaceVolumn.png" >
              <group id="" label="" index="" visible="">
                <button index="0" label="绘制多边形" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDrawRegionSurfaceVolumn" image="" shortcutKey="" screenTip="计算绘制的多边形所覆盖的栅格曲面一定高度范围内的体积。" screenTipImage=""  />
                <button index="0" label="选中多边形对象" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSurfaceVolumnBySelectedRegion" image="" shortcutKey="" screenTip="计算选中多边形所覆盖的栅格曲面一定高度范围的体积。" screenTipImage=""  />
              </group>
            </buttonDropdown>
          </group>
          <group id="" label="" index="" visible="">
            <button index="21" label="剖面分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCalculateProfile" image="" shortcutKey="" screenTip="用于根据给定的线路查看栅格表面沿该线路的剖面，并得到剖面线和采样点集合。" screenTipImage="" helpURL="Features/Analyst/Raster/Profile/Profile.htm" customProperty="" />
            <button index="22" label="DEM切割" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSplitDEM" image="" shortcutKey="" screenTip="根据给定的一条二维线（称为“切割线”）对栅格数据集进行切割，切割的结果为两个新的栅格数据集，分别为切割线左侧和右侧的部分。" screenTipImage="" helpURL="Features/Analyst/TerrainBuilder/TerrainBuilderLake.htm" customProperty="" />
            <button index="23" label="DEM曲率计算" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCalculateCurvature" image="" shortcutKey="" screenTip="根据输入的栅格数据，生成相应的曲率栅格数据集。" screenTipImage="" helpURL="Features/Analyst/TerrainBuilder/TerrainBuilderLake.htm" customProperty="" />
          </group>
          <group id="" label="" index="" visible="">
            <buttonDropdown index="25" id="查找极值" label="查找极值" visible="true" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/FindExtreme.png" >
              <group id="" label="" index="" visible="">
                <button index="0" label="区域查找极值" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSelectRegionFindExtremum" image="" shortcutKey="" screenTip="在栅格数据上，指定的区域范围内（区域数据，必须是矢量面数据），进行极值点的查找（包括最高点和最低点）。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/FindExtreme.htm" customProperty="" />
                <button index="0" label="绘制区域查找" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDrawRegionFindExtremum" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/FindExtreme.png" shortcutKey="" screenTip="在栅格数据上，采用绘制的多边形的方式确定的区域范围内，进行极值点的查找（包括最高点和最低点）。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/FindExtreme.htm" customProperty="" />
              </group>
            </buttonDropdown>
          </group>
          <group id="" label="" index="" visible="">
            <button index="27" label="正射三维影像" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionOrthoImage" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/OrthoImage.png" shortcutKey="" screenTip="根据输入的栅格数据，生成对应的正射三维影像。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/OrthoImage.htm" customProperty="" />
            <button index="28" label="三维晕渲图" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionHillShade" image="../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/SurfaceAnalyst/HillShade.png" shortcutKey="" screenTip="根据栅格表面光源的角度和阴影，生成三维晕渲图。" screenTipImage="" helpURL="Features/Analyst/Raster/SurfaceAnalyst/HillShade.htm" customProperty="" />
          </group>
        </buttonDropdown>
        <buttonDropdown index="2" id="栅格统计" label="栅格统计" visible="true" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/Statistics_Large.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="基本统计" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionBasicStatistics" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/StatisticsAnalyst/BasicStatistics.png" shortcutKey="" screenTip="根据输入的栅格数据计算每个像元的基本统计信息进行统计。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/BasicStatistic.htm" customProperty="" />
            <button index="1" label="常用统计" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlAcitonCommonStatistics" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/StatisticsAnalyst/CommonStatistic.png" shortcutKey="" screenTip="用于将输入栅格与某一个固定值或者与其他栅格数据集（一个或者多个）比较的结果进行统计。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/CommonStatistic.htm" customProperty="" />
            <button index="2" label="邻域统计" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionNeighbourStatistics" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/StatisticsAnalyst/NeighbourStatistics.png" shortcutKey="" screenTip="对数据集中的每个像元值的邻域范围内的像元进行统计。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/NeighbourStatistic.htm" customProperty="" />
            <button index="3" label="区域统计" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionZonalStatistic" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/StatisticsAnalyst/ZonalStatistic.png" shortcutKey="" screenTip="根据一个数据集所包含的不同类别的区域范围（区域数据，矢量面数据或者栅格数据）对另一个数据集（值数据，必须为栅格数据）进行统计。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/ZonalStatistic.htm" customProperty="" />
            <button index="4" label="高程统计" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlAcitonAltitudeStatistic" image=".../Resources/SpatialAnalyst/Icon/SpatialAnalyst/RasterAnalyst/StatisticsAnalyst/AltitudeStatistic.png" shortcutKey="" screenTip="根据栅格数据的高程信息，获取点数据（二维）对应的高程信息，并将结果输出为三维点数据集。" screenTipImage="" helpURL="Features/Analyst/Raster/Statistic/AltitudeStatistic.htm" customProperty="" />
          </group>
        </buttonDropdown>
        <buttonDropdown index="3" id="RasterVectorTransform" label="矢栅转换" visible="true" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\Convertion.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="栅格矢量化" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionConvertToVector" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\ConvertionAnalyst\RasterToVector.png" shortcutKey="" screenTip="对栅格数据进行矢量化处理，可以将栅格数据集转化成点、线、面数据集。" screenTipImage="" helpURL="Features/Analyst/VectorRasterConvert/RasterToVector.htm" customProperty="" />
            <button index="1" label="矢量栅格化" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionConvertToGrid" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\ConvertionAnalyst\VectorToRaster.png" shortcutKey="" screenTip="将矢量数据集转换为栅格数据集。" screenTipImage="" helpURL="Features/Analyst/VectorRasterConvert/VectortoRaster.htm" customProperty="" />
            <button index="2" label="栅格细化" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionThinRaster" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\ConvertionAnalyst\ThinRaster.png" shortcutKey="" screenTip="指在矢量化前先对栅格数据进行细化处理，只适用于栅格数据转矢量线数据的过程。" screenTipImage="" helpURL="Features/Analyst/VectorRasterConvert/RasterToVector.htm" customProperty="" />
          </group>
        </buttonDropdown>
        <buttonDropdown index="4" id="DistanceAnalyst" label="距离栅格" visible="true" image="../Resources/SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\Distance.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="生成距离栅格" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionDistanceGrid" image="../Resources/SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\DistanceAnalyst\DistanceGrid.png" shortcutKey="" screenTip="用于计算栅格数据的每个像元与源数据的距离。" screenTipImage="" helpURL="Features/Analyst/Raster/Distance/StraightLine.htm" customProperty="" />
            <button index="0" label="计算最短路径" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCostPath" image="../Resources/SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\DistanceAnalyst\CostPath.png" shortcutKey="" screenTip="根据生成的距离栅格数据集，计算每个目标点到最近源的最短路径。" screenTipImage="" helpURL="Features/Analyst/Raster/Distance/ShortPath.htm" customProperty="" />
            <button index="0" label="两点最短地表路径" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSurfacePathLine" image="../Resources/SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\DistanceAnalyst\SurfacePathLine.png" shortcutKey="" screenTip="计算指定的源和目标点之间（两个点）的最短地表路径。" screenTipImage="" helpURL="Features/Analyst/Raster/Distance/TwoPointDis.htm" customProperty="" />
            <button index="0" label="两点最小耗费路径" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionCostPathLine" image="../Resources/SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\DistanceAnalyst\CostPathLine.png" shortcutKey="" screenTip="计算指定的源和目标点之间（两个点）的最小耗费路径。" screenTipImage="" helpURL="Features/Analyst/Raster/Distance/TwoPointDis.htm" customProperty="" />
          </group>
        </buttonDropdown>
        <button index="5" label="插值分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionInterpolatorIDW" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\Interpolator.png" shortcutKey="" screenTip="通过已知点或分区的数据，推求任意点或分区数据的方法，常用于根据离散的采样点来获取连续的表面。" screenTipImage="" helpURL="Features/Analyst/Raster/interpolation/IDWinterpolation.htm" customProperty="" />
        <button index="6" label="核密度分析" visible="true" checkState="false" onAction="SuperMap.Desktop.CtrlActionKernelDensity" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\DensityAnalyst.png" shortcutKey="" screenTip="将每个点或线对象的测量值分布在整个研究区域，并计算每个输出栅格像元周围圆形邻域内输入的点或线对象的密度。" screenTipImage="" helpURL="Features/Analyst/Raster/interpolation/IDWinterpolation.htm" customProperty="" />
        <button index="7" label="太阳辐射" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSolarRadiation" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\SolarRadiation.png" shortcutKey="" screenTip="计算某一地理区域太阳辐射入射量" screenTipImage="" helpURL="Features/Analyst/SurfaceAnalyst/FindRasterVaule.htm" customProperty="" />
        <button index="9" label="直方图" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionGraphHistogram" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\Histogram.png" shortcutKey="" screenTip="提供了栅格数据中像元的统计数据和分布情况。" screenTipImage="" helpURL="Features/Analyst/Raster/Histograms.htm" customProperty="" />
        <button index="10" label="查询栅格值" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionQueryGridValueByMouse" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\QueryValueByMouse.png" shortcutKey="" screenTip="查询鼠标所在位置的栅格值。查询结果会显示该栅格单元所在的数据源、数据集、坐标值、行列号以及栅格值。" screenTipImage="" helpURL="Features/Analyst/SurfaceAnalyst/FindRasterVaule.htm" customProperty="" />
      </group>
      <group index="5" id="Interpolator" label="插值分析" visible="true">
        <button index="5" label="插值分析" visible="true" checkState="false" onAction="CtrlActionInterpolator" image="../Resources/SpatialAnalyst/Menu/Interpolator.png" shortcutKey="" screenTip="通过已知点或分区的数据，推求任意点或分区数据的方法，常用于根据离散的采样点来获取连续的表面。" screenTipImage="" helpURL="Features/Analyst/Raster/interpolation/IDWinterpolation.htm" customProperty="" />
      </group>
      <group index="5" id="3DAnalyst" label="三维分析" visible="true">
        <buttonDropdown index="1" id="RealspaceAnalyst" label="三维分析" visible="true" image="..\Resources\SpatialAnalyst\Icon\SpatialAnalyst\RasterAnalyst\SurfaceAnalyst.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="坡度坡向分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSlopeAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Slope.png" shortcutKey="" screenTip="三维场景下,绘制或选择一个三维面。计算该区域内各像元的坡度值，及像元坡度面的朝向。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/Slope.htm" customProperty="" />
            <button index="1" label="等值线分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionContourMapAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_ContourMap.png" shortcutKey="" screenTip="三维场景下，绘制或选择一个三维面，提取该区域的等值线。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/Contour.htm" customProperty="" />
            <button index="2" label="淹没分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionFloodAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Flood.png" shortcutKey="" screenTip="三维场景下，绘制或选择一个三维面。根据指定的最大、最小高程值及淹没速度。动态模拟某区域水位由最小高程涨到最大高程的淹没过程。" screenTipImage=""  />
            <button index="2" label="通视分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSightlineAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Sightline.png" shortcutKey="" screenTip="三维场景下，绘制观察点与被观察点,进行多点通视分析。分析结果将沿着输入视线的可见与不可见部分进行划分，绿色表示可见，红色表示不可见。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/VisibilityAnalyst3D.htm" customProperty="" />
            <button index="3" label="可视域分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionViewshed3DAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Viewshed3D.png" shortcutKey="" screenTip="三维场景下，指定一个观察点，基于一定的水平视角、垂直视角及指定范围半径，分析该区域内的通视情况。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/Viewshed3D.htm" customProperty="" />
            <button index="4" label="动态可视域" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionViewShed3DDynamicAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Viewshed3DDynamic.png" shortcutKey="" screenTip="三维场景下，绘制或选择一条线，基于一定的水平视角、垂直视角及指定范围半径。分析沿路线行驶过程中的指定范围内的通视情况。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/DynamicViewshed3D.htm" customProperty="" />
            <button index="5" label="日照分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionShadowAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Shadow.png" shortcutKey="" screenTip="三维场景下，绘制或选择一个三维面，计算该区域中特定时段的采光率。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/DynamicViewshed3D.htm" customProperty="" />
            <button index="6" label="剖面分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionProfileAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Profile.png" shortcutKey="" screenTip="三维场景下，绘制一条直线，输出剖面线与地形数据的表面高程沿某条线（截面）的变化，或剖面线所截的模型建筑物、地下管线等的轮廓线。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/DynamicViewshed3D.htm" customProperty="" />
            <button index="7" label="天际线分析" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionSkylineAnalyst" image="..\Resources\RealspaceSpatialAnalyst\Icon\Image_Skyline.png" shortcutKey="" screenTip="三维场景下，将当前视角作为观察点，或指定观察点，生成当前场景窗口中建筑物顶端边缘与天空的相交线。" screenTipImage="" helpURL="Features/SceneOperation/RealspaceSpatialAnalyst/Skyline.htm" customProperty="" />
          </group>
        </buttonDropdown>
      </group> -->
    </frameMenu>
    <!--<frameMenu index="100" id="MapOperation" label="地图" formClass="SuperMap.Desktop.FormMap" visible="true">
      <group index="5" id="MapClip" label="地图裁剪" visible="true">
        <buttonDropdown index="0" id="地图裁剪" label="地图裁剪" visible="true" image="..\Resources\SpatialAnalyst\Icon\MapClip\MapClipRectangle.png">
          <group id="" label="" index="" visible="">
            <button index="0" label="矩形裁剪" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMapClipRectangle" image="..\Resources\SpatialAnalyst\Icon\MapClip\RectangleClip.png" shortcutKey="" screenTip="通过指定的矩形范围对地图窗口中的指定图层进行区域裁剪。" screenTipImage="" helpURL="Features/DataProcessing/ClippingMap/RecanlgeClip.htm" customProperty="" />
            <button index="0" label="圆形裁剪" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMapClipCircle" image="..\Resources\SpatialAnalyst\Icon\MapClip\CircularClip.png" shortcutKey="" screenTip="通过指定的圆形范围对地图窗口中的指定图层进行区域裁剪。" screenTipImage="" helpURL="Features/DataProcessing/ClippingMap/CircleClip.htm" customProperty="" />
            <button index="0" label="多边形裁剪" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMapClipPolygon" image="..\Resources\SpatialAnalyst\Icon\MapClip\PolygonClip.png" shortcutKey="" screenTip="通过指定的多边形范围对地图窗口中的指定图层进行区域裁剪。" screenTipImage="" helpURL="Features/DataProcessing/ClippingMap/PGNClip.htm" customProperty="" />
            <button index="0" label="选中对象区域裁剪" visible="true" checkState="false" onAction="SuperMap.Desktop._CtrlActionMapClipSelect" image="..\Resources\SpatialAnalyst\Icon\MapClip\SelcetObjectClip.png" shortcutKey="" screenTip="通过选中对象区域对地图窗口中的指定图层进行区域裁剪。" screenTipImage="" helpURL="Features/DataProcessing/ClippingMap/FeatureClip.htm" customProperty="" />
          </group>
        </buttonDropdown>
      </group>
    </frameMenu>-->
  </frameMenus>
  <dockbars>
  </dockbars>
  <contextMenus />
</plugin>