<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin xmlns="http://www.supermap.com.cn/desktop" author="SuperMap" description="UserPlugin_PathAnalyst" helpLocalRoot="..\Help\WebHelp\" helpOnlineRoot="http://support.supermap.com.cn/onlinedoc/deskpronet/" name="UserPlugin_PathAnalyst" url="www.supermap.com.cn">
  <runtime bundleName="UserPlugin_PathAnalyst" enabled="True"/>
  <frameMenus>
    <frameMenu id="PathAnalyst" index="3000" label="路径分析" visible="true">
      <group>
        <button index="0" label="开始分析" onAction="PathAnalystCtraAction" visible="true"/>
      </group>
    </frameMenu>
  </frameMenus>
</plugin>
