layout: index
description: SuperMap iDesktop Cross 8C是一款支持跨平台的桌面GIS应用与开发平台，是超图新一代的开源GIS桌面产品。
subtitle: SuperMap iDesktop Cross 8C
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-bell-o
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/index.html' target='_self') 产品入门
      p.intro-feature-desc SuperMap iDesktop Cross 8C 是一款支持跨平台、全开源的桌面GIS应用与开发平台系统，可在 Windows 和 Linux 系统上运行，实现了 GIS 数据在跨平台环境下的展示。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/DataProcess/TopoProcess.html') 数据处理与分析
      p.intro-feature-desc 提供丰富的矢量和删格数据处理和分析功能，包括拓扑处理、SQL查询、投影、栅格查询、缓冲区分析等，同时支持对象绘制与编辑。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-map-marker
      h3.intro-feature-title
        a.intro-feature-title-a(href='docs/Map/ThematicMap.html') 地图制图
      p.intro-feature-desc SuperMap iDesktop Cross 8C 支持多种类型专题图的制作，同时提供了丰富的符号资源，便于用户制作美观的地图。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-sitemap
      h3.intro-feature-title
        a.intro-feature-title-a 工作流
      p.intro-feature-desc 工作流集合了丰富的数据处理和数据分析建模功能，用户可根据需要设计可连续执行的工作流程，实现了无人值守、一键化的连续操作。